[2022-09-16 05:39] laeubi commented on #309
Actually that is how maven works, can you give an example of "the name of a pom can be any valid file name" if not given explicitly on the commandline with `--file` ? Do you mean e.g. in parent references?

Seems reasonable, can you do that in your PR.

Don't hesitate to ask here and as you do not need to create one from scratch just try it out :+1:

[2022-09-16 08:41] DieterMai commented on #309
Regarding

What i mean is that the file name of a pom can be any valid filename when specified on the command line with --file, which is the case here. the following command line will always fail
`mvn -f "Anything else then pom.xml" org.eclipse.tycho:tycho-versions-plugin:update-pom`

Ok, i'll do it later

[2022-09-16 08:52] laeubi commented on #309
Alright, then your next step could be to read the passed file from the Maven Session and the fetch the MavenExcution request that has a "getPom" and then hopefully there you find "Anything else then pom.xml" that could additionally be considered :-)

[2022-09-16 09:46] mickaelistria commented on #950
https://github.com/eclipse-tycho/tycho/pull/1351 is expected to fix it, however it's very hard to create an integration test using toolchains, so it's not covered by automated test.

[2022-09-16 15:12] #950 closed

[2022-09-18 05:00] sravanlakkimsetti opened #1354 "Eclipse platform build is failing with tycho version 3.0.0-SNAPSHOT with java 17"
The build fails with the following error
[code]

I tried using Tycho 2.7.3 and 2.7.5, the build procced the above failure point.
This problem first noticed on Fri Sep 16 14:00:00 EDT 2022.  log: https://ci.eclipse.org/releng/view/Builds/job/Y-build-4.25/134/

notifications: @tjwatson @mickaelistria @akurtakov

[2022-09-18 05:26] laeubi commented on #1354
@sravanlakkimsetti can we please enable the -e switch for the build?

I think this should be enabled by default

I tried to reproduce this locally but all succeeds so there must be something special and a stacktrace would help.

[2022-09-18 05:30] laeubi commented on #1354
I also see it here https://github.com/eclipse-platform/eclipse.platform.text/pull/88 and started a build with that option, lets see if that reveals some more information.

[2022-09-18 05:43] laeubi commented on #1354
Also @iloveeclipse

The full stack trace is:
[code]

I'll take a look ...

[2022-09-18 05:46] akurtakov commented on #1354
One has to try with BREE and all JVMs properly configured and preferably with same versions of the JVMs to have hope to reproduce. It wouldn't be the first time we face issue when not using latest version of JVM for the given stream. IIRC there was even a case where 1.8 had to be updated to latest for a fix for running in docker image.

[2022-09-18 05:49] #1345 closed

[2022-09-18 05:52] laeubi commented on #1354
I have Java 1.8, Java 11 and Java 17 configured, I'll try running with the java 11 as suggested.

By the way from the stack trace, the NPE is caused inside JDT not Tycho ...

[2022-09-18 05:54] iloveeclipse commented on #1354
?
Do you have another stack trace?

[2022-09-18 05:56] laeubi commented on #1354
I try to get one, the code failed here:

https://github.com/eclipse-tycho/tycho/blob/1c8749f1be986d1edb47f879190663f55f63f094/tycho-compiler-jdt/src/main/java/org/eclipse/tycho/compiler/jdt/JDTCompiler.java#L381-L384

that is it reports an error from EJC back to maven.

[2022-09-18 06:00] iloveeclipse commented on #1354
So this could be another hint that #1351 is related. Why not revert that change?

[2022-09-18 06:01] laeubi commented on #1354
No luck :-(

[code]

Full log is here: https://ci.eclipse.org/platform/job/eclipse.platform.text/job/PR-88/4/console

JDT compiler args: [-warn:-deprecation,unavoidableGenericProblems,warningToken, -verbose, -inlineJSR, -enableJavadoc, -encoding, UTF-8, -proceedOnError, -log, /home/jenkins/agent/workspace/eclipse.platform.text_PR-88/org.eclipse.text/target/compilelogs/@dot.xml, -s, /home/jenkins/a

[2022-09-18 06:03] sravanlakkimsetti commented on #1354
I am running the build again with -e -X https://ci.eclipse.org/platform/job/eclipse-aggregator-master/1370/console

[2022-09-18 06:03] laeubi commented on #1354
When we know what causing this and there is no fix yet (e.g. bug in JDT) we can revert this but unless it is not clear what is the root cause (and as all Tycho test pass) we should first investigate further.

[2022-09-18 06:27] laeubi commented on #1354
@akurtakov according to the build output the build is running with Java 17:
[code]
But the failure occured when passing the java 11 jvm
[code]
I still can now reproduce this locally ... it seems I have set `JAVA_HOME`=11 but my default java executable was Java 17 so it seems `JAVA_HOME` has some influence here...

[2022-09-18 06:32] laeubi commented on #983
Another (blocking) issue regarding Java 17 as it seems compiling with Java 11 fail under some circumstances when running with Java 17:

- https://github.com/eclipse-tycho/tycho/issues/1354

[2022-09-18 06:35] laeubi commented on #1354
@iloveeclipse can I pass an option to JDT to produce a stacktrace? I used `-verbose` but still get only a "short" message :-\

[2022-09-18 06:43] iloveeclipse commented on #1354
No idea, I don't know this code.

[2022-09-18 06:44] laeubi commented on #1354
I finally was able to extract the stacktrace using the debugger, see:

- https://github.com/eclipse-jdt/eclipse.jdt.core/issues/416

for a full trace.

[2022-09-18 06:48] akurtakov commented on #983
We should come to an agreement what "blocking" means. This issue popped up from the patch trying to compile targetting Java-17 while running Java-11 which IMHO shouldn't be blocking.

[2022-09-18 06:52] laeubi commented on #983
No this is the other way round, the build is running with java 17 (what we will enforce when using Java 17 as runtime requirement), while platform try compiling code for Java 11 with `useJDK=BREE` it is just that previously `useJDK=BREE` obviously has never did what is claims and has used the running JVM instead...

[2022-09-18 06:53] laeubi commented on #1099
This should be fixed in the Tycho 3.0.0 SNAPSHOT now!

[2022-09-18 06:53] #1099 closed

[2022-09-18 06:56] laeubi commented on #1325
@boglisGeorgiana can you explain how you are using custom touchpoints? Tycho has dropped support for the `tycho-bundles-external` product and is therefore using an old (2.5.7) version of it now.

[2022-09-18 07:10] iloveeclipse commented on #1354
So can we please now revert #1351 or fix tycho to pass "system" only below Java 9?

[2022-09-18 07:14] laeubi commented on #1354
I'm working on a fix, but what is the recommended approach then to compile with the "real" JVM for Java 9+?

[2022-09-18 08:27] laeubi commented on #1354
Lets see if the issue can be reproduced with the Tycho-Platform verification as well....
- https://github.com/eclipse-tycho/tycho/pull/1355

[2022-09-18 08:32] mickaelistria commented on #983
I think we can revert former patch.
But this story is not at all a blocker for making Java 17 a requirement. Similar issue is/was probably happening when targetting Java 11 while running build on Java 12.

[2022-09-18 08:35] laeubi commented on #983
I'm already working on a patch that fixes that so I thin no need to add more noise to the git-history...

Actually it revealed that `useJDK=BREE` is/was broken since `9+`, what might not be noticed as in most cases people either use Java 8 (where it worked) or Java 11+, but if we really switch to Java 17 this should work first.

[2022-09-18 08:47] mickaelistria commented on #983
Back to the initial issue, it's that someone targets a Java version X > Y
while running build with Java Y.
This case is a corner-case that isn't very well supported (one could argue
this case is an anti-pattern and should even be rejected).
Moving to Java 17 as build requirement would reduce the risk of X > Y, and
would reduce the risk of this issue to happen.
So Java 17 is more a possible workaro

[2022-09-18 09:47] laeubi commented on #983
@mickaelistria actually we have had multiple issues:

1. `jdk=BREE` not working as expected (either `X >= Y` or `Y <= X`) and actually using the build vm with `target`
2. fork not working
3. when Tycho would move to Java 17, then 1+2 would be required if compiling to "older" (e.g. java 11) what will be a major use-case and should be supported

I think https://github.com/eclipse-tycho/tycho/pull/13

[2022-09-18 11:39] #1354 closed

[2022-09-18 11:42] mickaelistria commented on #983
That shouldn't be a big deal with ECJ, it is something ECJ should be capable of doing without using a different version/jdk, unlike javac.

[2022-09-18 12:28] laeubi commented on #983
Technically you can use a striped down version of the JVM, so if we never pass that JVM to ECJ how should it know? Hopefully Tycho will already catch this but at least for `javac` it seem to produce slight different bytecodes when using a "real" Java versus a `--release` java

https://www.morling.dev/blog/bytebuffer-and-the-dreaded-nosuchmethoderror/

[2022-09-18 14:15] laeubi commented on #1354
There is still an issue because with the frok the arguments list can become (too) large:

I'll check if we can pass the arg to jdt as a file...

[2022-09-18 14:16] laeubi opened #1358 "tycho-compiler-plugin Argument list too long in forked mode"
Error:  Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:3.0.0-SNAPSHOT:compile (default-compile) on project org.eclipse.ant.ui: Fatal error compiling: Error while executing the external compiler. Error while executing process. Cannot run program "/opt/hostedtoolcache/Java_Adopt_jdk/11.0.11-9/x64/bin/java" (in directory "/home/runner/work/tycho/tycho/platform/eclipse.platform/ant/org

[2022-09-18 15:26] laeubi commented on #1165
@akurtakov @mickaelistria given that Tycho 3.x is a breaking-change and 2022-09 is already out, it might be ok to from now on only support the "new" names?

[2022-09-18 17:17] mickaelistria commented on #1165
There will most likely people who'll complain they're broken and interpret it as a regression, but that's not my case and I don't personally have any reason to support the older org.junit bundles from Orbit. So no objection to remove support.

[2022-09-18 21:56] fredg02 commented on #85
Thanks to @sewe for reporting the same problem that I had, to @laeubi for pointing to the workaround/solution and to @HannesWell for the fix.

I'm glad this did not turn into a https://xkcd.com/979/ situation. :)

[2022-09-19 04:44] laeubi commented on #1165
Alright, I started with adding a test that uses the JUnit5 container as a first step here:
https://github.com/eclipse-tycho/tycho/pull/1360

[2022-09-19 06:46] laeubi opened #1363 "Releasing Tycho 3.0.0"
This describes the steps to perform a release of Tycho:

- [x] Make sure all fixed issues and merged PRs have the correct milestone for this release, to finding PRs without milestone you can use the following filter `is:pr is:merged no:milestone` issues without milestone can be found with `is:issue no:milestone is:closed`
- [x] Prepare the [release notes](https://github.com/eclipse/tycho/blob/mast

[2022-09-19 06:53] laeubi commented on #1363
I think we should start with the branching and announcement on 21.09.2022 so we have some time to gather feedback, please help with finish any pending work until this date.

I already created:

1. https://projects.eclipse.org/projects/technology.tycho/releases/3.0.0
2. https://projects.eclipse.org/projects/technology.tycho/reviews/3.0.0-release-review

as we have not yet an automated deployment of

[2022-09-19 07:06] akurtakov commented on #1363
I would prep the Java 17 move so we can merge it before the branching unless voting changes totally as end date for voting is Sep 21st.

[2022-09-19 07:12] laeubi commented on #1363
I honestly don't expect any more votes, but yes that sounds like a good plan, actually I think we do not need to "do" anything more than

1. prove Tycho runs with Java 17 (that's just setting the env variable/adjust build scripts a bit maybe)
2. announce the intent to require Java 17 (that can be done until end of release) from now on

I don't expect we are adding any new features regarding Java 1

[2022-09-19 07:15] mickaelistria commented on #1358
This is the
[code]
mentioned when running `java -jar ecj-4.25.jar`

[2022-09-19 07:29] sthdev opened #1364 "Support .settings folders as linked resources"
It would be nice if Tycho would support `.settings` folders that are included as a linked resource in a project instead of a physical folder.

__Background:__

Our repositories are structured like this:
- .settings
- my.org.bundle
- my.org.bundle.test
- my.org.feature

The `.settings` folder is stored at the root of the repository in order to have on location for the settings of all projects. The

[2022-09-19 07:30] akurtakov commented on #1363
Well, requiring Java 17 means producing Java 17 bytecode so this becomes hard requirement. With that we can start using Java 17 language features like pattern matching and etc.

[2022-09-19 07:33] laeubi commented on #1364
@sthdev have you considered using a symbolic link instead?

Beside that, you might be interested in my proposal here:
- https://github.com/eclipse-platform/eclipse.platform/issues/89

[2022-09-19 07:38] laeubi commented on #1363
But this won't require any code changes? So we just change the min java version in `pom.xml` for example? So that's what I mean by "we just adjust the build", so even if we do that lets say on friday it won't be an issue (for me), but e.g starting to change the code to using "pattern matching and etc." would better be done on the new (3.1.0-SNAPSHOT) master branch then...

[2022-09-19 07:41] sthdev commented on #1364
Thanks for the hint. I'll try it out.

[2022-09-19 07:58] akurtakov commented on #1363
https://github.com/eclipse-tycho/tycho/pull/1365 is where work happens.

[2022-09-20 05:16] laeubi commented on #983
Another (subtile) issue with Java 17 described here https://github.com/eclipse-tycho/tycho/pull/1365#issuecomment-1251842415 please help to investigate as this could cause a lot of headache if we are forcing users into Java 17 and suddenly their builds fail with strange errors.

[2022-09-20 11:56] sthdev commented on #1364
Unfortunately, this does not work.

It is possible to create a directory junction (on Windows) named `.settings` in a project folder, which points to the `.settings` folder in the repository root. As expected, Eclipse treats it like a normal directory. However, EGit does that, too, i.e. it reports uncommitted files in each `.settings` folder of each project (i.e. the junctions). Moreover, EGit can

[2022-09-20 12:00] laeubi commented on #1364
Git supports symbolic links:

https://stackoverflow.com/questions/58814356/how-to-create-symlink-for-files-in-git-repository

I just don't know how well this is supported with (j)git under windows.

[2022-09-20 12:09] #1165 closed

[2022-09-20 16:35] briandealwis opened #1377 "[regression] tycho-buildtimestamp-jgit impact with pomDependencies=consider"
I've hit a subtle bug in Tycho that was introduced in 2.7.0 and is present in 3.0.0-SNAPSHOT.

Basically a project that:
- uses `pomDependencies=consider`,
- uses the tycho-buildtimestamp-jgit provider
- includes a Maven dependency with OSGi metadata, like Guava,
- and has a feature that includes this Maven dependency
will fail with a resolving error on the Maven dependency.

I've created an demon

[2022-09-20 16:42] akurtakov commented on #1377
Why "demonstration fails using Tycho 2.7.5 with tycho-buildtimestamp-jgit 2.6.0" ? Tycho components are not supposed to mix versions.

[2022-09-20 17:03] briandealwis commented on #1377
I initially thought it was a problem in the jgit timestamp provider itself. I knew the problem didn’t occur in 2.6.0 so I thought I’d try the 2.7.5 provider (there didn’t look to be many changes).

[2022-09-20 17:55] laeubi commented on #1377
@briandealwis thanks for the example, do you think you can transform this into an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue and propose a PR for the new test-case?

[2022-09-20 18:16] laeubi commented on #804
Some usage examples: https://github.com/mojohaus/wagon-maven-plugin/tree/master/src/main/java/org/codehaus/mojo/wagon

[2022-09-21 03:03] briandealwis commented on #1377
I used git bisect and found the problem commit is 1609a1a80083ca54f8074e9181686b09007c17b9 (PR #470). Unfortunately this is beyond my knowledge of Tycho.  I've turned the problem project into an integration test at https://github.com/briandealwis/tycho/tree/jgit-buildtimestamp-bug/

[2022-09-21 03:54] laeubi commented on #1377
Can you rebase this on current master and then open a Pullrequest?

[2022-09-21 05:20] OuYuBin opened #1386 "Upgrade Tycho 2.7.5 Appear "Zip file is empty" problem"
After the recent upgrade to 2.7.5, “zip file is empty” the problem that often occurs is that size of the file are correct, not 0KB. What could be the problem with this, Can you help me to find out. Thank you so much.
[code]

[2022-09-21 05:23] laeubi commented on #1386
Do you have any reproducer for this?

[2022-09-21 05:25] OuYuBin commented on #1386
You means deletes .m2 folder and rerun?

[2022-09-21 05:26] laeubi commented on #1386
I mean can you share a simple example that shows the problem?

[2022-09-21 05:29] OuYuBin commented on #1386
Not currently, I may need to write a demo that references the same configuration。
Mainly does it happen every time, occasionally there is a problem。

[2022-09-21 05:34] OuYuBin commented on #1386
This time it appeared from the 2.5 upgrade. Before 2.5, the same configuration did not encounter the corresponding situation, of course, in the case of solving the problem of "bundleLocation not found" https://github.com/eclipse-tycho/tycho/issues/725

[2022-09-21 06:44] pzi-dsa opened #1388 "Cannot invoke "org.apache.maven.project.MavenProject.getRemoteArtifactRepositories()" because "project" is null"
This problem showed up after updating our project to use the Eclipse 4.25 and is causing our builds to fail.
For some reason, Maven attempts to resolve some of our 3rd party artifacts against artifacts of the current reactor build, failing with a NPE. The project in question seems to be `p2.eclipse.plugin:org.bouncycastle.bcprov:eclipse-plugin:1.70.0.v20220507-1208:provided`.

[code]

[2022-09-21 07:04] laeubi commented on #1388
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? What Tycho version do you use?

[2022-09-21 07:08] pzi-dsa commented on #1388
Already working on it. As far as I can tell, the issue is caused by the dependency to bcprov being present in the Maven metadata. I'll create the pull request, once I have a simple project set up.

The latest 3.0.0 snapshot.

[2022-09-21 07:15] laeubi commented on #1388
Alright, we are currently preparing a 3.0.0 release due end of month, would be good to get that fixed before release I think.

[2022-09-21 08:12] guw opened #1390 "Pomless build extension broken in 2.7.5"
[code]

[code]

[2022-09-21 08:14] guw commented on #1390
Note, switching back to an older version works:
[code]

[2022-09-21 08:32] guw opened #1391 "tycho-compiler-plugin:validate-classpath fails in Tycho 2.7.5 for test bundles"
Tycho 2.7.5, updating the target platform breaks test-bundles the build in the mentioned mojo execution.

[code]

It does look like the `Unresolved requirement: Require-Capability: osgi.native` is the culprit.

The build works fine with an older version of Eclipse repository (`eclipse-repo.url`). This seems to be a new issue with Eclipse 4.25.

Did something change in Tycho 2.7.5 which requires mo

[2022-09-21 08:38] laeubi commented on #1390
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? Have you tried it with a fresh local repository?

[2022-09-21 08:42] laeubi commented on #1391
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue in a smaller context?

[2022-09-21 08:43] guw commented on #1391
It seems to start working if I manually add a few platform specific environments to the target platform configuration:
[code]

However, this is not intuitive. Tycho should support building and testing plug-ins out of the box, which use the * environments.

[2022-09-21 08:44] laeubi commented on #1391
You don't need to add any environment for that, that's only relevant if you are building products... If you still want this, you need to ensure that all environments can be resolved from your target (what seems not the case here).

[2022-09-21 08:47] guw commented on #1391
If I remove all environment configurations Maven prints a WARNING:
[code]

It works though.

Is the WARNING is misleading then? It instructs the users to add something which will break the build when the TP is relying on `<pomDependencies>consider</pomDependencies>` and latest Eclipse 4.25/2022-09.

[2022-09-21 09:01] laeubi commented on #1391
The warning just tells you that it *might* be a difference if you build it on windows versus linux versus ... if you target a specific OS you can use this as the (only) target environment, or you can simply ignore it if your code is not platform dependent.

Can you explain where it instructs the user to add each and every environment?

I don't think this is directly related to this option, the rep

[2022-09-21 09:07] guw commented on #1391
Well, a WARNING is something that needs to be fixed. So best option is to configure Tycho to with the * (ALL) platform. At least, that was the advise I got many years ago.

[2022-09-21 09:25] laeubi commented on #1391
To be honest the warning is most of the time useless, if we assume that most code written in java/osgi is **not** platform dependent at all. It is just that no one has bothered enough to find a more fine-grained control for when this is printed (e.g if actually there is something platform specific used).

[2022-09-21 10:28] #1391 closed

[2022-09-21 12:39] Phillipus opened #1393 "Pomless Build extension can't be found using 3.0.0-SNAPSHOT"
I have in main pom:

[code]

And file `.mvn/extensions.xml`:

[code]

Output:

[WARNING] The POM for org.eclipse.tycho:tycho-build:jar:3.0.0-SNAPSHOT is missing, no dependency information available
[ERROR] Error executing Maven.
[ERROR] Extension org.eclipse.tycho:tycho-build:3.0.0-SNAPSHOT or one of its dependencies could not be resolved: Could not find artifact org.eclipse.tycho:tycho-build:jar:

[2022-09-21 13:04] mickaelistria commented on #1393
The pom is here: https://repo.eclipse.org/content/repositories/tycho-snapshots/org/eclipse/tycho/tycho-build/3.0.0-SNAPSHOT/tycho-build-3.0.0-20220921.114050-299.pom . You might have been unluncky and should maybe just try again (with the `-U` flag to increase luck)

[2022-09-21 13:10] joeshannon commented on #1393
Isn't there an issue that the `<pluginRepositories>` in the build pom doesn't work with Maven extensions so you have to add the repo to `~/.m2/settings.xml` (or install the extension locally first)? Looks to be described [here](https://github.com/eclipse-tycho/tycho/wiki#configure-snapshots-repository-globally).

[2022-09-21 13:45] Phillipus commented on #1393
Yes, `~/.m2/settings.xml` works.

How would one do that?

[2022-09-21 14:00] #1388 closed

[2022-09-21 14:03] joeshannon commented on #1393
I've only done this before when working on Tycho directly, using `mvn clean install` from the git repository but I imagine there is some command/plugin that can install an artifact locally from a remote repository.

[2022-09-21 14:19] sratz opened #1396 "eclipse-run: <executionEnvironement> setting has no effect on dependency resolution"
the docu of `tycho-eclipserun-plugin` states that setting `<executionEnvironement>` affects both dependency resolution and execution of the actual eclipse instance.

However, the dependency resolution part does not.

Steps to reproduce:

Execute `mvn verify` on the following `pom.xml` using **Java 11 as the system default JDK**:

[code]

[code]

This seems to be a regression of 0eeb95d1e58f3c93ced

[2022-09-21 18:47] briandealwis commented on #1377
@laeubi opened #1400.

[2022-09-22 04:52] laeubi commented on #1363
Announcement is there:

- https://github.com/eclipse-tycho/tycho/discussions/1401

[2022-09-22 04:56] laeubi commented on #1363
Regressions with fixes that are planned for inclusion:

- https://github.com/eclipse-tycho/tycho/issues/1396

[2022-09-22 05:49] laeubi commented on #1377
The issue is that the (full) target platform is (not yet) computed at this phase, but the error only occurs with a custom build-timestamp provider, that's why this was not detected earlier.

[2022-09-22 12:23] phermsdorf opened #1408 "Build problem with patch fragment after Tycho 3.0.0 update"
### Discussed in https://github.com/eclipse-tycho/tycho/discussions/1401

when building i see the following error on stderr in the build

[code]
in the next project the build fails with

`[ERROR] Failed to execute goal org.eclipse.tycho:tycho-ds-plugin:3.0.0-SNAPSHOT:declarative-services (default-declarative-services) on project com.godyo.p4.office.ui: generation of ds components failed: A Jar can

[2022-09-22 12:51] #1377 closed

[2022-09-22 12:57] laeubi commented on #1408
Also if it might sound strange the first error is just a new warning from JDT and should not produce any issue, but the second one is the problem why the build fails but I htink that is quite easy to fix if we have an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue.

[2022-09-22 13:04] phermsdorf commented on #1408
Then maybe the patch fragment isn't the problem at all ... i had a similar error on a project which had no source folder but a project specific DS configuration (because all projects just have them) - after removing the DS configuration the error on that bundle was gone.
Don't know what the problem with this specific bundle is ... still setting up a IDE with a tycho workspace

[2022-09-22 13:08] laeubi commented on #1408
@phermsdorf you don't need a Tycho workspace, you can simply create a standalone maven example that reproduces the issue and then use that as the integrationtest project.

If it is too complex, I can offer to try a "blind" fix and you can check it with your real project by building a local version?

[2022-09-22 13:11] laeubi commented on #1408
@phermsdorf can you run maven with the `-e` switch and post the stack trace from the  `tycho-ds-plugin`?

[2022-09-22 13:21] phermsdorf commented on #1408
debug output:

[code]

<snip> and

[code]

[2022-09-22 16:23] #1408 closed

[2022-09-23 05:23] cdietrich opened #1411 "New Regression in 3.0.0"
https://ci.eclipse.org/mwe/job/mwe2/job/cd_tycho30/234/console

[code]

any idea what has changed from yesterday where it still was working?
https://ci.eclipse.org/mwe/job/mwe2/job/cd_tycho30/232/console

[2022-09-23 05:27] laeubi commented on #1411
Can you run with `-e` option to get a full stack trace?

All recent changes on 3.0.0 here:
https://github.com/eclipse-tycho/tycho/commits/tycho-3.0.x

as always provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue would help alot!

[2022-09-23 05:27] cdietrich commented on #1411
05:46:57  [INFO] org.eclipse.emf.mwe2.parent 2.14.0-SNAPSHOT ........ SUCCESS [  1.997 s]
05:46:57  [INFO] org.eclipse.emf.mwe2.target 2.14.0-SNAPSHOT ........ SUCCESS [  0.255 s]
05:46:57  [INFO] org.eclipse.emf.mwe2.plugins-parent 2.14.0-SNAPSHOT  SUCCESS [  2.888 s]
05:46:57  [INFO] org.eclipse.emf.mwe.activities 1.8.0-SNAPSHOT ...... SUCCESS [  4.146 s]
05:46:57  [INFO] org.eclipse.emf.mwe2.ru

[2022-09-23 05:28] cdietrich commented on #1411
the problem is wont have time to create a reproducer and it was working yesterday.

[2022-09-23 05:37] cdietrich commented on #1411
[code]

[2022-09-23 05:40] laeubi commented on #1411
@cdietrich are you using jgit timestamp provider and can you try running a build with disabling that?

[2022-09-23 05:42] laeubi commented on #1411
Another thing to check: are there any custom (xtext?) plugins attached in the build?

[2022-09-23 05:42] cdietrich commented on #1411
@laeubi how can i find out if i am
git grep timestamp
Jenkinsfile:    timestamps()
maven/org.eclipse.emf.mwe2.repository/pom.xml:          <build.id>${maven.build.timestamp}</build.id>
maven/org.eclipse.emf.mwe2.repository/pom.xml:          <maven.build.timestamp.format>'${BUILD_TYPE}'yyyyMMddHHmm</maven.build.timestamp.format>

[2022-09-23 05:43] laeubi commented on #1411
Here is an example of Jgit timestamp provider usage:
https://github.com/eclipse-tycho/tycho/blob/90a3a6112230b7b921046b5952794a69f85a8a5f/tycho-its/projects/pomDependencyConsider.buildtimestamp.jgit/pom.xml#L41-L60

[2022-09-23 05:47] laeubi commented on #1411
By the way as we often seem to break xtext build, maybe you can consider writing a xtext-validation action similar to

https://github.com/eclipse-tycho/tycho/blob/master/.github/workflows/verify-platform.yml

then each PR will be checking the xtext build as well.

[2022-09-23 05:51] cdietrich commented on #1411
no we dont seem to use jgit

[2022-09-23 05:52] cdietrich commented on #1411
and no there are no custom xtext plugins in mwe build

[2022-09-23 06:21] phermsdorf commented on #1408
@laeubi
I tried again but it still fails with the same error.
I think i saw a re-download of the tycho 3.0 snapshot bundles on the first run. Is there something else i need to do to get the latest tycho build?

[2022-09-23 06:23] laeubi commented on #1408
You need to use `-U` to force snapshot updates, beside this, as mentioned above, the JDT "Error" should not fail the build.

[2022-09-23 07:23] laeubi commented on #1411
@cdietrich can you explain how I can run the mwe build locally to debug the problem?

[2022-09-23 08:13] cdietrich commented on #1411
i cannot reproduce yet. dont know what is different on eclipse jenkins

[2022-09-23 08:19] cdietrich commented on #1411
[code]

[2022-09-23 08:19] cdietrich commented on #1411
maybe the javadoc:aggregate-jar is the problem?

[2022-09-23 08:23] laeubi commented on #1411
@cdietrich possible yes, another change is the Java 17 migration and it might affect javadoc tool too.. I'll try to debug this a bit but as platform succeeds + all itest succeeds this must be something that has an influence beyond the "usual" usecases and a small test-case would really help to narrow that down.

[2022-09-23 08:32] cdietrich commented on #1411
that is known but i wont have time today

[2022-09-23 08:33] laeubi commented on #1411
It seems that the working build has already used
 Java version: 17.0.3, vendor: Eclipse Adoptium, runtime: /opt/tools/java/temurin/jdk-17/jdk-17.0.3+7

so probably not related to java 17 at all...

[2022-09-23 11:52] cdietrich commented on #1411
yes i switched to java 17 once tycho required it and it was working

[2022-09-23 12:07] cdietrich commented on #1411
pushed cd_tycho30simplified branch, here i just use 1 plugin and feature

[2022-09-24 05:04] laeubi commented on #1411
@cdietrich thanks for the example I can build this and it shows the error now.

[2022-09-24 05:13] laeubi commented on #1411
@cdietrich the problem seems the order of execution here:

`clean javadoc:aggregate-jar verify` --> fails

`clean verify javadoc:aggregate-jar` --> works

[2022-09-24 05:45] laeubi commented on #1411
The problem is that the `javadoc:aggregate-jar` seem to cause the mojo phases to be executed twice. As the targetplatform now is assumed to be fully computed, a cached value is returned (while previously it was recomputed).

[2022-09-24 14:01] #1411 closed

[2022-09-24 15:23] tolland commented on #1235
I closed the PR here : https://github.com/eclipse-tycho/tycho/pull/1238 as I it works for me, but I am not sure whether it will causes other problems down the line so I am not confident about taking it further.

[2022-09-24 18:26] pbalint opened #1415 "Tycho pomless does not take custom pom-names into account"
When custom pom names are used (e.g. mvn -f pom-ts.xml package), tycho-pomless still searches for pom.xml-s, failing to find the proper one...

https://github.com/eclipse-tycho/tycho/blob/44b540436305adb9fc198a9d6dad12b91a6d301c/tycho-extras/tycho-pomless/src/main/java/org/eclipse/tycho/pomless/AbstractTychoMapping.java#L79

[2022-09-25 03:11] laeubi commented on #1415
@pbalint I think you need to give a more complete example and what you would expect here. "Custom pom names" are nothing that is really supported concept as there is no convention or name to find out the custom name (and thus you need to explicitly name it on commandline).

[2022-09-25 04:44] pbalint commented on #1415
The issue is that despite any name you specify on the command line, tycho-pomless will be still looking for pom.xml...
The idea for specifying custom pom-names is that instead pom.xml you have something-else.xml everywhere, so you won't have any pom.xml...

[2022-09-25 05:18] laeubi commented on #1415
As said, this is simply not true, specifying **a file-name (!)** on the commandline, simply tells maven to look there instead of the default (look in the current working directory) for the initial pom file. It does not has (or must have) any influence on any other thing (e.g. parent pom references).

[2022-09-25 05:40] cdietrich commented on #1411
thx for the fix

[2022-09-25 06:23] pbalint commented on #1415
I was hoping that there would be a possibility to have multiple sets of poms usable to build a tycho pomless project:
Attached example project structure below:
[test.zip](https://github.com/eclipse-tycho/tycho/files/9640157/test.zip)
In the supplied example, if you issue mvn validate, you get:
[code]
While, if you issue mvn -f pom-ts.xml validate, you get:
[code]
This is done in 2 steps:
-In the c

[2022-09-25 06:35] laeubi commented on #1415
Having multiple "poms" obviously defeats the purpose of having a "pomless" build :-)
So the first step would probably to describe why exactly this is required, and probably pomless is not the right choice for you the anyways.

Just note, the "pom.xml" in pomless, is only used to **disable** pomless, that mean for one or more module you just want to configure things explicitly. Bend this to having

[2022-09-25 06:45] pbalint commented on #1415
When you have a fairly complicated project structure, the pomless part is really only about not having to write poms for your osgi bundles; You still have to point maven TO those bundles, nested x folders deep...

On paper, yes, but that existing build system has been in development for >1.5 years, while still inheriting some of the idiosyncrasies of the old, ant based build system, while a quick-

[2022-09-25 06:56] laeubi commented on #1415
I think the highlighted part it the actual the problem here, I have pomless build with hundreds of bundles, spanning multiple git-repositories, nested in different structures, still I do not need any pom (just because I follow the recommended project layouts), so this is still possible.

The use-case seems very rare and rather complicated with lots of customization that diverge from the usual layo

[2022-09-25 07:01] #1415 closed

[2022-09-25 08:34] laeubi commented on #1052
I finally found the problem is in

`org.eclipse.tycho.p2.util.resolution.ProjectorResolutionStrategy.resolve(Map<String, String>, IProgressMonitor)`

where in this example there are some warnings:
[code]
I have not find out yet why these are only warnings, but this results in the repository missing the `org.osgi.service.jaxrs` then you get a warning again in the assemble repository step:
[code]

a

[2022-09-26 06:58] howlger commented on #1054
The so-called _"Eclipse PDE Partial IDEA Plugin"_ seems to be not related to Eclipse PDE at all, but to be just a fake not based on Eclipse PDE, missing basic Eclipse PDE functionality, violating [both trademarks, Eclipse® and PDE™](https://www.eclipse.org/legal/trademarks.php). I've seen a couple of Stack Overflow questions showing that people have wasted a lot of time with this. You as an [autho

[2022-09-26 07:04] laeubi commented on #1054
@howlger I can't tell anything about that plugin becuase I don't use it but @lppedd don't seem to be the _author_ but a _contributor_ to the project (mostly: formatting if I get ti right):

https://github.com/JaneWardSandy/eclipse-pde-partial-idea/commits?author=lppedd

[2022-09-26 07:09] lppedd commented on #1054
This happens if you don't know the scope of that plugin. It doesn't try to reproduce PDE in its entirety, it does try to allow dependency resolution in the context of IntelliJ IDEA.

I think this is out of scope for this issue tho.

[2022-09-26 09:35] howlger commented on #1054
To be clear, @lppedd is not a committer and therefore not _the_ author (not responsible for the naming), but a contributor and therefore _an_ author with some knowledge how it works.

I doubt that your claim that _"IntelliJ supports PDE"_ is true. It looks to me like that the IntelliJ plugin you mentioned is not a partial Eclipse PDE, but something that is 0% Eclipse PDE just trying to fake some E

[2022-09-26 09:52] lppedd commented on #1054
@howlger

This was meant is a way to track progress, plus as a way to get help from @laeubi if possible.
When a Tycho user searches "tycho + intellij" this is probably what comes up.

We can convert this to a discussion if it makes it not a problem anymore for you.
If you're worried about the name of the plugin, I can only say contact the author as I have zero power on that, I literally only appli

[2022-09-26 09:55] phermsdorf commented on #1408
@laeubi  Works for me. Thanks a lot for the fix!

[2022-09-26 10:03] lppedd commented on #1054
And a personal note, I successfully used the plugin to develop a PDE-based RCP application.
As I was saying earlier, it does not offer all the functionality, but it lets you setup the workspace in IJ at least.
The name is not ok? Let's open an issue on the plugin page and ask for it to be changed, it takes 30 minutes to do it probably.

[2022-09-26 10:07] lppedd commented on #1054
Well that's obvious I'd say.

To be fair I'd only thank people trying to support PDE on other IDEs. I'll repeat myself: if you don't like the name, ask for it to be changed, but ask that to whom has the power to do it.

On my side I can't do anything more. I patched IJ to support Tycho, I think my work is done

[2022-09-26 11:30] sthdev opened #1420 "Support junit-jupiter-api bundles"
I have switched to a Eclipse 2022-09 target, which provides JUnit bundles from Orbit (JUnit 5.8) and Maven Central (JUnit 5.9). See https://github.com/eclipse-platform/eclipse.platform.common/blob/master/bundles/org.eclipse.platform.doc.isv/porting/4.25/incompatibilities.html for more information.

Now, if a test fragment imports JUnit packages as package imports, the classpath validation fails wi

[2022-09-26 11:35] laeubi commented on #1420
Please try out the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) build which include the latest platform changes. Neverless it is a bit unclear what/how you use Tycho here and what work/don't work, because the error indicates that your target platfrom do not contain a suitable JUnit provider (of whatever bundle name).

If you still think there is a problem

[2022-09-26 11:48] lppedd commented on #1054
I can do it, but I think it's still not the time. For reference, to get Tycho on IJ a "personal" Community build is necessary as of now.
See https://github.com/JetBrains/intellij-community/pull/2127

1. clone IntelliJ Community
2. cherry pick my PR's commits on your own branch
3. build IntelliJ from that branch
4. test it out. Slight code adjustments may be required depending on the use-case (e.g.

[2022-09-26 12:39] howlger commented on #1054
@lppedd I didn't say I dislike the name, and I didn't say I'm against supporting development of Eclipse plugins in other IDEs. Do not make conclusions from something I didn't say. Please discuss this with others. I'm not okay with people using a borrowed name and fooling others into wasting their time. I wish people would value the work of others and trademarks were not even needed. I know the plu

[2022-09-26 13:39] bric3 commented on #1054
The way it was phrased in the earlier comment led me to the same conclusion as @lppedd, thanks for the clarification.

I don't see the problem in that, I discovered this problem because it has exactly the key words I was searching : "Eclipse" "PDE". Also no one else was doing a similar work to begin with, i.e. to enable the development of Eclipse based applications or plugin using IntelliJ IDEA, a

[2022-09-26 14:16] laeubi opened #1422 "Replace RepositorySystem usages with Aether Resolver"
`RepositorySystem` shoudl/could be replaced with Aether Resolver like shown here

https://github.com/apache/maven-compiler-plugin/pull/151/files

For example in the MavenURLHandler.

[2022-09-26 15:17] jhonnen commented on #1054
I get the same error when executing a tycho build via `maven-embedder` with the following app classpath and tycho 2.7.4:
[code]
The problematic slf4j dependency seems to be necessary, otherwise you don't get any output from maven.

[2022-09-26 15:27] howlger commented on #1054
None of this is true. What exactly make you say this? [Please read the Community Code of Conduct](https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php). I wrote _"seems to be"_ as a reply to a claim of yours that I doubt. I don't even want to take my time to find out whether trademarks are actually being violated or not. If you take it as seriously as I do, then you don't care at al

[2022-09-26 16:10] bric3 commented on #1054
While there's a disagreement on the way things were written, let's stop discussing this matter here as it does not help the case at hand, i.e. having **IntelliJ IDEA support of Tycho based maven projects**.
If this needs to be discussed I believe this should be followed in in the [discussions](https://github.com/eclipse-tycho/tycho/discussions).

[2022-09-26 21:01] mickaelistria commented on #1275
There are some incompatibilities between JUnit 5.8 and 5.9 that make that current support for JUnit 5.9 in Tycho (basically using 5.8) is sometimes not working with JUnit Jupiter 5.9 as dependency.

[2022-09-26 21:01] mickaelistria opened #1424 "Better support for JUnit 5.9"
There are some incompatibilities between JUnit 5.8 and 5.9 that make that current support for JUnit 5.9 in Tycho (basically using 5.8) is sometimes not working with JUnit Jupiter 5.9 as dependency.

[2022-09-27 06:04] jhonnen commented on #1054
Tycho 3.0.0-SNAPSHOT seems to work :+1:, maybe because of this?
https://github.com/eclipse-tycho/tycho/blob/fe99a12958a7ab5fb8092b906ddc72f20b0ce365/sisu-osgi/sisu-osgi-connect/src/main/java/org/eclipse/sisu/osgi/connect/PlexusFrameworkConnectServiceFactory.java#L122-L123

[2022-09-27 06:50] howlger commented on #1054
This change has already been part of Tycho 2.7.5.

[2022-09-27 07:27] sthdev commented on #1420
Extracting a proper integration test takes some time. But I suppose, the problem is related to this comment in https://github.com/eclipse-tycho/tycho/blob/3a61f9e256c987128631fcffc5f085cfa49edee2/tycho-bundles/tycho-bundles-target/tycho-bundles-target.target

[code]

[2022-09-27 07:29] mickaelistria commented on #1420
@sthdev The change you mention is not related. This file has no impact on how surefire behaves.
Please try the 3.0.0-SNAPSHOT which has received more improvements about JUnit support.

[2022-09-27 15:10] #1424 closed

[2022-09-28 06:51] sthdev commented on #1420
For some reason, it works now with tycho 3.1.0-SNAPSHOT. Maybe due to caching? Anyway, I am closing this issue.

[2022-09-28 06:51] #1420 closed

[2022-09-29 16:02] laeubi opened #1437 "Tycho Setup seems outdated"
I tried to use the Tycho setup, but Oomph refuses to install, some settings seem outdated. @HannesWell can you take a look? do we need to updates the setup e.g. for new m2e 2.x? The setupa also mention "gerrit" on some places what seems wrong.

[2022-09-29 22:35] HannesWell commented on #1437
There are two connectors that are incompatible with M2E-2.0 in the setup. I removed them and their p2-repos (and one orphan) via #1439.
I also searched for "Gerrit" but did not find that string in the setup?

[2022-09-30 08:04] laeubi commented on #1345
The fix for this issue was gently sponsored by [Faktor Zehn GmbH](https://www.faktorzehn.com).

[2022-09-30 09:01] #1363 closed

[2022-09-30 17:58] kwin opened #1444 "tycho-surefire-plugin:3.0.0: Error message wrong in case launching Equinox failed"
After upgrading from version 2.7.5 to 3.0.0 I experience the following error:

[code]

In fact the folder surefore-reports is empty and it rather seems the issue is with starting Eclipse. The exception message should be improved for those cases.

[2022-09-30 21:23] #1437 closed

[2022-10-02 16:09] laeubi opened #1451 "Provide a "verify-pom-resolves" mojo"
Currently we resolve a project from the P2 data what could help in the build but has no meaning if the project is used as a maven dependency.

We should therefore provide a mojo one can use to check that the project, using all its (transitive) dependencies could be resolved inside an OSGi framework. This can then be used to e.g. validate the consumer-pom or even an automatic generated pom.

FYI @h

[2022-10-03 09:06] kwin commented on #750
@laeubi Is this fixed in Tycho 3.0.0? Is the MANIFEST.MF also extended with the service metadata references?

[2022-10-03 09:12] laeubi commented on #750
@kwin this is about Tycho using DS internally (and is somehow obsolete now).

The wiki itself is heavily outdated and mostly would need a complete overhaul. From the user side you can use all the annotations and Tycho will generate the xml, but you will need to add the  service metadata references (or mostly PDE will do this for you if you enable DS annotation processing).

[2022-10-03 09:12] #750 closed

[2022-10-03 10:32] laeubi commented on #24
@HannesWell if I remeber correctly you have done this for m2e already, do you think you can propose such a button for Tycho as well?

Here is a "clone into eclipse" button but it points to @mickaelistria repository (can we adjust this to use the tycho gh pages now?):

https://github.com/eclipse-tycho/tycho/blob/master/CONTRIBUTING.md

but m2e seems to have d dedicated button for the setup as well.

[2022-10-03 10:38] mickaelistria commented on #24
You'll need a proxy as GitHub doesn't allow non-https links. My repo is the proxy that just does a redirect. You can put this proxy someplace else, but I don't know what you'd gain from it.

[2022-10-03 14:21] laeubi opened #1454 "Implement Tycho warnings as custom check-style rules"
Currently Tycho emits different warnings during the build in different areas:

- Encoding warnings
- Target platform warnings
- P2 warnings
- ...

Some of them might or might not be always useful. Instead of Tycho decide what should be shown to the user, we might turn all these into custom checkstyle checks:

https://maven.apache.org/plugins/maven-checkstyle-plugin/examples/custom-developed-checks

[2022-10-03 14:38] mickaelistria opened #1455 "Various binding issues make Tycho fail"
I'm trying to build that pom
[code]
with `mvn clean verify`, using Java 18:
[code]
My Tycho 3.1.0-SNAPSHOT comes from a local `mvn clean install -DskipTests` against master.

[2022-10-03 14:41] laeubi commented on #1455
[code]
looks suspicious ...

[2022-10-03 14:42] mickaelistria commented on #1455
OK, I remove the `extras` but issue persists.

[2022-10-03 14:45] laeubi commented on #1455
You might want to transform that example into an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue with current Tycho codebase.

[2022-10-03 16:48] Bananeweizen commented on #1454
I use checkstyle a lot. Still, I'm not sure if that is the best way to make the warnings optional. Probably only a minority of Tycho projects use checkstyle by now. However, all of them use Maven. Therefore writing custom maven enforcer rules would surely have a bigger "market": https://maven.apache.org/enforcer/enforcer-api/writing-a-custom-rule.html

I have not yet implemented Java based warning

[2022-10-03 16:51] laeubi commented on #1454
@Bananeweizen That also seems an interesting idea. Neverless these are both "just" plugins that one needs to enable.

But I can even think about a rule "don't use restricted API", or "don't use require bundle" so maybe this can be beyond what Tycho currently offers as well!

[2022-10-03 16:58] Bananeweizen opened #1456 "Tycho 3.0 requires new Maven based JUnit bundles, even on older targets"
Upgrading multiple builds with Tycho 2.7.5 to 3.0 on company projects with older target platforms leads to missing dependency errors mentioning the new 2022-09 Maven based JUnit Jupiter bundles. Those are not available anywhere in older targets and surely not mentioned in any of my files. Does this mean Tycho 3.0 cannot be used on target platforms older than 2022-09?

[code]

[2022-10-03 17:04] laeubi commented on #1456
You project most probably requesting a JUNIT5 classpath container. As those have changed with 2022-09 Tycho has adapted accordingly. You can add the JUnit dependencies as maven location in your target, or upgrade your project to use a newer eclipse target.

[2022-10-03 17:22] lppedd opened #1458 "eclipse-plugin JUnit test execution is tied to .classpath"
As described [here](https://github.com/eclipse-tycho/tycho/blob/master/RELEASE_NOTES.md#execute-unit-tests-with-eclipse-plugin-packaging), I was trying to execute JUnit tests as part of an `eclipse-plugin` packaging.
I found myself having to explicitly add a classpath entry in the .classpath file, which is specific to the Eclipse IDE.

![image](https://user-images.githubusercontent.com/19871649/19

[2022-10-03 17:26] laeubi commented on #1458
Tycho is specially made for building Eclipse/PDE artifacts :-)

The current discovery might be enhanced in this regard, but actually it is *not* the JUnit execution, it is the test-source compilation that currently uses the classpath to detect the "test sources folder"....

[2022-10-03 17:32] lppedd commented on #1458
That's a fair point.

Oh yes I noticed this after posting the issue. Basically Surefire was telling me "No tests to run" because nothing under test was getting compiled.

I mean as of now I can just fire up Eclipse and check that my .classpath file is ok, but in the future I would like to have only a single IDE/editor, not necessarily Eclipse.

[2022-10-03 17:34] laeubi commented on #1458
I think there is nothing wrong in enhance the test-compile mojo to be more "maven like" and also consider the `testSourceDirectory` **but** this should only be used if no classpath file is found because eclipse projects often don't follow the maven convention.

[2022-10-03 17:38] lppedd commented on #1458
For this specific case, what about giving priority to `classpathentry`(s), and if none is found going back to the Maven way? Could this work?

For example in my team most devs use Eclipse, I use IntelliJ, someone else edits using VSCode.

[2022-10-03 17:42] lppedd commented on #1458
As an alternative, I would be perfectly okay with your option, if I could find an XSD/DTD file to have completion inside `.classpath`.
Eclipse doesn't seem to offer one tho.

[2022-10-03 17:47] laeubi commented on #1458
It depends a bit, if you would fallback, then some code might only be compiled while the maven build while in the IDE it won't be compiled at all.

We generally try to avoid such inconsistency between IDE + Build, but actually nothing prevents you from define the source+output folders in eclipse to the maven defaults, this usually looks like this:

[code]

I'm not aware of any but you can ask here

[2022-10-03 19:27] mickaelistria commented on #1455
Actually BasicP2RepositoryIntegrationTest is also failing for me locally.

[2022-10-03 22:15] HannesWell commented on #24
Here we go: https://github.com/eclipse-tycho/tycho/pull/1459 :)

[2022-10-04 01:20] jgsuess commented on #1458
I have a similar issue and would like advice on this.  We are [Developing Ant tasks and types within Eclipse](https://help.eclipse.org/latest/topic/org.eclipse.platform.doc.isv/guide/ant_developing.htm?cp=2_0_18_3).

The dynamic class loading places some special requirements. It requires that

and

When I write a JUnit test within the plugin environment, I can execute it in Eclipse. The classes in

[2022-10-04 01:37] jgsuess commented on #1458
I guess what I am asking at the core is

* how does `surefire.test.class.path` get composed and
* how can I influence it in Tycho using just
   - `build.properties`
   - `.classpath`

[2022-10-04 02:22] jgsuess commented on #1458
It seems like there is no way to add anything as this is hardwired to the [project output directory](https://github.com/eclipse-tycho/tycho/blob/master/tycho-surefire/tycho-surefire-plugin/src/main/java/org/eclipse/tycho/surefire/TestPluginMojo.java#L50). :(

[2022-10-04 03:00] jgsuess commented on #1458
Configuring the extra dependency explicitly like the below works, but prompts the warning at the bottom:

[code]

[code]

[2022-10-04 04:21] laeubi commented on #1458
I'm not sure if this is related, and even not sure if I fully understand what you want to archive, but PDE builds a lot of extra ant stuff and you probably like to take a look how it is done there:
https://github.com/eclipse-pde/eclipse.pde/blob/master/ui/org.eclipse.pde.core/build.properties

[2022-10-04 06:01] jgsuess commented on #1458
I am very aware of this. I will make a documented example and remove the brain dump above. It is too disorganized. I am sorry.

[2022-10-04 06:04] laeubi commented on #1458
Thanks, usage-questions are also better placed here: https://github.com/eclipse-tycho/tycho/discussions

[2022-10-04 08:00] #24 closed

[2022-10-04 10:41] akurtakov commented on #1455
Test failed for me too locally.

[2022-10-04 10:47] laeubi commented on #1455
Have you tried running with fresh maven local repo or `-Dtycho.localArtifacts=ignore` option?

[2022-10-04 11:06] mickaelistria commented on #1455
I tried the following, from the `tycho` root, on up-to-date master:
[code]
and can see the error.
I'm wondering why this can work on CI if it's already failing on 2 machines? Could the CI cache/m2 repo be "corrupted"?

[2022-10-04 11:22] laeubi commented on #1455
I think the repo is wiped out for each build. Maybe related to Java 18 then (build is using java 17)?

The actual error is caused by:

So it seams there is something wrong with the classpath, so maybe even some strange kind of classpath ordering issue might be the reason (e.g. different ordering in file-system?)

[2022-10-04 11:26] mickaelistria commented on #1455
I've tried with Java 18, @akurtakov with Java 17; same result. Have you tried the steps mentioned above?

[2022-10-04 11:29] kwin opened #1464 "Get rid of transitive version ranges"
Some transitive Eclipse dependencies rely on version ranges, which

a) makes dependency resolution take long as the version range is re-resolved usually every 24 hours
b) makes the build non-reproducible

Please manage all transitive dependencies with version ranges to a fix version.
Example:

org.eclipse.tycho:tycho-maven-plugin:jar:3.0.0 -> org.eclipse.tycho:tycho-core:jar:3.0.0 -> org.eclipse.t

[2022-10-04 11:33] laeubi commented on #1464
Please see
- https://github.com/eclipse-platform/eclipse.platform.releng/issues/119

[2022-10-04 11:33] #1464 closed

[2022-10-04 11:36] kwin commented on #1464
I don't think that Eclipse will fix this soon and even so this would still require an update to the Eclipse dependency in the first place from Tycho, so I think this issue should be kept open until the issue is fixed in Tycho as well.
You can also workaround that in Tycho by maintaining your own dependencyManagement.

[2022-10-04 11:41] laeubi commented on #1464
This is not an issue of Tycho.

At least I won't "manage" hundreds of versions that needs manual updates and testing on each eclipse release just because platform refuses to publish correct metadata. If you are willing to do this it would be mostly @akurtakov to negotiate about a manageable way.

[2022-10-04 11:46] laeubi commented on #1455
[code]
then
[code]

`toolchains.xml` contains java 1.6, 1.8, 11 and 17.

[2022-10-04 11:49] akurtakov commented on #1464
Hey, I'm all for using strict versions not ranges. How to do that is better discussed at https://github.com/eclipse-platform/eclipse.platform.releng/issues/119

[2022-10-04 11:49] kwin commented on #1464
I beg to differ, from a consumer perspective it broke with Tycho 3 (with the introduction of https://github.com/eclipse-tycho/tycho/commits/master/p2-maven-plugin)

[2022-10-04 12:10] laeubi commented on #1464
There is literally nothing we can do for 3.0.0 release, so please
provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue and "we" probably change something. I just can say that at least the last builds of platform with Tycho 3.0.0 seem successful.

Also I tested another build with success, and according to
https://mvnrepository.c

[2022-10-04 12:19] kwin commented on #1464
The ASF Jenkins with which I build defines another repository for repository "apache.snapshots" in its settings.xml (https://github.com/apache/infrastructure-p6/blob/494f8354d9102625673d912ab692bf31cdbe041f/modules/buildbot_node/templates/m2_settings.erb#L30). If that is used for version range resolution requests it fails as https://repository.apache.org/snapshots/org/eclipse/platform/org.eclipse.

[2022-10-04 12:22] mickaelistria commented on #1464
if this is the root issue for you, then you should invest in getting it fixed it in Maven directly rather than investing to trying to have workarounds downstream in Tycho or Platform. The world will be a much better place if existing bugs are fixed, instead of new workarounds implemented.

[2022-10-04 12:44] mickaelistria commented on #1455
OK thanks. So it worked with a fresh m2 repo; and also on my local m2 repo after deleteting all `org/eclipse` stuff. I suspect that some former `mvn install` on Platform has installed some artifacts and poms that were missing dependency information, and Tycho has used those instad of Central's ones; leading to unresolved artifacts.

[2022-10-04 12:44] #1455 closed

[2022-10-04 13:29] mickaelistria opened #1466 "PGP signing mojo re-adds new signature properties for already signed artifacts"
If you're including in your p2 repo an artifact that already has some PGP signature (eg slf4j-api from Platform I-Build), and call the sign-p2-artifacts goal on it, then some new properties with the new signature and new key are added, leading to duplicated properties.
The mojo should provide a way to handle that case of already PGP-signed bundles:
* skip (keep original signature only)
* overwrite

[2022-10-04 14:13] sratz commented on #494
We've just been hit by this with Tycho 2.7.5 and -T 4:

[code]

[2022-10-04 16:22] #1451 closed

[2022-10-04 20:01] kwin opened #1467 "No goal pages linked from https://tycho.eclipseprojects.io/doc/3.0.0/tycho-ds-plugin/index.html"
When opening https://tycho.eclipseprojects.io/doc/3.0.0/tycho-ds-plugin/index.html there is no link to any descendant pages like https://tycho.eclipseprojects.io/doc/3.0.0/tycho-ds-plugin/plugin-info.html or https://tycho.eclipseprojects.io/doc/3.0.0/tycho-ds-plugin/declarative-services-mojo.html.

Similarly for other plugins like https://tycho.eclipseprojects.io/doc/3.0.0/tycho-packaging-plugin/i

[2022-10-04 20:07] kwin opened #1468 "Clarify meaning of https://tycho.eclipseprojects.io/doc/3.0.0/tycho-ds-plugin/declarative-services-mojo.html#enabled"
According to https://tycho.eclipseprojects.io/doc/3.0.0/tycho-ds-plugin/declarative-services-mojo.html#enabled there is a plugin parameter called `enabled`. But the description is very vague and in fact the according field doesn't seem to be evaluated: https://github.com/eclipse-tycho/tycho/blob/0f790c7c2498f6de0344d5ad1f7c0cc685c2ef2f/tycho-ds-plugin/src/main/java/org/eclipse/tycho/ds/Declarative

[2022-10-04 22:39] mickaelistria commented on #1467
Such a contribution would be highly welcome!

[2022-10-05 05:26] laeubi commented on #1468
In Eclipse PDE you can enable DS processing for a single project by config file, or by global setting. The mojo parameter is there so that you can configure this on the mojo level and the parameter is visible to tools that scan the mojo parameters to give auto-completion and documentation.

It is evaluated here:
https://github.com/eclipse-tycho/tycho/blob/master/tycho-core/src/main/java/org/eclips

[2022-10-05 06:20] kwin commented on #1468
Thanks for the hint, will try to come up with a documentation PR.

[2022-10-05 07:07] col-panic commented on #1099
Just updated to Tycho 3.0.0 as released, I get this message now even if i DO NOT build in parallel,
but it refers to classes within the aggregator.

My sample

[code]

this clearly is not the case, the respective reference plugin is compiled successfully and the code works up until changing to Tycho 3.0.0

Could this be related to the warning `Using JavaSE-17 to fulfill requested profile of JavaSE

[2022-10-05 07:09] laeubi commented on #1099
Have you tried

already?

[2022-10-05 07:33] col-panic commented on #1099
I have to

I have to wrap my head around this. There is only one JDK installed, and its Java 17 for everything. It worked up until switching to Tycho 3.0 (except for the parallel building part).
With toolchains I am supposed to be able to use different JDKs for maven and build etc. which is not what I want.

Besides: Switching the eclipse-plugin Bundle-RequiredExecutionEnvironment Java-SE17 remove

[2022-10-05 07:42] laeubi commented on #1099
Then it might not be directly related but toolchains are recommended when compiling for older JDKs

Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? Maybe there are other plugins in your build that are incompatible with tycho 3?

[2022-10-05 07:53] col-panic opened #1469 "Tycho-maven-plugin 3.0.0 with Java 17"
On using this combination, I get exceptions like these when running `mvn clean verify` (maven is 3.8.6)

[code]

[code]

[2022-10-05 08:09] laeubi commented on #1469
@col-panic can you try with a clean maven-repository? `-Dmaven.repo.local=/some/empty/folder`

[2022-10-05 08:32] col-panic commented on #1469
I deleted `$home/.m2/repository` and after fresh downloads the exceptions do not occur anymore!

[2022-10-05 08:32] #1469 closed

[2022-10-05 08:39] laeubi commented on #1469
Thanks for the feedback!

[2022-10-05 09:58] #1468 closed

[2022-10-05 11:07] SimonCockx commented on #781
I also encountered this issue while upgrading from Tycho 2.5.0 to 2.7.5. Building the project worked fine, but plain Maven projects that relied on this project suddenly failed to find some transitive dependencies.

[2022-10-05 11:12] laeubi commented on #781
Please try out Tycho 3.0

[2022-10-05 11:13] LorenzoBettini commented on #781
@laeubi Oh, so that is not the default behavior anymore?

[2022-10-05 11:16] laeubi commented on #781
Tycho 3.0 has some improvements here, and Tycho 3.1.0-SNAPSHOT has even a way to validate the pom just in case you care about your maven consumers getting complete dependency info:

https://github.com/eclipse-tycho/tycho/blob/master/RELEASE_NOTES.md#new-maven-dependency-consistency-check

[2022-10-05 11:51] SimonCockx commented on #781
@laeubi For now I'm tied to Java 11, but I'll try it out once I get to Java 17, thanks.

[2022-10-05 11:52] laeubi commented on #781
You only need to _run_ with Java 17 you still can _compile_ with/for java 11

[2022-10-05 11:54] SimonCockx commented on #781
Aha, that's a misunderstanding from my side. I'll look into it. Cheers!

[2022-10-05 16:02] SimonCockx commented on #781
Same issue in 3.0.0. Any specific info you might need? I'll try to make a reproducer tomorrow.

[2022-10-06 06:40] kwin opened #1473 "Clarify values for "declarative-services" mojo parameter "dsVersion""
It seems that the parameter https://github.com/eclipse-tycho/tycho/blob/663a1e16aaa77854823c3f825373b01b5d1fd25c/tycho-ds-plugin/src/main/java/org/eclipse/tycho/ds/DeclarativeServicesMojo.java#L62 is not passed to Bnd at all. On the other hand the version may be useful to set in the context of https://github.com/eclipse-m2e/m2e-core/pull/967. PDE only supports the following values though: https://

[2022-10-06 06:44] laeubi commented on #1473
BND can automatically detect the version, this parameter is only used inside PDE to tell the user if he is using "newer" features, so has no real meaning for the Tycho build. Maybe it could be used later but I personally always use the latest version supported and as you have noticed PDE is way behind what actually is supported already.

[2022-10-06 06:56] kwin commented on #1473
Which values to expect here, "1.1" or "V1_1" or both?

[2022-10-06 07:05] laeubi commented on #1473
PDE uses `V1_3` syntax in preference files but Tycho support also 1.3 variant see:
https://github.com/eclipse-tycho/tycho/blob/e40a547f19b389047b19bc4e030c449b5bc84403/tycho-core/src/main/java/org/eclipse/tycho/artifacts/configuration/DeclarativeServiceConfigurationReader.java#L59-L64

[2022-10-06 13:50] #1473 closed, assigned to nobody

[2022-10-06 14:54] #1467 closed

[2022-10-06 17:25] azoitl opened #1481 "Regression: JUnit ParametrizedTest fail because of missing dependencies"
After Upgrading to Eclipse Tycho 3.0.0 our parametrized unit tests keep failing becuase of some strange unresolved abstract method problems:

[code]

It seems that the problem already was once in Eclipse Tycho:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=568717

Is this a regression or do I need to change something more with the new Tycho release?

[2022-10-06 17:47] laeubi commented on #1481
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-10-06 18:35] mickaelistria commented on #1481
I believe this is already fixed with https://github.com/eclipse-tycho/tycho/commit/91cc9c7e9531da9ca3100dfb60d7ec7cc203bb3a . Please try 3.1.0-SNAPSHOT.

[2022-10-06 18:35] #1481 closed

[2022-10-06 20:11] mickaelistria opened #1482 "Lots of "No digest algorithm is available to verify download of " during assemble-repository"
From some random projects (known examples so far are TM4E and LinuxTools but I suspect it's widespread) and build it with `mvn verify -DskipTests`; during the assemble-repository step, you get
[code]
I've debugged it and the artifact descriptors indeed have no checksum properties. The artifacts listed here are the ones that do *not* come from a p2 repo, so the p2 metadata are generated by Tycho. I

[2022-10-06 20:24] azoitl commented on #1481
Yes it is thx for letting me know.

[2022-10-07 04:26] laeubi commented on #1482
@mickaelistria do you mean items build in the current reactor? Or ones from maven-locations?

The message itself is indeed a bit strange then because those artifacts are not really "downloaded" at all...

[2022-10-07 04:30] laeubi opened #1483 "Promote checksums from the maven repository for maven-target locations"
P2 supports checksum and maven repositories have checksum as well. We should (if available) promote those.
Similar to
- https://github.com/eclipse-tycho/tycho/issues/661

it would be good to make this configurable.

[2022-10-07 04:31] akurtakov commented on #1482
These are artifacts build in the current reactor from what I see.

[2022-10-07 07:05] mickaelistria commented on #1482
Both

They are in the sense that they're fetched from a p2 repository; which happens to be local, but the same transfer requests are used as if it were remote.

[2022-10-07 07:14] mickaelistria commented on #1483
Why? Can anything bad happen with extra checksums?

[2022-10-07 08:09] laeubi commented on #1483
At least they might require extra I/O to be fetched and there is always a case where someone complains ;-)

[2022-10-07 09:57] mickaelistria commented on #1483
I think it's not really true. Often people don't complain about what they don't know is happening; also I think this is very hypothetical someone complains, so better not introduce more complexity and more user options until we have 1 serious complaint.

[2022-10-07 10:28] mickaelistria opened #1487 "Cannot run Tycho 3.0"
### Discussed in https://github.com/eclipse-tycho/tycho/discussions/1484

[code]

[2022-10-07 10:35] mickaelistria commented on #1487
from the discussion: "Found the issue, I think you can close it. My JAVA_HOME was pointing to a different java then in the PATH, I'm currently trying to run the tests with 3.0.0"

[2022-10-07 10:35] #1487 closed

[2022-10-07 17:27] kwin opened #1491 "Ease running unit tests with packaging "eclipse-plugin-test""
Currently there is no unit test execution bound by default for packaging`eclipse-plugin-test` (https://github.com/eclipse-tycho/tycho/blob/master/tycho-maven-plugin/src/main/resources/META-INF/plexus/components.xml) but some tests should not be executed inside Eclipse as IT but rather  as plain unit test only on the Maven side with regular "maven-surefire-plugin". Although this is supported alread

[2022-10-08 04:51] laeubi commented on #1491
This is already supported pleas see:
- https://github.com/eclipse-tycho/tycho/blob/master/RELEASE_NOTES.md#support-resolving-of-junit-classpath-container
- https://github.com/eclipse-tycho/tycho/blob/master/RELEASE_NOTES.md#execute-unit-tests-with-eclipse-plugin-packaging

[2022-10-08 04:51] #1491 closed

[2022-10-08 10:04] kwin commented on #1491
This issue is particularly about supporting `eclipse-plugin-test`. For certain edge cases it is useful to have these contain unit tests as well (e.g. unit testing code that is used inside the ITs). I don't think that it does do harm to add the lifecycle binding also to `eclipse-plugin-test`.

[2022-10-08 10:58] laeubi commented on #1491
You can do with `eclipse-plugin` do anything you can do with `eclipse-plugin-test`, if you like you can even configure the mojos used in  `eclipse-plugin` for `eclipse-plugin-test` but adding any new behavior to `eclipse-plugin-test` is not desired as it already complicates things in its current state.

[2022-10-08 11:04] kwin commented on #1491
I don't really have the feeling that this is a community driven project. Usually in open source one expresses individual opinions, but in the case of tycho and m2e it feels that @laeubi just decides what is useful and what isn't without giving other committers the chance to comment. In general closing feature requests within hours/days with not at least one other  committer expressing the same opi

[2022-10-08 11:22] laeubi commented on #1491
Any committer can (and will) give independent opinions and even can disagree and then we can discuss and came to other conclusions, but there are is no need for every committer to express individual agreement on every particular issue, so if other agree there is no need to do so. There are often other things where I do not participate because I'm just fine with that.

Also open source do not mean

[2022-10-08 11:40] kwin commented on #1491
Closing an issue IMHO ends a discussion so I would recommend to at least wait 2 weeks before closing issues.

[2022-10-08 11:45] laeubi commented on #1491
@kwin if you like to _discuss_ something its generally better to open a new https://github.com/eclipse-tycho/tycho/discussions (issues are used for bugs or actually implement a feature), and if there is a decision one can easily create an issue from a discussion.

So if you like I can convert the issue into a discussion, or you simply open a new one with maybe rephrased question/text, e.g. it shou

[2022-10-08 17:31] laeubi commented on #1482
One general remark:

This message was actually hidden in previous versions (as we did not redirected OSGi messages), beside that, these are emitted when one calls: org.eclipse.tycho.p2.tools.mirroring.facade.MirrorApplicationService.mirrorReactor(...) so maybe it would be valid to simply disable checksum checks for this step.

[2022-10-09 04:36] #1483 closed

[2022-10-09 04:54] laeubi commented on #661
Might be useful here:

- https://issues.apache.org/jira/browse/MNG-7560
- https://github.com/s4u/pgpverify-maven-plugin/issues/53

[2022-10-09 04:55] laeubi commented on #661
@mickaelistria as you now added options to control (re) signing of artifacts, do you still think it should be optional or simply the default?

[2022-10-09 08:38] mickaelistria commented on #1482
I think it would actually be more interesting to add checksums to the artifact metadata when generating them. This will make build capable of detecting more file corruption.

[2022-10-09 08:53] mickaelistria commented on #661
It can be turned on by default, but we need a way to disable it. For example, in Eclipse projects participating in SimRel, we don't want to use random signatures, we want that Eclipse project do sign the artifacts they ship as a way to say "I, Eclipse XYZ, do trust this artifact", and we don't really mind about who signed it first. So we wouldn't want to include "random" signature in that stage.

[2022-10-09 12:20] laeubi commented on #1482
When the file gets corrupted after it is packaged, then something is really wrong. If it is corrupted while/before packaging one would never notice that... P2 actually would skip the check sometimes, but only if the repository is "local", that is has an URI that starts with "file:/" ... that is not the case for Tycho because we use custom (in memory) repositories.

[2022-10-09 14:06] kwin opened #1494 "Replace Plexus Components by plain JSR 330 Components"
Plexus Components are deprecated (https://codehaus-plexus.github.io/plexus-containers/) and should be replaced by plain JSR 330 components (https://github.com/eclipse/sisu.plexus/wiki/Plexus-to-JSR330).

Here are some examples of JSR 330 components:

1. lifecycle mapping: https://github.com/apache/maven-rar-plugin/blob/master/src/main/java/org/apache/maven/plugins/rar/internal/RarLifecycleMappingP

[2022-10-10 05:33] laeubi commented on #1494
@kwin Currently Maven 3.8.x contain JSR 330 implementation that is not compatible so we have to wait for Maven 3.9.x release here.

[2022-10-10 06:28] laeubi opened #1495 "Do not bind integration-test mojo to the default life-cycle"
You need to configure the following mojo:

https://tycho.eclipseprojects.io/doc/3.0.0/tycho-surefire-plugin/integration-test-mojo.html#includes

**please note that the documentation about default value seems wrong** because it is inherited from the abstract class, the default pattern is: `"**/PluginTest*.class", "**/*IT.class"`

One needs to configure the default life-cycle configuration, I think

[2022-10-10 07:10] laeubi commented on #89
@kwin as you recently have improved the site-docs is this still an issue? Or any idea how to improve this?

[2022-10-10 07:21] kwin commented on #89
I think this is a duplicate of #1467

[2022-10-10 07:22] laeubi commented on #89
Duplicate of #1467

[2022-10-10 07:36] laeubi commented on #1260
I have now started some work here: https://github.com/eclipse-tycho/tycho/pull/1497

[2022-10-10 07:52] LorenzoBettini commented on #1260
@laeubi sorry, I had forgotten about that... please let me know if you face any problems, and I'll try to help as far as I can.

[2022-10-10 09:37] kwin opened #1499 "Document "tycho-build" extension"
There should be a dedicated page in the Maven generated site which explains when and how the Maven extensions from `tycho-build` (https://github.com/eclipse-tycho/tycho/blob/master/tycho-build/pom.xml) should be loaded. Compare with the discussion at https://github.com/eclipse-m2e/m2e-core/pull/979#discussion_r990816233

[2022-10-10 10:12] laeubi commented on #1260
It seem to work now to generate the sitedoc, but I can't get it to push to another repository in the same organization:

https://github.com/eclipse-tycho/tycho/actions/runs/3218458142/jobs/5262648916

[2022-10-10 10:30] sratz commented on #1099
We are using Tycho 3.0.0 release and are still seeing such errors in multithreaded builds:

[code]

[2022-10-10 10:32] laeubi commented on #1099
@sratz One would need what JDK is used for build, what is sued for compile (e.g. content of toolchains.xml)

[2022-10-10 10:35] laeubi commented on #1260
What I could think of is that we simply do it the other way round and put the workflow into the site repo... then it has to be triggered manually but I think that is acceptable and I don't like to play around with setting up PATs and remote triggers and alike ...

[2022-10-10 10:36] sratz commented on #1099
maven / Tycho build is run with SapMachine 17.0.4.1 (openJDK).

tycho-compiler-plugin is set to to `<useJDK>SYSTEM</useJDK>` and `<release>11</release>`.

Toolchains should not be relevant in this case but looks as follows:
[code]

[2022-10-10 10:39] laeubi commented on #1099
Maybe a custom ECJ setting somewhere in the poms using an older release?

[2022-10-10 10:44] sratz commented on #1099
Oh, my bad. In this particular build Tycho 2.7.5 is still used.

Sorry for the noise.

[2022-10-10 11:38] col-panic commented on #1099
yes. The problem persists.

Running `mvn clean verify` with a proper toolchains.xml on https://github.com/elexis/elexis-3-core/tree/f24622 leads to the following error:

[code]

which makes no sense, as the resp. file was successfilly compiled within
[code]

Other Info:

openjdk version "17.0.4.1" 2022-08-12
OpenJDK Runtime Environment Temurin-17.0.4.1+1 (build 17.0.4.1+1)
OpenJDK 64-Bit Server VM

[2022-10-10 11:55] laeubi commented on #1099
Such error can also be generated if an import is missing (at least JDT thinks so) and as the type is from `ch.elexis.core` and you are compiling `ch.elexis.core.model` maybe a package is not exported/imported that is transitively required?

Can you try to extract `getEntity().getTyp()` into a local variable `ent = getEntity()` in that code path?

[2022-10-10 12:41] Zegveld opened #1501 "target-platform-configuration cannot be used in parent pom anymore"
we have a parent pom which contains most of our tycho configuration among which the target platform configuration.
This parent pom is then used by multiple maven modules in multiple git repositories.

Since 3.0.0 this usage results in the following exception:
`Execution prepare-test of goal org.eclipse.tycho:target-platform-configuration:3.0.0:target-platform failed: Tycho build extension not conf

[2022-10-10 12:47] laeubi commented on #1501
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? It seems you are using a custom execution here, so I don't think it is the configuration itself that is causing issues here.

[2022-10-10 13:26] Zegveld commented on #1501
interesting, was just looking at the integration-tests that are already there, and the situation is listed.
though it might then be related to one of the options we have enabled there.

[code]

currently working on the integration-test.

[2022-10-10 13:36] Zegveld commented on #1501
I totally missed that about the id `prepare-test`.
I think this issue might be closable then, because we have a second reference to this plugin outside the tests profile.

Closing this for now, I'll reopen it in case this was not the problem. But preliminary results indicate that this is most likely the issue.

Thanks for the fast response @laeubi

[2022-10-10 13:36] #1501 closed

[2022-10-10 14:46] laeubi opened #1502 "Add a section that explains different ways of testing tycho-plugins"
There are various ways to test tycho-plugins we should add a section to the site-docs to explain how and what are the use-cases.

At least one can use:

1. "traditional" tycho-test-plugin" testing
2. default maven surefire
3. default maven failsafe
4. tycho plugin testing like failsafe
5. ... osgi test support would be also great ...

[2022-10-10 15:30] laeubi opened #1503 "Add package mojo that packages tests of a plugin into a fragment"
One use-case currently for creating test-fragments is to reuse these to test against different platforms.

This requires additional setup and needlessly makes tests scattered around. Instead there should be a mojo that automatically packs test-code into a fragment of the hosting `eclipse-plugin` and attaches it to the project so it could be used/deployed independently.

[2022-10-10 17:06] #1495 closed

[2022-10-10 19:10] LorenzoBettini commented on #1260
To do that (it's supported by GitHub Actions), you need some further steps, quoting from another example of mine, https://www.lorenzobettini.it/2021/03/publishing-an-eclipse-p2-composite-repository-on-github-pages/

- create a [GitHub personal access token](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token) (selecting repo);
- create a secret in the GitHub

[2022-10-10 19:16] LorenzoBettini commented on #1260
And in this particular case, I guess the personal access token should be created by the owner of the organization; the owner of the organization does not have to disclose the value of the PAT: the owner can create directly the secret in this repository, without disclosing the value.

[2022-10-10 19:26] LorenzoBettini commented on #1260
Oh, and I found the experiments I made for that blog post:

https://github.com/LorenzoBettini/p2composite-github-pages-example/blob/master/.github/workflows/experiments.yml

This does the manual git clone, commit, push steps as I was suggesting.

In that example workflow, the destination repository is

`https://x-access-token:${{ secrets.ACTIONS_TOKEN }}@github.com/LorenzoBettini/p2composite-githu

[2022-10-11 04:21] laeubi commented on #1260
I have requested a PAT now here: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2061

[2022-10-11 05:04] LorenzoBettini commented on #1260
As I said, you should also ask them to create a secret in this repository with the PAT value (unless they're Ok with giving you the value of the PAT directly)

[2022-10-11 05:08] laeubi commented on #1260
I edited the text now and suggested `TYCHO_SITE_PAT` as a name, I think the name itself do not matter much ...

[2022-10-11 05:55] col-panic commented on #1099
I tried, the error message does not really change
[code]
it's just refering to entity now. Interestingly enough - this only seems to be a problem on OS X. Running it on Linux
always passes this part without a problem.

[2022-10-11 07:14] LorenzoBettini commented on #1260
Yes, the secret's name is not essential. When everything's set up, I suggest you try the experiment, and if that succeeds, you should be good to go with the actual workflow :)

[2022-10-11 07:17] laeubi commented on #1260
I hope I can even just use the checkout action as described here:

https://github.com/actions/checkout#push-a-commit-using-the-built-in-token

but with a PAT?

[2022-10-11 16:12] jonathan-meier opened #1512 "Access rules for packages in fragments of dependency bundles are ignored during compilation"
We develop an Eclipse plugin that depends on the `org.eclipse.swt` bundle in Eclipse and build it with Tycho (version `3.0.0`). In this plugin, we make use of some internal API of `org.eclipse.swt` and therefore use an `@SuppressWarnings("restriction")` annotation to silence Eclipse warning about the discouraged access:

[code]

Tycho now warns about an unnecessary `@SuppressWarnings("restriction"

[2022-10-11 16:26] laeubi commented on #1512
I'm not sure if fragments can have access rules at all, as wiring's are always computed from the host (that is the `org.eclipse.swt` bundle)

[2022-10-11 16:38] jonathan-meier commented on #1512
In the case of `org.eclipse.swt` both the host and its fragments define the same access rules. So I'm not sure if the fragments can provide their own (additional) access rules. However, during compilation the access rules have to be provided with the JAR since fragments can provide additional API when the host allows it (using `Eclipse-ExtensibleAPI: true`) as is the case with `org.eclipse.swt`.

[2022-10-12 09:26] laeubi opened #1516 "Tycho do not understands BUNDLE_ROOT_PATH"
One can change the root of the bundle (for example)

`BUNDLE_ROOT_PATH=src/main/resources`

in `org.eclipse.pde.core.prefs` but then Tycho fails as it search for the manifest always at the root.

[2022-10-12 09:38] akurtakov opened #1517 "Build fails with tycho.scr issue"
As it can be seen at https://ci.eclipse.org/platform/job/eclipse.platform/job/PR-222/1/console :
[code]

[2022-10-12 09:38] akurtakov commented on #1517
@laeubi Any idea ?

[2022-10-12 09:42] laeubi commented on #1517
It seems the version bump might be not complete?

https://github.com/eclipse-tycho/tycho/pull/1515

but the build do not fails completely here (just errors out) so I assume there are some conflicts between 2.2.2 and 2.2.4 version here.

[2022-10-12 10:40] sratz opened #1518 "maven-based target platform definition: option to generate new manifest even if one already exists?"
The `missingManifest="generate"` option in maven based target definition allows me generate an OSGi bundle, if it is not one already.

However, we have a use-case where the artifact already is an OSGi bundle, but we need to modify it for consumption.

What do you think about providing a new option like `forceGenerateManifest="true"` to allow this?
(Alternatively a 4th alternative for the existing

[2022-10-12 10:42] laeubi commented on #1518
Can you explain why you need a different manifest? If there are any bugs it might be better to ask the provider to fix them?

[2022-10-12 14:32] laeubi commented on #1260
The PAT was created

-  current workflow: https://github.com/eclipse-tycho/tycho/blob/master/.github/workflows/sitedocs.yml
- resulting run: https://github.com/eclipse-tycho/tycho/actions/runs/3235375077

The job succeeds but git push says everything is up to date...

[2022-10-12 16:24] laeubi commented on #1260
Hurray https://github.com/eclipse-tycho/eclipse-tycho.github.io/tree/main/doc/master

[2022-10-12 16:29] wimjongman commented on #1260
Hello back.

![image](https://user-images.githubusercontent.com/180969/195398185-bd3a3ca7-482b-47c9-9ac3-323fcca78f2b.png)

[2022-10-12 17:44] wimjongman commented on #1260
Sure! Can we use Hugo?

[2022-10-12 17:55] laeubi commented on #1260
The repository is here:

https://github.com/eclipse-tycho/eclipse-tycho.github.io

I think we can use whatever is sufficient here, the only folder currently used is the "doc" folder where we deploy the site-docs but even this can be adjusted if required.

[2022-10-12 21:37] HannesWell commented on #1260
For curiosity, do you know a (good) Maven plug-in to build with Hugo so that one does not have to install hugo on the build machine?
At work we wanted to build a hugo site that also included asciidoc files. But bcause Since I didn't want to manage hugo and ascidoctor plus its ruby dependencies on our build-server, I ended up writing a Java script (not javascript) that downloads+extracts the hugo z

[2022-10-13 03:43] laeubi commented on #1260
At least for Github there seems to be an action to do so:
https://gohugo.io/hosting-and-deployment/hosting-on-github/#build-hugo-with-github-action

[2022-10-13 08:16] LorenzoBettini commented on #1260
Just for curiosity, why another framework? Isn't markdown or other format supported by the Maven site plugin enough?

[2022-10-13 08:19] wimjongman commented on #1260
Is that not another framework as well?

[2022-10-13 08:27] wimjongman commented on #1260
I don't know that, but I know that the foundation supports Hugo.

* https://www.google.com/search?q=eclipse+foundation+hugo

[2022-10-13 08:30] LorenzoBettini commented on #1260
Yes, but it's already integrated with Maven and, most of all, if I understand correctly, the site will contain the Tycho Maven goals documentation, which is already dealt with by Maven.

[2022-10-13 08:31] akurtakov commented on #1260
I have no idea what hugo is (even from that google search) and as Tycho is a maven plugin it's probably best to just deploy maven side.

[2022-10-13 08:33] LorenzoBettini commented on #1260
That's exactly what I meant. During the Maven build the HTML is produced and can just be published as it is.

[2022-10-13 08:44] HannesWell commented on #1260
It is a static website generator Framework:
https://gohugo.io/

Personally I mixed feelings about, it works well when you do the standard stuff (especially when building it) and has wide theming support and the sites look nice. But I had a hard time to integrate it into a Maven build.

Also integrating the output of the maven-site plugin could become difficult. But maybe we are lucky.

[2022-10-13 08:58] wimjongman commented on #1260
No that is already been taking care of here: https://tycho.eclipseprojects.io/doc/3.0.0/tycho-packaging-plugin/plugin-info.html

It will be the official Tycho landing page. I admit it is hard to beat the current site: https://tycho.eclipseprojects.io/ :)

It is supported by the EF

[2022-10-13 11:42] laeubi commented on #1260
As long as one can edit a file in the repository and it automatically updates the website afterwards automatically I don't think there is any need for a maven-build as this is completely independent from the code (we already have maven-site-build for the "technical" part, but we could use a little nice landing pages, and there I won't mind the technique used. SO if aynone wants to contribute somet

[2022-10-13 14:01] kwin opened #1526 "Add prerequisites to each Maven plugin"
Currently the Maven prerequisites is only stated in https://github.com/eclipse-tycho/tycho/blob/ac83caac1d94c795d5c62ee9d84f538549048bb9/pom.xml#L61. This is not inherited to child modules though:

(from https://maven.apache.org/ref/3.8.6/maven-model-builder/#inheritance-assembly)

That leads to the fact that all Maven plugins (packaging: `maven-plugin`) don't have prerequisites which are automati

[2022-10-13 14:08] akurtakov commented on #1526
Do you think you can spend the time to provide a patch fixing that?

[2022-10-14 10:29] laeubi commented on #1517
I just checked this but can't find any more `felix.scr` references in Tycho... so this is a bit strange where 2.2.2 is coming from...

[2022-10-14 10:56] akurtakov commented on #1517
Could it be from tycho-build which is 3.0.0 as we can't refer to snapshot in extension?

[2022-10-14 11:08] laeubi commented on #1517
Yeah maybe it becomes visible that way ... I'll try to exclude this dependency it is actually not required for the build extension I think.. beside that they should actually have different classloaders.

[2022-10-14 13:21] #1517 closed

[2022-10-14 13:32] marcellorinaldo opened #1536 "tycho-p2-extras-plugin:3.0.0 PluginExecutionException"
Hello, I'm facing these errors while trying to compile my maven project with the plugin `tycho-p2-extras-plugin` on Tycho v. 3.0.0:

[code]

I'm currently using Java 17.0.4.1 and Maven 3.8.6. Using Tycho 2.7.5 everything works as expected.

[2022-10-14 16:02] laeubi commented on #1536
Please make sure that the tycho-maven-plugin is activated in your build with option extension=true as for example here:

https://github.com/eclipse-tycho/tycho/blob/1bda92601f35c79a2a54ae7d9e49ed6f6b826326/demo/itp01/pom.xml#L28-L33

[2022-10-17 09:07] marcellorinaldo commented on #1536
Thanks for the reply. Interestingly, I've the `extension` flag already set to true as in the example, but by removing it the plugin gets executed anyways and everything works fine.

[2022-10-17 12:53] marcellorinaldo commented on #1536
I have create a simple example on this link: https://github.com/marcellorinaldo/issue-example

[2022-10-18 04:19] laeubi opened #1550 "Investigate and enable RemoteAgentCompositeLoadingTest again"
As discussed below, the `RemoteAgentCompositeLoadingTest` is currently disabled (ad2b1b2184f7318bff03ba2da8f5c9da6731c97b) because it only fails on Jenkins. We should enable it again if we find a way to reproduce the failure locally...

I added a new PR without changes here ant it fails with the same tests

https://github.com/eclipse-tycho/tycho/pull/1547

but master succeeds:

https://ci.eclipse.

[2022-10-18 12:38] Kellindil opened #1551 "Tycho-surefire-plugin should not trim stack traces by default"
The maven-surefire-plugin documentation indicates that the default value for "trimStackTrace" is false (https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#trimStackTrace). Tycho, on the opposite, makes that value true by default https://github.com/eclipse-tycho/tycho/blob/master/tycho-surefire/org.eclipse.tycho.surefire.osgibooter/src/main/java/org/eclipse/tycho/surefire/osgibo

[2022-10-18 13:16] laeubi commented on #1551
@Kellindil do you like to propose a patch?

[2022-10-18 13:38] Kellindil commented on #1551
Well if it's a matter of changing the "_getProperty("trimStackTrace", "true")_", yeah, I can change them all to "false" instead and push a MR, but I think more info about why the decision to change the default value has been initially made could be helpful :).

From what I can see, this "trimStrackTrace" being false means debugging unit tests is impossible, "true" is the only value that makes sens

[2022-10-18 13:42] laeubi commented on #1551
Simply add a note tho the RELEASE_NOTES.MD informing about the new default and that should be fine.

[2022-10-18 14:43] Kellindil commented on #1551
I couldn't start the unit tests locally with "mvn clean verify -Pits" because of earlier failures in tycho-document-bundle-plugin so I'll rely on the CI here to get feedback on any test failure.

For more details about the issue :
"trimStackTrace" trims any stack line that is not present in the test itself. In my case, what I'm starting are parameterized tests so I have a single class with the par

[2022-10-18 17:28] #1551 closed

[2022-10-19 04:42] laeubi commented on #146
Basic work has been done and further work is better done in m2e directly

[2022-10-19 04:42] #146 closed

[2022-10-19 04:52] laeubi commented on #163
@sparsick As no one else had reported the issue and we have no reproducer for this I'll close the issue for now, but feel free to ask to reopen it if you find time to further investigate.

[2022-10-19 04:54] laeubi commented on #154
@bjmi if you still see issues with 3.0.0 release pleas open a new issue with your problem at best provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue.

[2022-10-19 04:54] #154 closed

[2022-10-19 04:58] laeubi opened #1555 "drop incomplete resolving for pomDependeincies = consider and use the new tycho relsover instead for mixed builds"
pomDependeincies = consider currently allows incomplete resolving and emits a warning for missing items. This has several issues and quirks but until now was the only option.

With the recent refactoring and the new resolver support, we can remove that option and instead enhance the new resolver to additionally take pom declared items into account when it encounters missing requirements.

FYI @hd4

[2022-10-19 05:02] laeubi opened #1556 "Support considering maven dependencies for compilation"
Currently if I declare a dependency in the pom (e.g. to use some annotations with class or source retention scope), Tycho ignores them unless I somewhere in the manifest reference them and they are OSGi bundles and thus compilation fails even if these are irrelevant at runtime.

There should be an option that any item declared in the pom with the appropriate scope are considered for compilation.

[2022-10-19 05:04] laeubi commented on #607
The recent added support for resolving maven dependencies in the consumer pom phase seems more valuable than in the injection phase.

[2022-10-19 05:04] #607 closed

[2022-10-19 05:05] laeubi commented on #574
There are now other ways to accomplish that (e.g. Tycho CI friendly versions)

[2022-10-19 05:05] #574 closed

[2022-10-19 05:05] laeubi commented on #558
This is done now.

[2022-10-19 05:05] #558 closed

[2022-10-19 05:06] laeubi commented on #1288
Good candidate for 4.0!

[2022-10-19 05:09] laeubi commented on #62
As no action for more than a year I'll close this for now as it seems JDT still don't support this. But feel free to report back here if there is still something to do and we can make progress e.g. by provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue and JDT has fixed the problem.

[2022-10-19 05:09] #62 closed

[2022-10-19 05:13] laeubi opened #1557 "Update to maven 3.9.x"
Once maven 3.9 is out we should migrate and use it.

Maven 3.9 will remove all deprecated API and is a perquisite if we later want to be prepared for maven 4.

Also there are some important new features Tycho can leverage in 3.9.x:
- https://github.com/apache/maven/pull/913 could be used as an alternative way to discover other projects we can use in p2 dependency resolution, currently Tycho solely

[2022-10-19 05:58] mickaelistria commented on #1555
I don't think it's such a good idea to drop pomDependencies=consider. There are cases of some poeple using Tycho but not using Eclipse IDE, nor m2e, nor PDE and those people do enjoy pomDependencies=consider more than a .target which is kind of unmaintainable to them (they don't have the editor) and seems also alien compared to plain Maven.

OK, so that maybe covers the story I mention above. Woul

[2022-10-19 06:14] laeubi commented on #1555
I don't want to drop the ffeature, just the support for incomplete resolving (aka mixed mode) requiring it :-)

You can/should be able to use it with pomDependencies=consider / wrap / ignore

[2022-10-19 06:17] mickaelistria commented on #1555
Ah ok, the title is slightly confusing, I'll rework it.

[2022-10-19 13:09] laeubi commented on #958
@Saymama are you using Tycho 3.0?

[2022-10-19 15:45] laeubi commented on #1288
I investigated a bit on this and it seems that the bin.includes are not always a good citizen here...

1. for plugin-packaging the output folder is only considered to be included if the '.' folder is added to the classpath while this is often true, there might be cases where one things this is not required because everything is mentioned in the bin.includes
2. logically, this belongs to the `proce

[2022-10-19 18:44] tomaswolf commented on #1464
I ran into similar problems when trying to build m2e-core (thanks @kwin for the link), getting "Project build error: Unresolveable build extension: Plugin org.eclipse.tycho:tycho-maven-plugin:3.0.0 or one of its dependencies could not be resolved: Failed to collect dependencies at org.eclipse.tycho:tycho-maven-plugin:jar:3.0.0 -> org.eclipse.tycho:tycho-core:jar:3.0.0 -> org.eclipse.tycho:p2-maven

[2022-10-19 18:46] laeubi commented on #1464
Tycho do not download **anything** here, it is **maven** that downloads (and complains) before Tycho can even run.

[2022-10-20 06:42] RealCLanger commented on #619
Hi, I just got back here because I wanted to try with latest tycho on OpenJDK JMC project. Now I learned that using --release and --add-exports from system modules is illegal which I wasn't aware of. OK, so be it.

However, to compile successfully, we need --add-exports from system modules. I'm wondering, is there a way to configure tycho to not use the "--release" option?

Look at this POM: https

[2022-10-20 07:39] RealCLanger commented on #619
Little update on that one: With <useJDK>BREE</useJDK>, I can get it to work. I can the probably hit the else statement [here](https://github.com/eclipse-tycho/tycho/blob/f0cb215a0e676aae806ad9eca75245efc83597e5/tycho-compiler-jdt/src/main/java/org/eclipse/tycho/compiler/jdt/JDTCompiler.java#L286)

[2022-10-20 17:37] krit0n opened #1566 "Documentation to Tycho Versions prior 3.0.0"
In the Readme the documentation to the latest tycho-Version is referenced. Where do I find the documentation of previous versions?

[2022-10-20 17:39] krit0n commented on #1566
The readme in [tycho-2.7.x](https://github.com/eclipse-tycho/tycho/tree/tycho-2.7.x) links to https://tycho.eclipseprojects.io/doc/index.html where I find a reference to version 3.0.0

[2022-10-21 05:49] laeubi opened #1568 "Get rid of ECF"
Actually there is no much need for it in Tycho anymore

[2022-10-21 05:50] laeubi opened #1569 "Get rid of IProxyService"
It was mostly used for compatibility with ECF, but maven has its own framework for proxy settings and we should use it.

[2022-10-21 05:54] laeubi opened #1570 "Get rid of MavenContext"
Before we have used `MavenContext` to access several aspects of maven in OSGi, this is no longer required and can be replaced by direct usage of maven components.

[2022-10-21 07:43] fipro78 opened #1572 "[pom-less] Incorrect dependencies in generated pom.xml"
Hi,

I noticed that the pom.xml files that are generated via pom-less Tycho now contain a `dependencies` section. I can't tell when this feature was added, but since we updated to Tycho 2.7.0 this is the case. That actually broke the Maven usage of our bundles, as the generated dependencies are incorrect.

[code]

They are provided and optional and should not break actually, but having incorrect m

[2022-10-23 06:45] laeubi opened #1577 "Move eclipse-platform dependencies to the parent pom into a dependency mangement section"
Due to the transition from OSGi>Maven a lot of dependencies where added here and there to make it happen.

Now the transition is done, it would be good to "organize" this a bit, eg. make them all managed dependencies @mickaelistria is there a feature in m2e to automate this task?

@akurtakov maybe you want to help here?

This will make updates easier especially with dependabot. Tycho might also be

[2022-10-23 07:07] akurtakov commented on #1577
I am not aware of any automation for this. Usually I wait for dependabot to kick in (should happen with 2022-12 release) and when I notice it to update same artifact version in more than one place move it to managed one.
I'll keep an eye (and try to help) with this once platform builds (mainly tests) are a bit more stable.

[2022-10-23 08:13] laeubi commented on #1577
I created
- https://github.com/eclipse-m2e/m2e-core/issues/1001

[2022-10-25 11:02] Bananeweizen opened #1591 "automatically mark target folders derived in eclipse"
I would like to add the https://nodj.github.io/AutoDeriv/ plugin to the Tycho Oomph setup. It allows marking workspace files as derived via a simple gitignore-like config file. That way, stuff in target folders is no longer included in search results etc. I'm using this since years in company projects.
Any objections? Otherwise I would just create a PR.

[2022-10-25 11:21] akurtakov commented on #1591
Interesting plugin I didn't know about it. I'm a bit concerned it hasn't been released in years.

[2022-10-25 12:06] LorenzoBettini commented on #676
In my recent experience, using "tycho.mode=maven" was the only way to run dependency:go-offline correctly... otherwise, I get errors trying to resolve from Maven central non-existing artifacts of the shape

[code]

the name of the non existing Maven artifact to resolve is likely to change if I run the build again...

[2022-10-25 13:00] Bananeweizen commented on #1591
It hasn't needed any upgrades, since it is basically just a resource change listener implementation. And even if it would break on a future Eclipse platform version, removing it again would be trivial and without problem, since it's functionality is not mandatory, but just "nice to have".

[2022-10-25 13:06] akurtakov commented on #1591
OK, I don't mind it .

[2022-10-25 13:14] laeubi commented on #676
@LorenzoBettini can you open a dedicated bug for this, maybe with an example or even provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-10-25 13:16] laeubi commented on #1591
@Bananeweizen maybe this can be integrated in eclipse platform? Or maybe as part of Egit? Would be cool when gitignores would be automatically be ignored....

[2022-10-25 13:21] laeubi commented on #1591
btw. maybe we can even fix that at m2e? You shouldn't need an additional plugin for that...

[2022-10-25 16:22] kjsmita6 commented on #1052
In my case, I have a project of type eclipse-repository with a category.xml file to generate an update site with our product's features and plugins. The message looks like this for me:
[code]

I'm not sure where that `202210251612.Default 1.0.0.7L1-cM8lk677377537C5C5G` came from, and `com.example.mine.feature` is the only feature in the category.xml file.

[2022-10-27 12:04] #1568 closed

[2022-10-27 12:16] #1591 closed

[2022-10-27 15:11] #1569 closed

[2022-10-27 15:31] laeubi commented on #1393
@Phillipus 3.0.0 is out and you seem to have a working soloution, so I think we can close.

[2022-10-27 15:31] #1393 closed

[2022-10-27 15:32] laeubi commented on #1364
@sthdev can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-10-27 15:38] laeubi commented on #1390
@guw also consider trying tycho 3.0. As no further infromation is provided an no one else complained I'll close this for now, let me know if you still see issues so we can reopen the ticket.

[2022-10-27 15:38] #1390 closed

[2022-10-27 15:43] laeubi commented on #1386
Please try out 3.0 with an empty maven repository and report back if there are still issues.

[2022-10-27 15:43] #1386 closed

[2022-10-27 15:44] laeubi commented on #1198
This is already fixed now.

[2022-10-28 06:31] laeubi commented on #1566
@krit0n I have uploaded the docs for Tycho 2.7.5 here:
https://tycho.eclipseprojects.io/doc/2.7.5/

[2022-10-28 06:31] #1566 closed

[2022-10-28 07:01] #1550 closed

[2022-10-28 07:42] Bananeweizen opened #1601 "wrapped artifacts have a blank in their version"
The version of wrapped target artifacts is consistently shown with a leading blank in 2.7.5:
[code]
I'm wondering if the manifest parser really leaves the leading blank after the colon, e.g. "Bundle-Name: foo" has the value " foo" then.

[2022-10-28 08:51] laeubi commented on #1601
Have you checked that ut is really the manifest or just the log message? What about Tycho 3.0?

[2022-10-28 13:39] Bananeweizen commented on #1364
A colleague of mine has each separate .prefs file as linked resource, and that seems to work fine both in PDE and Tycho.

[2022-10-28 16:24] kwin opened #1603 "Maintain redirect for https://tycho.eclipseprojects.io/"
Currently https://tycho.eclipseprojects.io/ just exposes "Hello World".
It should redirect to either https://tycho.eclipseprojects.io/doc/latest/ or https://tycho.eclipseprojects.io/doc/

[2022-10-29 03:36] laeubi commented on #1603
@kwin the idea was actually to build a little front page for Tycho see discussion here:

https://github.com/eclipse-tycho/tycho/issues/1260#issuecomment-1276451709

[2022-10-29 04:57] laeubi opened #1604 "Rework how "local installed artifacts" work"
Currently local artifact lookup works quite strange (from a maven POV):

1. Tycho maintains an index of local installed artifacts
2. When a resolve operation is performed these index is used to supply additional IUs and the largest version is chosen

This has some problems:

1. There is no way for the user to manage this index, it is only ever updated/extended when a new item is installed
2. Actua

[2022-10-29 09:21] HannesWell commented on #1494
Are you referring to [Eclipse Sisu-Inject 0.3.5](https://github.com/eclipse/sisu.inject/releases/tag/releases%2F0.3.5) as implementation? It looks like support for later Java-versions was already added, but it has not yet been released.
So unless this happens before Maven 3.9.x, which then has to be included, we have to wait longer.

[2022-10-29 09:33] HannesWell commented on #1516
That should not be too complicated. It should be sufficient to read the pde.core preferences and consider the value for `BUNDLE_ROOT_PATH` in `TychoBundleMapping`:
https://github.com/eclipse-tycho/tycho/blob/6bfcb4fee113b3058907efa61086b3cac0e114e8/tycho-extras/tycho-pomless/src/main/java/org/eclipse/tycho/pomless/TychoBundleMapping.java#L68-L74

[2022-10-29 11:13] kwin commented on #1494
@HannesWell https://issues.apache.org/jira/browse/MNG-7502 is required for Java 17 support. Not sure if https://github.com/eclipse/sisu.inject/commit/4790d3e28987ee4c2472d576e544c07028a85f42 is required as well (the latter would require a new sisu.inject release….

[2022-10-29 11:22] HannesWell commented on #1494
Thanks for the pointer to the maven issue. I can only tell that I'm about to add a Maven-extension that adds an EventSpy for m2e that is compiled with java-17. Using Sisu.inject 0.3.5 that did not work, but using Plexus-components worked for me.

[2022-10-29 11:46] kwin commented on #1494
@HannesWell You need Guice 5.1 (part of upcoming Maven 3.9) as well.

[2022-10-29 12:03] HannesWell opened #1607 "Error starting 'org.eclipse.equinox.p2.transport.ecf' during TP-resolution and ClassCastException"
The current console print-outs of Eclipse-Platform builds, which use Tycho 4.0.0-SNAPSHOT, contain the print-outs like the one below during the initial TP-resolution.

See for example: https://ci.eclipse.org/platform/job/eclipse.platform/job/master/144/console

However the build succeeds nevertheless.

[code]

[2022-10-29 12:08] laeubi commented on #1607
This si because you mix 3.0 build extension with 4.0 tycho.

[2022-10-30 21:14] Bananeweizen opened #1614 "thousands of fakeRepoXYZ temp folders"
The fakeRepo1234567 folders are probably never deleted, I have several thousand of them in my temp folder. Content is always just a single file, like here:
![image](https://user-images.githubusercontent.com/406876/198901975-bace185d-1ac0-442f-8e71-b8035d0d7fd7.png)

[2022-10-31 05:38] laeubi commented on #1614
Can you try out latest m2e snapshot? See
- https://github.com/eclipse-m2e/m2e-core/pull/934

[2022-10-31 06:22] estepper commented on #664
I just accidentally pushed some of these new files.

It would be so nice if all these fancy new "features" wouldn't be activated by default by their developers, at least when they have a questionable persistent effect! Why do you think that everybody wants to make use of these new files? It's not even documented how exactly I can turn their creation off (correct me if I'm wrong).

How exactly can

[2022-10-31 06:30] laeubi commented on #664
@estepper please use https://github.com/eclipse-tycho/tycho/discussions for usage questions, if you don't need

feel free to use older Tycho versions, they are retained forever thanks to maven central.

And you can't turn them off, as they server a purpose, but you can of course disable the generation of consumer poms directly see:

https://tycho.eclipseprojects.io/doc/latest/tycho-packaging-plugi

[2022-10-31 06:34] Bananeweizen commented on #1614
Not really, but I'm fine with closing, since that has already been fixed.

[2022-10-31 06:34] #1614 closed

[2022-10-31 07:27] estepper commented on #664
Your world is so simple. But I'm not always free to use the version I used to be happy with earlier. Have a look at https://www.eclipse.org/lists/cross-project-issues-dev/msg19409.html to see why I felt forced to bump my Tycho version.

Your hint with <skipPomGeneration>true</skipPomGeneration> sounds interesting, but my attempt to use it had no effect. Probably because I'm using it wrongly:

`

[2022-10-31 07:39] laeubi commented on #664
As simple as "why can't you just turn of everything by default"... We try to choose defaults that are most likely useful and recommended for new builds, but we can't retain all and everything forever if it do not harm. Still there are always options for those who need to upgrade to restore old behavior as much as possible if they feel suitable.

And in this particular example the files should be d

[2022-10-31 09:43] laeubi opened #1615 "If target file references a SNAPSHOT from the reactor it canot be resolved"
One example is the factorips project https://github.com/faktorips/faktorips.base that fails with an empty repository with:

[2022-10-31 10:23] HannesWell commented on #1607
Understand. Do you think this can be really harmful?

[2022-11-01 08:07] estepper commented on #664
I didn't suggest to "turn of **everything** by default". I would think that generating artifacts into a project's root folder is at least uncommon for Maven builds, if not even unrecommended. So, if you're changing existing functionality to do it nevertheless, you should make that new function an opt-in, and not an opt-out.

Yes, sometimes I kill a build. It's clear that shutdown actions may not b

[2022-11-01 08:16] laeubi commented on #664
It is required to do so because otherwise maven plugins are confused, for the same reason the https://www.mojohaus.org/flatten-maven-plugin/plugin-info.html do it the same way. So nothing much Tycho can do here if you don't want to break maven itself in several places.

What is **not uncommon** is, that one assumes file starting with a dot as "hidden", "system" and/or probably not to account for c

[2022-11-01 08:21] estepper commented on #664
If you say so. I don't mind as long as I can opt out at least. Opting in would, of course, be preferrable.

That's also an assertion without proof. And an unreasonable one, too, IMHO.

[2022-11-01 09:13] HannesWell commented on #664
For clarification, it is not possible to generate the .tycho-consumer-pom.xml into the `target` folder? Your answer seems to imply that, but I wanted to be sure.

[2022-11-01 09:18] laeubi commented on #664
For sure you can generate it everywhere, but it will break maven for example as it is assumed that the parent is stored relative to the pom. so if you use any subfolder, other maven components will complain. Also setting the pom location changes the basedir, so suddenly your basdir changes to the subfolder then, what also creates all kind of issues as now components searching relative to the based

[2022-11-02 00:56] lppedd opened #1621 "Do not overwrite MANIFEST.MF and feature.xml files during packaging"
Currently, I'm trying to implement multi-branding for an application.
This means I process resources via filtering, `MANIFEST.MF` and `feature.xml` files too to rename bundle symbolic names at build time.

The Tycho Packaging Plugin however always overwrite those two files when packaging the product, even if they're already present under `${project.build.directory}`.

https://github.com/eclipse-ty

[2022-11-02 05:29] laeubi commented on #1621
@lppedd I think this is "by intend" and I'm not sure if it would work nice to change the defaults, e.g. if one do not perform clean then maybe outdated content might be used.

The usual solution to this in maven is to allow to configure the **source** of the file to use instead, so you could write your feature to `target/my_enhanced_feature.xml` and then configure the mojo read its from there inst

[2022-11-02 06:55] mickaelistria commented on #1621
I agree `!file.exists()` is not a good check here as we want the file in `target/` to be overwritten if necesary between different invocations of `mvn`. I believe what you want to try is to customize your MANIFEST.MF/feature.xml with a mojo executed during the `process-resources` phase, directly modifying the file in the `target/` folder.

[2022-11-02 08:25] laeubi commented on #1621
The file is only copied in the package phase, thus I think a config parameter where the package-mojo reads the file from is more suitable and flexible.

[2022-11-02 09:19] mickaelistria commented on #1364
"native" symbolic links should work fine; but .project (Eclipse) linked resources are not checked by Tycho so far.

[2022-11-02 11:05] lppedd commented on #1621
@laeubi done as best as I could. I'm using a custom `MavenResourcesFiltering` so this complicates it a bit.
I'll provide a test for `feature.xml` too as soon as I understand why `maven-resources-plugin` is not running for the `eclipse-feature` packaging.

[2022-11-02 11:18] lppedd commented on #1621
Nevermind, I've simplified the test.

[2022-11-02 11:26] lppedd commented on #1621
I think the `eclipse-feature` lifecycle is missing resource processing. Am I right?

https://github.com/eclipse-tycho/tycho/blob/be27fb51ebfaac42a49b6931fb644a93ac080c5c/tycho-maven-plugin/src/main/resources/META-INF/plexus/components.xml#L121-L161

[2022-11-02 12:04] laeubi commented on #1621
at laest ti does not contain it with the default lifecycle, so one needs an explicit binding, but actually I don't see why we should not be able to add it.

[2022-11-02 12:09] lppedd commented on #1621
Yeah that's fine anyway, but it's just not evident that it is missing in the lifecycle. I had to dig into the plugin code.

[2022-11-02 15:11] kjsmita6 commented on #1536
Having this as well. @laeubi Does `tycho-maven-plugin` need to be defined in the same pom as the one being executed? I have it in a parent pom which is normally fine for the rest of our build which uses Tycho.

[2022-11-02 15:21] laeubi commented on #1536
If it is activated in the parent yes, having it in the management section is not enough. If someone can provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue this would be very helpful.

Another option is to try out the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) build to see if proble

[2022-11-02 19:35] lppedd commented on #1621
I've been working on a fix with your proposed solution.
In the end it's not only related to the feature or to the MANIFEST, but also to categories and products. So it's a bit more complicated.

[2022-11-02 19:37] laeubi commented on #1621
That sounds great, looking forward to your PR!

[2022-11-03 00:20] lppedd commented on #1621
@laeubi  I'm stuck on the `eclipse-repository` project build.

I've managed to correctly filter and rename `Bundle-SymbolicName`s and feature IDs for `eclipse-plugin` and `eclipse-feature`.

However for repositories, the `assemble-repository` mojo fails miserably. It tells me it cannot find dependencies, e.g. `my.old.name`, which is mostly true because that bundle has been built with a MANIFEST `B

[2022-11-03 06:06] laeubi commented on #1621
@lppedd if you like you can still open a PR as draft if you like so we can look at the code directly. If you are changing the coordinates of features/bundles, this can become really tricky, and this is really unusual case. At least you have then call

[code]

but be aware that Tycho in its default mode might still be confused because it uses the collected data to setup dependencies between modules

[2022-11-03 10:46] lppedd commented on #1621
@laeubi done. Do we want to continue the discussion there?

[2022-11-03 20:03] Phillipus opened #1624 "Lots of plexus.osgi.xxxxx files created in temp folder but not deleted"
Tycho 3.0.0

Each time we build our product a new folder is created in the temp folder with the format `plexus.osgi.cdab2503-28f7-420e-9ceb-f459b84278ef`. These are not deleted so after a while there are very many of these that need to be manually deleted.

These are our poms:

https://github.com/archimatetool/archi/blob/master/pom.xml
https://github.com/archimatetool/archi/blob/master/com.archima

[2022-11-04 08:25] sthdev commented on #1364
@laeubi which component is responsible for resolving the project settings? I am setting up an integration test and wondering how to name it or whether there already is an integration test for that component.

[2022-11-04 08:27] laeubi commented on #1364
@sthdev you can simply add a project in to the tycho-itest module and name it for example "linked-files":
https://github.com/eclipse-tycho/tycho/tree/master/tycho-its/projects

[2022-11-04 08:29] sthdev commented on #1364
That would be too cumbersome. In our case, the *.pref files in the root .settings folder of each repository are defined in an Oomph setup model. When some settings change, the setup model is updated. As soon as someone, checks out a repository with that setup model, those new settings are rolled out to that repository, as well.

In case a new *.pref file is added, your suggestion would require to

[2022-11-04 13:58] sthdev commented on #1364
Added PR https://github.com/eclipse-tycho/tycho/pull/1626

[2022-11-04 14:52] marcellorinaldo commented on #1536
Will try in my spare time

[2022-11-04 22:48] lppedd commented on #1054
Just to align the Tycho guys, version 4.0.0 doesn't work anymore with IDEA, at least the SNAPSHOTs.

`P2ResolverFactoryImpl`: seems like an old version of the service is injected.
Here it's trying to invoke `getService(Class)`, but we only have `getService(String)`.

![image](https://user-images.githubusercontent.com/19871649/200082886-f0c42e93-5494-4770-8a8b-0eac7a0752b9.png)

Did something chang

[2022-11-04 22:55] lppedd commented on #1054
For completeness, this is the errors I get from the debug log.

[code]

[2022-11-05 04:27] laeubi commented on #1054
getService(Class<T> key) is a default implemented interface method.

[2022-11-05 09:55] lppedd commented on #1054
@laeubi hi! Yup I checked. But it was added in equinox.p2.core 2.6. I suspect it's loading an old version of equinox p2 for some reason.

Where do you specify the version constraints? E.g. I want only 2.9+

[2022-11-05 15:00] lppedd commented on #1054
Yes, the interface `org.eclipse.equinox.p2.core.IProvisioningAgent` is coming from equinox p2 core 2.4.100.
Can't understand why. This is giving me headaches lol

![image](https://user-images.githubusercontent.com/19871649/200126167-5257a490-5ffb-4304-b4fd-8bb02f0dc5b0.png)

[2022-11-05 17:43] Bananeweizen commented on #1364
You can trigger any (checked in) launch config from Oomph. Instead of using Oomph for distributing project preferences, I have created a JUnit test to both copy the files from a template project and to also check some additional constraints for my setups at work. Has the added benefit of breaking the CI build if such constraints fail or if the template copy operation modifies the git working dir.

[2022-11-05 17:45] Bananeweizen commented on #1624
reminds me of https://github.com/eclipse-tycho/tycho/issues/1614, but the file seems to be different.

[2022-11-05 23:45] Phillipus opened #1631 "Tycho 3.0.0 download speed is much slower as 2.7.5 if mirrors are used"
A Tycho 2.7.5 build of our product takes just 3 and a half minutes compared with about 8 minutes on Tycho 3.0.0. Each build was timed with an empty `.m2` directory. The extra time is spent downloading the artefacts.

Is there more going on with 3.0.0, or perhaps some new settings that might improve speed?

[2022-11-06 04:53] laeubi commented on #1631
We generally enable all settings that deliver best performance, but of course it depends on the actual setup.

What would be more interesting is how it performs after the inital download, because otherwise it even depends more on the setup and used servers.

[2022-11-06 09:31] Phillipus commented on #1631
Hi, after the initial download it's a about the same time to compile and assemble in both versions. But for some reason, the download of all the dependencies is slower on 3.0.0.

[2022-11-06 11:15] Phillipus commented on #1631
I ran it with the `-X` debug option and noticed that the slow down in 3.0.0 is at these points:

`[DEBUG] Writing P2 metadata for osgi.bundle,com.ibm.icu,67.1.0 to .m2\repository\p2\osgi\bundle\com.ibm.icu\67.1.0\com.ibm.icu-67.1.0-p2artifacts.xml...`

[2022-11-06 12:39] lppedd commented on #1631
Noticed the same. Also in my case the download progress report has disappeared in 3.0.0 >

[2022-11-06 12:43] lppedd commented on #1631
@Phillipus have you tried with `-D=tycho.p2.transport=ecf`? Can't right now but I'll try that too.

[2022-11-06 13:45] laeubi commented on #1631
ECF is no longer supported. Neither maven nor Tycho is optimized for an empty repository, actually a lot of effort is taken into reusing stuff from the local repository to speed up things.

[2022-11-06 13:53] Phillipus commented on #1631
More testing shows that it's not actually the download being slower but some other processing at the point of `Writing P2 metadata for....` only for p2 bundles. All the other support bundles that Tycho/Maven downloads are fast.

[2022-11-06 13:59] laeubi commented on #1631
What is a P2 bundle?

As said it all depends on many factors e.g. -T1C on a rather modern system gives often superior results over single threaded execution. At the same point it is quite "expensive" to download stuff depending on the updatesite used e.g. the usual eclipse updatesites need a lot of stuff being fetched (up to 70 request just to find out nothing has changed), then also the total siz

[2022-11-06 14:05] Phillipus commented on #1631
Not a technical term. I mean a bundle that Tycho downloads into the `.m2\repository\p2` directories.

All I'm doing is reporting what I've found - that 3.0.0 is twice as slow as 2.7.5. This is not a criticism.

I think anyone who does an A/B test between 3.7.5 and 3.0.0 will find the same.

[2022-11-06 17:25] Bananeweizen commented on #1631
If someone with slow performance can post a performance measurement snapshot from Yourkit, VisualVM etc. then we could all investigate that together. Sampling instead of full profiling would be sufficient for starters.

[2022-11-06 19:21] laeubi commented on #1482
What I can think of would be that we add a signature as part of the packaging phase of an artifact ...

[2022-11-07 13:28] Phillipus commented on #1631
More testing shows that assumption to be wrong. I downloaded the Eclipse p2 repository [here](https://download.eclipse.org/eclipse/downloads/drops4/R-4.25-202208311800/download.php?dropFile=repository-4.25.zip) and used that local copy in my pom rather than the online URL. Then I did the same builds A/B between Tycho 2.7.5 and 3.0.0 with a blank `.m2` directory each time. The timings were pretty m

[2022-11-07 16:47] laeubi commented on #1615
This actually is a bit trickier than thought. Actually it should "just work" but Maven only allows a limited set of items (hardcoded) to participate in Workspace resolution, so in this case Tycho has to add some more code and handling for its types... especially as target packaging has not (yet) a specialized project type but is only handled special in the target configuration parser...

FYI @hd42

[2022-11-08 06:11] laeubi commented on #1631
As said, Tycho is not optimized for empty caches. Anyways we always try to improve if possible, for this we need a **minimal reproducer** with steps how to reproduce the undesired behavior.

Such a reproducer at best contains one single (public) update-site and one bundle consuming items and nothing else (e.g. no code but just some require-bundle to trigger the download of critical artifacts) that

[2022-11-08 11:50] kwin opened #1639 "Support eclipse-feature to be referenced in target definitions of type "Maven""
For certain edge cases it is useful to not only reference bundles/plug-ins via the `location type=Maven` but also artifacts created with packaging `eclipse-feature`.

[2022-11-08 15:04] bhufmann opened #1641 "Null analysis fails during tycho build when building for older JDK (e.g. 11) with newer java version (e.g. 17)"
I noticed a problem during maven tycho build where the null annotation specified in an eea file doesn't seem to be applied when building with Java 17 for JDK 11. It works fine when building for JDK 17.

To reproduce I created an example to reproduce: [testmaven-build.tar.gz](https://github.com/eclipse-tycho/tycho/files/9962304/testmaven-build.tar.gz). I ran the example on Linux with OpenJDK 17 and

[2022-11-08 15:06] laeubi opened #1642 "Support metatype generation"
Tycho should support (similar to ds) support generation of metatype descriptions, maybe even as part of the ds plugin.

[2022-11-08 15:07] laeubi commented on #1641
@bhufmann has you configured a "true" java 11 JVM in your toolchains?

[2022-11-08 15:10] bhufmann commented on #1641
@laeubi How would I do that? Please let me know.

[2022-11-08 15:14] laeubi commented on #1641
Here is an example toolchains that is used by Tycho itself:

https://github.com/eclipse-tycho/tycho/blob/master/.github/toolchains.xml

General information regarding toolchains:

https://maven.apache.org/guides/mini/guide-using-toolchains.html

[2022-11-08 15:39] bhufmann commented on #1641
I tried it with the toolchain and I think it was using the JDK 11 toolchain because I see the following print-out:
[code]
But it still fails with the same error.

[2022-11-08 19:27] #1615 closed

[2022-11-09 05:48] laeubi commented on #1615
The fix for this issue was gently sponsored by [Faktor Zehn GmbH](https://www.faktorzehn.com).

[2022-11-09 09:48] kwin commented on #1639
Seems to work indeed, but the dialog is confusing as features don't have an OSGi manifest and there is no dedicated type for it (I know that they use extension .jar, but so do bundle types which have a dedicated entry in the dropdown)
![Target Editor-Maven-Type](https://user-images.githubusercontent.com/185025/200797145-763baf43-aea3-4fe7-92ef-b5b6d5f4d0eb.png)

[2022-11-09 10:52] laeubi commented on #1639
Yes but first this is actually m2e if/when this should be improved, and second m2e can't know the type of the artifact (this is first determined when resolving the target) and last but not least you can even mix those in one location and those settings apply to all items in the location.

[2022-11-09 11:19] kwin commented on #1639
The only documentation I found related to target definitions in Tycho was https://wiki.eclipse.org/Tycho/Target_Platform. Would be really good to document the support of Tycho of target definitions including a description of all elements/attributes (particularly Maven dependencies). Also the PDE documentation at https://wiki.eclipse.org/PDE/Target_Definitions and https://help.eclipse.org/latest/in

[2022-11-09 11:24] laeubi commented on #1639
As said, Maven Target locations are provided my [m2e](https://github.com/eclipse-m2e/m2e-core) not Tycho nor PDE.

[2022-11-09 11:26] kwin commented on #1639
Can you point me to a documentation stating which packagings are supported by m2e?

[2022-11-09 11:33] laeubi commented on #1639
You can use any packaging you want if the resulting artifact is:

1. a pom
2. a jar file

[2022-11-09 16:31] merks opened #1648 "A generated source feature does not actually include the source bundles"
When I run the Maven/Tycho build in the attached project:

[generated-source-feature.zip](https://github.com/eclipse-tycho/tycho/files/9973077/generated-source-feature.zip)

The generated repository doesn't contain source bundles.  I see that the p2 metadata for the source feature includes "real" bundles and not the "source" bundles, e.g., `org.objectweb.asm.tree.analysis` not `org.objectweb.asm.t

[2022-11-09 16:49] laeubi commented on #1648
Thanks for reporting this, I'll take a look at is! In the meanwhile you maybe want to transform this into an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

For example https://github.com/eclipse-tycho/tycho/blob/master/tycho-its/src/test/java/org/eclipse/tycho/test/target/TargetPlatformLocationsTest.java seems a good place to enha

[2022-11-10 06:04] #1556 closed

[2022-11-10 06:04] laeubi commented on #1556
The fix for this issue was gently sponsored by [Faktor Zehn GmbH](https://www.faktorzehn.com).

[2022-11-10 06:27] laeubi commented on #1641
I'm not sure how these null checks work and why there could be a difference but maybe @iloveeclipse can tell what might makes a difference here.

[2022-11-10 07:05] iloveeclipse commented on #1641
I have no idea what compiler flags tycho uses here, but looks like it would need to use "-release" in this case, right?

I would guess the external annotations are "not found" in that case.

I don't know how they are hooked up in JDT (@stephan-herrmann should know that for sure), but most likely that need to be fixed in JDT => please create a bug there, ideally by using plain Java project example

[2022-11-10 09:16] mickaelistria commented on #1641
I see  org.eclipse.tycho:tycho-compiler-plugin:2.7.5 being used. This uses an older version of ECJ. A first thing is to try with latest Tycho snapshots as the issue may just be already fixed.

[2022-11-10 09:37] Bananeweizen commented on #1641
If you suspect null annotations not being found at compile time by Tycho, then you may want to look into configuring them explicitly for the maven run. I have something like this in my tycho-compiler-plugin configuration:
[code]

[2022-11-10 12:55] #1621 closed

[2022-11-11 12:35] atommaki opened #1654 "module symlinks -> Non-resolvable parent POM"
I have some modules in my project which are symlinks outside from the current dir, something like that:

[code]
When I try to build (`mvn clean verify`), I get the following error for those symlinked modules

[code]

I guess it is happening, because Tycho/maven looks for the parent directory of the "original" directory of the symlink (where I don't have any pom file) instead of the parent of the s

[2022-11-11 18:37] Bananeweizen opened #1655 "exception on non existing jdk in toolchains.xml"
Tycho shows an exception stack for misconfigured JDKs in toolchains.xml. Can we make it show only the error without the stack trace?

[code]

[2022-11-13 10:58] Phillipus commented on #1631
OK. Sample feature project and pom attached.

1. Delete your local `.m2` repository directory
2. Run `mvn clean package` on the project
3. Note how long it takes in the summary

Run steps 1-3 a few times to get an average time.

Then edit the pom file to change to `<tycho-version>2.7.5</tycho-version>` and do steps 1-3 again.

Of course connection speed will affect the timings. For me I get an ave

[2022-11-13 11:39] Bananeweizen opened #1660 "Target platform resolved multiple times"
I've just converted Eclipse-CS from a target platform module to a plain target file reference. Doing that I noticed the target is resolved as many times as modules refer to it. Shouldn't we resolve it only once?
configuration is `${basedir}/../somedir/somefile.target`, which resolves to the same absolute path each time. This is 2.7.5, I still have to verify on 3.0.

See first and last line of this

[2022-11-13 13:59] laeubi commented on #1631
@Phillipus thanks for the example I'll take a look here, if this is crucial to someones business and likes to speed up the development in that area a [sponsoring](https://github.com/sponsors/laeubi?frequency=one-time) would allow me to assign more time-slots particular issue.

[2022-11-13 14:00] laeubi commented on #1660
@Bananeweizen do I get ti correctly that you have different targets that point to the same target file via includes?
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue with a minimal setup?

[2022-11-13 14:03] Phillipus commented on #1631
@laeubi I only report this issue here for science. ;-) As you say, once the artifacts have been downloaded Tycho speed is fine.

[2022-11-13 14:07] laeubi commented on #1631
@Phillipus Having an example is already great :-)

I'm just adding a note to all issues that are likely to "fall through" usual work of contributors, so if once someone stumble over it and feels it is a big concern for them can act upon it. We once fixed even an issue from Tycho 0.25 that way...

[2022-11-13 14:30] Bananeweizen commented on #1660
@laeubi Check lines 341, 343, ... in https://app.travis-ci.com/github/checkstyle/eclipse-cs/jobs/588317951#L341. That's always the same .target file being resolved again and again. I can try to convert that into an integration test with 2 modules and 1 target file.

[2022-11-13 14:58] Bananeweizen opened #1661 "Can't build Tycho"
"mvn clean install" on the unmodified master doesn't work, but rather throws the following exception. Would I need any additional repositories to be declared locally?
[code]
![grafik](https://user-images.githubusercontent.com/406876/201528286-d5c37754-a04b-44e5-8ce5-5300dbfb96c8.png)

[2022-11-13 15:00] laeubi commented on #1661
Because of the version ranges sometimes maven is confused and it helps to build with a empty local repository e.g.
`-Dmaven.repo.local=/tmp/tycho3`

[2022-11-13 16:43] Bananeweizen commented on #1661
Thanks, that works now.

[2022-11-13 16:43] #1661 closed

[2022-11-14 13:09] merks commented on #1466
Yes, I can confirm that this happens.   I've worked around various shortcomings and problems in the aggregator:

https://github.com/eclipse-cbi/p2repo-aggregator/issues/12

Here I add a fingerprint of the signing certificate to the artifact metadata, if there is one, and I record the original PGP signature/key:

https://github.com/eclipse-cbi/p2repo-aggregator/blob/ec3412a980ab15c3041e6b2792b3b82c

[2022-11-14 14:42] cdietrich opened #1662 "Add option to skip maven-* properties when generating a p2 repo"
As a tycho user i'd like to have an option to skip `maven-*` properties when generating a p2 repo

![Screenshot 2022-11-14 133846](https://user-images.githubusercontent.com/238736/201688581-d81c667a-9a81-4bf7-b18e-3454922b0ddc.png)

[2022-11-14 15:49] mickaelistria commented on #1662
What problem would that fix; or what extra value would that provide?

[2022-11-14 16:09] laeubi opened #1664 "Remove the mapping of maven artifacts at the injection-phase"
Some context here:
- https://github.com/eclipse/xtext-eclipse/issues/1931#issuecomment-1313985215
- https://github.com/eclipse-tycho/tycho/issues/1662

Currently we try to "guess" if a P2 dependency is actually a maven dependency from the P2 data, but actually this is only valid for "true" dependencies produced by the maven-target-location. As this always creates confusion and problems, we should

[2022-11-14 16:11] laeubi commented on #1662
Issue is described here:
- https://github.com/eclipse/xtext-eclipse/issues/1931

and most likely this is better fixed with this:
- https://github.com/eclipse-tycho/tycho/issues/1664

than trying to mangle any configuration options into the generation part itself.

[2022-11-14 16:27] Bananeweizen opened #1665 "improve suggested p2-metadata snippet"
https://github.com/eclipse-tycho/tycho/blob/master/tycho-source-plugin/src/main/java/org/eclipse/tycho/source/SourceFeatureMojo.java#L262 recommends adding p2-metadata generation if necessary. However, actually using that snippet leads to the "already attached" warnings afterwards. Shouldn't we extend the suggested snippet to also disable the metadata generation on the default lifecycle binding ex

[2022-11-14 16:31] laeubi commented on #1665
Why not? We just should change any integration test that uses the pattern to ensure it works and is tested.

Beside that, I would love to get rid of that entirely (the requirement to generate the metadata!) but that's another story and will most probably happen in the process of the new tycho resolver.

[2022-11-15 09:15] laeubi opened #1669 "automatic source generation with new resolver"
Currently one needs to explicitly enable source generation for bundles. But the new resolver will be able to detect a request for a source bundle/feature, so probably it would be good to generate the source automatically as it is required.

[2022-11-16 06:55] hd42 opened #1677 "tycho-versions-plugin should update versions in .target files"
We use Eclipse .target files that reference other .target files via their maven coordinates, see https://github.com/faktorips/faktorips.base/blob/eeafd2e973075858e409313bbbdd0a2385f3f273/devtools/eclipse/targets/2020-03/eclipse-2020-03.target#L49

When we run a release build, it would be good to replace those references as well (because the target is part of the build and its version is updated by

[2022-11-16 18:10] #1677 closed

[2022-11-16 18:11] laeubi commented on #1677
The fix for this issue was gently sponsored by [Faktor Zehn GmbH](https://www.faktorzehn.com).

@hd42 this should shortly show up in the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) builds.

[2022-11-18 10:10] laeubi opened #1689 "Concurrency Issue with p2.artifacts.properties"
@laeubi  does that help?

[code]

_Originally posted by @phermsdorf in https://github.com/eclipse-tycho/tycho/discussions/1650#discussioncomment-4174818_

[2022-11-18 10:12] laeubi commented on #1662
I think the solution is not to skip these properties but having finer control on how injection of maven model works.

[2022-11-18 10:13] laeubi commented on #1655
It seems the error originates at maven, so maybe we can catch it and print another error message.

[2022-11-18 10:15] #1601 closed

[2022-11-19 14:33] laeubi commented on #1648
Fixed by https://github.com/eclipse-tycho/tycho/pull/1693

[2022-11-19 14:33] #1648 closed

[2022-11-19 16:35] merks commented on #1466
@laeubi  @mickaelistria

I'd like to start implementing support for this.  Unless I've overlooked something though, I see no test cases related to org.eclipse.tycho.gpg.SignRepositoryArtifactsMojo.   Or did I overlook something?

I have been able to test it locally by creating a key in my ~/.gnupg folder and using that, but I don't know if such a thing can be made portable across OSes for an actua

[2022-11-19 16:40] laeubi commented on #1466
I think we recently have had a similar case where it was considered to complex to have a full PGP setup for testing ([even though there are some ways](https://github.com/sniggle/simple-pgp/blob/master/simple-pgp-java/src/main/java/me/sniggle/pgp/crypt/PGPKeyPairGenerator.java)) because that uses the native PGP tooling.

So this is mostly tested manually and tried to find issues by code reviews.

[2022-11-20 07:44] laeubi opened #1696 "create a tycho-spi module"
We have some interfaces that are actually meant to be provided by other plugins:

- Timestamp provider
- Tycho Resolver (?)
- P2MetadataProvider
-

To check if a plugin must be scanned for those we currently have for example:

- `org.eclipse.tycho.p2resolver.P2DependencyResolver.isTychoP2Plugin(PluginDescriptor)`
- `org.eclipse.tycho.p2maven.InstallableUnitGenerator.hasPluginDependency(PluginDescr

[2022-11-20 07:48] laeubi commented on #1696
For timestamp providers we currently using a different approach that requires to add an artifact to the additional dependencies of Tycho... with special requirements to the configuration, so probably it would be good to reuse the `PluginRealmHelper` concept instead.

[2022-11-20 08:12] laeubi opened #1697 "make tycho target platform pluggable"
Currently we have a fixed set of target locations supported, but actually pde targets are pluggable and Tycho should support that as well.

[2022-11-20 10:29] Bananeweizen commented on #1601
I've seen the change in https://github.com/eclipse-tycho/tycho/blob/master/tycho-bundles/org.eclipse.tycho.core.shared/src/main/java/org/eclipse/tycho/p2/resolver/WrappedArtifact.java#L147, that is sufficient for me without testing.

[2022-11-20 15:02] Bananeweizen commented on #1689
I'd say there is not much that can be done here. There is already process level file locking in place, but of course that doesn't work if multiple builds run on the same repo. When that is stopped, the issue will be gone.

[2022-11-20 15:07] laeubi commented on #1631
@Phillipus I can verify your observation that Tycho 3+ is slower when downloading than Tycho 2.7 ... I now just need to find out what the root cause for this. There are some things to check here:

1. Tycho 3+ do not use gzip compression because usually files are already compressed and compressing a jar do not have much gain, still it might have a little influence but should not result in that much

[2022-11-20 15:47] #1660 closed

[2022-11-20 17:26] laeubi commented on #1631
@Phillipus depending on your setup the consumer pom generation might trigger additional downloads, you can try to disable that feature for testing:

https://tycho.eclipseprojects.io/doc/latest/tycho-packaging-plugin/update-consumer-pom-mojo.html#skipPomGeneration

Beside that I was not able to identify a primary bottleneck, what makes the analysis a little bit hard is that mirrors are used here an

[2022-11-20 19:55] Phillipus commented on #1631
Thanks for investigating. The pom generation setting didn't seem to make much, if any, difference.

[2022-11-21 08:18] phermsdorf commented on #1689
What could be a solution for sharing an .m2 host directory for use in a CI which spins up multiple docker builds that use that maven repo? From MPOV the solution cannot be that each docker container downloads all dependencies over and over again...
From what we observed, this problem started after switching to tycho 3.x - whith tycho 2.7.x we never saw this kind of problem.
Also from what i read h

[2022-11-21 08:30] laeubi commented on #1631
I made some experiments and it seems that not really the download itself is slower (tried URL vs Java11Client vs ApacheHttp) but the processing of the downloaded flies slow it down considerable ... I'll start some debugging on this.

[2022-11-21 08:37] laeubi commented on #1631
One can test this the following way:

1. run the build to download all stuff
2. then got to the m2 repo and delete the folder "p2"
3. even if everything is cached now it takes considerable time to build (data is jsut copied from the cache to the p2 folder)

[2022-11-21 09:12] laeubi commented on #1631
@Phillipus can you check if disabling the mirrors improves the situation in your case? If I use `-Dtycho.disableP2Mirrors=true` if have a donwloadtime of about 1:40 while with mirrors I get much worse times (about 5 minutes)

[2022-11-21 09:27] lppedd commented on #1696
This is a great idea. It's also a good idea to give a name to default Tycho beans, e.g., `@Named("tycho")`, and a priority.
This is useful in case a third party wants to replace a default bean with a custom one, maybe delegating some functionalities without referencing internal classes.

[code]

where TychoDep is
[code]

and where a custom implementation might be
[code]

[2022-11-21 10:23] Phillipus commented on #1631
In fact Tycho 2.7.5 is slower with `-Dtycho.disableP2Mirrors=true` at 2:30 compared with 1:30 without.

[2022-11-21 16:04] kwin opened #1706 "tycho-gpg:3.0.0:sign-p2-artifacts creates incorrect values for property pgp.publicKeys"
The value for the property "pgp.publicKeys" is way to large and not equal to my GPG public key of the keypair I signed with.
That affects the property within "repository" as well as below all artifacts.

I used the following pom.xml snippet to configure it:

[code]

The build itself passed without any errors.
The debug output exposes the following:

[code]

[2022-11-21 16:07] laeubi commented on #1706
How do you checked it is incorrect?

Also consider the following bugs:
- https://github.com/eclipse-tycho/tycho/issues/1466
- https://github.com/eclipse-tycho/tycho/issues/948

[2022-11-21 16:11] kwin commented on #1706
It seems that indeed all public keys are exported instead only the one from the used key: https://github.com/eclipse-tycho/tycho/blob/80983d52b687ea4be1e3ea89b09f5c1d85dc3acf/tycho-gpg-plugin/src/main/java/org/apache/maven/plugins/gpg/ProxySignerWithPublicKeyAccess.java#L35, so indeed is related to #948 (but in this case for another mojo).

[2022-11-21 18:04] kwin commented on #948
@reckart Please check the PR attached to #1706. I am a bit puzzled by this report, because you talk about `tycho-p2-repository:assemble-repository` in the headline, but in your description you also mention `tycho-gpg-plugin`. Both are kind of orthogonal...

[2022-11-21 18:49] Bananeweizen commented on #1689
Reading all the comments in the linked Maven issue, I would say it clearly doesn't work in general. Depending on what kind of dependencies you need, you may be more successful by first fetching your dependencies only, and then running the many builds all with the offline switch. At work I use a solution not based on docker but VMs, and I regularly populate the m2 repo of the master VM image to red

[2022-11-21 18:51] laeubi commented on #1689
To some extend there is https://mvnrepository.com/artifact/io.takari.aether/takari-concurrent-localrepo/0.0.7

[2022-11-21 20:15] kwin opened #1710 "Clarify differences between tycho-p2-repository:assemble-maven-repository with includePGPSignature and tycho-gpg:sign-p2-artifacts"
There are two different Mojos which support signing with PGP

- https://tycho.eclipseprojects.io/doc/latest/tycho-gpg-plugin/sign-p2-artifacts-mojo.html
- https://tycho.eclipseprojects.io/doc/latest/tycho-p2/tycho-p2-repository-plugin/assemble-maven-repository-mojo.html#includePGPSignature

It is not clear when to use which approach and what the differences are. This should be explained in the jav

[2022-11-22 07:42] #1706 closed

[2022-11-22 07:43] laeubi commented on #1710
What in particular is unclear here?

e.g. the first says:

while the second introduces as

So actually they are very different and produce different results and the second even do not support signing at all, it only includes an existing signature (usually produced by the [maven-pgp-plugin](https://maven.apache.org/plugins/maven-gpg-plugin/)), while the first works on an existing repository the lat

[2022-11-22 08:08] pcdavid opened #1711 "Add support for overriding a Target Platform location from the command-line"
I'd like to be able to override the `location` of a `<repository>` element in my Target Platform without resorting to text manipulations.

Let's say I have [this .target](https://github.com/eclipse/gmf-runtime/blob/master/releng/org.eclipse.gmf.runtime.target/2022-12.target) with:

[code]

and [GEF Classic](https://github.com/eclipse/gef-classic/) has published a new nightly build that I'd like to

[2022-11-22 08:17] laeubi commented on #1711
If you just want to override a location, you can define a mirror in your `settings.xml` for that location.

For real variable support there is a feature-request to enhance the target-file-format:
- https://github.com/eclipse-pde/eclipse.pde/issues/204

[2022-11-22 08:41] phermsdorf commented on #1689
Maybe it was renamed. I found some documentation here: http://takari.io/book/30-team-maven.html#concurrent-safe-local-repository Last release is from 2019 ...

[2022-11-22 08:44] phermsdorf commented on #1689
We would then need to include the .m2 folder into the docker images and keep them somehow "current". That would increase the size of the images and containers and add additional work to update the .m2 folder in the docker images regularly to prevent downloads on every build when versions or dependencies change.

I would really appreciate if that could be fixed in another way....

[2022-11-22 08:49] laeubi commented on #1689
Contributions are always welcome, of course, this seems nothing to handle with very high priority, if it is crucial to your business you can find dedicated support options for Tycho here:
https://github.com/eclipse-tycho/tycho#getting-support

[2022-11-22 09:24] laeubi commented on #1710
No, only the sign-p2-artifacts mojo does.

If you have checked the sources carefully you will notice that the second one was mostly written by me and I'm quite sure it does not produce any GPG checksum ... If you think it does you probably want to give a reference to the relevant sources, but at least the documentation does nowhere mention that it does any signing either (emphasis by me)..

So if

[2022-11-22 09:39] kwin commented on #1710
Sorry, you are right. Still it is not clear to me whether maven-gpg-plugin followed by `assemble-maven-repository` with `includePGPSignature` is the better way or rather first `assemble-maven-repository` followed by `sign-p2-artifacts`. It seems the former way cannot include the public key in the metadata, any other differences?

[2022-11-22 09:39] laeubi opened #1713 "Support standard PGP signing workflow"
Currently we have the [tycho-gpg:sign-p2-artifacts](https://tycho.eclipseprojects.io/doc/latest/tycho-gpg-plugin/sign-p2-artifacts-mojo.html) to sign artifacts after-the-fact. The more usual approach would be that one uses default [maven-pgp-plugin](https://maven.apache.org/plugins/maven-gpg-plugin/) to sign an artifact as part of the build.

Similar to
- https://github.com/eclipse-tycho/tycho/iss

[2022-11-22 09:42] laeubi commented on #1710
If you want a traditional p2-repository use the first, if you want a maven-p2-site use the second (the public key will be included if it is published by any of the default or configured key-servers).

[2022-11-22 10:16] atommaki commented on #1654
The silence tells me no-one uses symlinks, may be most people build on Windows... Anyway, it is very easy to reproduce. If anyone wants to check/fix this issue I can help...

[2022-11-22 10:41] mickaelistria commented on #1654
Probably yes.

Definitely not. Most builds do run on Linux.

May be you can try to provide fix it yourself?

[2022-11-22 11:16] laeubi commented on #1631
One problem seems that Tycho do not gives feedback about the download rate so slow mirrors are equally choose.

While this I also noticed a little problem here:
- https://github.com/eclipse-equinox/p2/issues/176

[2022-11-22 11:22] laeubi commented on #1654
@atommaki You should really provide a full error output (e.g. with `-e` option) but I assume that

1. Using symlinks is very uncommon because their support varies on different operation system
2. Actually I don't see any need for symlinks (the pom already supports relative path)

Beside this provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demon

[2022-11-22 13:31] laeubi opened #1715 "Check integration with the maven-version plugin"
Currently Tycho has its own version plugin. It would be better to find a way to integrate with the default [maven-version-plugin](https://www.mojohaus.org/versions-maven-plugin/).

[2022-11-22 13:34] laeubi opened #1717 "Check integration with maven release plugin"
Currently it requires a lot of effort to perform a release with the [maven-release-plugin](https://maven.apache.org/maven-release/maven-release-plugin/) we have a wikki page that describes some of the pitfalls:

https://wiki.eclipse.org/Tycho/Release_Workflow

We should investigate was to integrate Tycho with the standard release plugin so it can simply be used without any additional configuration

[2022-11-22 14:17] hd42 commented on #1717
Please take care to make this optional. Tycho builds are often complex and the behavior of the maven-release-plugin and the workflow mentioned in the wiki create (and worse, push) commits even for failed builds, that are hard to revert.

[2022-11-22 18:44] #1631 closed

[2022-11-22 21:07] Phillipus commented on #1631
Thanks for looking at this!

[2022-11-23 05:15] laeubi commented on #1631
You can try out the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) build to check if this improves things for your use-case.

[2022-11-23 08:32] Phillipus commented on #1631
Yes, like a rocket now! 🚀

The test case takes 2:50 minutes now. Downloading the artifacts in the `p2` folder takes 1:10 minutes and that's where the bottleneck was.

Thanks!

[2022-11-23 14:57] mickaelistria commented on #1014
@ajohnson1 Would you be interested in trying to contribute a patch?

[2022-11-24 11:52] merks commented on #1466
@laeubi This can be closed as completed now.

[2022-11-24 11:52] #1466 closed

[2022-11-24 11:53] merks commented on #872
The latest implementation doesn't do this anymore.

[2022-11-24 11:53] #872 closed

[2022-11-24 11:56] merks commented on #948
@laeubi This issue is fixed now.

[2022-11-24 11:57] #948 closed

[2022-11-24 12:17] kwin opened #1723 "Some parameters in tycho-gpg:sign-p2-artifacts do not apply to bouncycastle"
A lot of parameters documented in tycho-gpg:sign-p2-artifacts are inherited from gpg-maven-plugin: https://tycho.eclipseprojects.io/doc/latest/tycho-gpg-plugin/sign-p2-artifacts-mojo.html#optional-parameters. All those are currently not evaluated by BC but only by GPG. This should be clarified in the documentation.

There are also some problems with inheriting from Mojos in another artifact (as ou

[2022-11-24 12:42] laeubi commented on #1723
In general it would be good if the `maven-pgp-plugin` would offer an extension point where Tycho can plug in to get notified and can offer additional artifacts to be signed. The it would even make sense to implement BC part there also so even maven users can benfit from BC implementation of PGP signing...

[2022-11-24 12:58] kwin commented on #1723
There is already https://www.simplify4u.org/sign-maven-plugin/index.html for GPG signatures with BouncyCastle.

[2022-11-24 13:35] merks opened #1724 "Support easier configuration for PGP signing"
In a free style job, PGP signing is configured like this:

![image](https://user-images.githubusercontent.com/208716/203795115-7ea258b3-a680-4146-a641-146409b8b419.png)

Then there is a bunch of boilerplate stuff like this
[code]

But it's really easy to read the *.asc containing the secret keys with BouncyCastle directly.  I expect that we can even just use the default key because I think there i

[2022-11-24 13:43] laeubi commented on #1724
@merks do you mean Jenkins configuration in general? Because if we have an integration test that uses these two parameters (and a generated temporary key) then I think it should be safe...

[2022-11-24 13:49] merks commented on #1724
I can and definitely will create a unit test case for this scenario.   Then when that's been built. I can try it out on a real build that works with the above type of scaffolding currently and then can be demonstrate to also work with this new simpler way.  I'll work on a PR for this now.

[2022-11-24 15:13] laeubi opened #1725 "Migrate troubleshooting guide to site-docs"
Currently we have
https://wiki.eclipse.org/Tycho/Dependency_Resolution_Troubleshooting

and this is even referenced in error messages of Tycho:
https://github.com/eclipse-tycho/tycho/blob/a769e22cddab98a2e2ea8ecd4b5a4b9ecb69cb07/tycho-core/src/main/java/org/eclipse/tycho/p2resolver/P2ResolverImpl.java#L239

we should better migrate (and update!) that part to the site-docs, when using the TychoVers

[2022-11-24 15:59] akurtakov opened #1728 "gpg signing works for the first p2 repo build but not for the second one"
Look at https://ci.eclipse.org/linuxtools/job/linuxtools/job/PR-137/15/console :

* [INFO] --- tycho-gpg-plugin:4.0.0-SNAPSHOT:sign-p2-artifacts (pgpsigner) @ org.eclipse.linuxtools.releng-site --- completes
* [INFO] --- tycho-gpg-plugin:4.0.0-SNAPSHOT:sign-p2-artifacts (pgpsigner) @ org.eclipse.linuxtools.docker-site ---
gpg: signing failed: Bad passphrase
gpg: signing failed: Bad passphrase
fail

[2022-11-24 16:47] akurtakov commented on #1728
@merks considering your latest work maybe you have some interest in this one?

[2022-11-24 16:54] merks commented on #1728
I'll have a look tomorrow.

Have you done all the magical things described here?

https://github.com/eclipse-tycho/tycho/issues/1724

E.g., maybe `-Dgpg.passphrase="${KEYRING_PASSPHRASE}"` is missing though I see it there, so the message suggest it's not actually correct though...

[2022-11-24 19:34] laeubi commented on #1724
@merks by the way if you add a

`Fix #<issue number>`

to your commits this will automatically close issues once they are merged to master! (I assume #1726 has fixed this)

[2022-11-24 19:34] #1724 closed

[2022-11-25 07:02] merks commented on #1728
The only thing I see that's missing/different that I see in other places where it works is specifying the `<keyname>b6d3ab9bcc641282</keyname>` like here:

https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/blob/c6cc4ae1713b3023b97dfecf0cae20b2cdac575b/eclipse.platform.releng.tychoeclipsebuilder/pom.xml#L46

In your build log I see this:
[code]
and in the platform I see this:
[

[2022-11-25 07:06] merks commented on #1724
@laeubi I didn't know that.  That's helpful!

[2022-11-25 07:07] laeubi commented on #1724
You can read all the details here:
https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2022-11-25 07:58] akurtakov commented on #1728
Unfortunately, this doesn't see help https://ci.eclipse.org/linuxtools/job/linuxtools/job/PR-137/18/console

[2022-11-25 08:00] merks commented on #1728
I see messages like this:
[code]
So the failure is different now I think.  I'll look more closely right now....

[2022-11-25 08:06] merks commented on #1728
No that was there in 17 as well.   But I see `tycho-gpg-plugin:4.0.0-SNAPSHOT:sign-p2-artifacts (pgpsigner)` only once in the log so I don't think one site is working by the other not...

[2022-11-25 08:17] merks commented on #1728
I do see this:
[code]
and there seems to failure there, then later this:
[code]
So how is that the gpg.conf could become invalid?

Note that the platform does not mess around with the gpg.conf:

https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/blob/c6cc4ae1713b3023b97dfecf0cae20b2cdac575b/Jenkinsfile#L15-L22

I've seen that simplified form in several Jenkins files...

[2022-11-25 08:27] akurtakov commented on #1728
I have another run not playing with gpg.conf (I've added that yesterday for the sake of "trying).

[2022-11-25 08:45] akurtakov commented on #1728
So back to bad passphrase https://ci.eclipse.org/linuxtools/job/linuxtools/job/PR-137/19/console

[2022-11-25 08:53] merks commented on #1728
Yes, and again, only for the second one.  It's really strange and inexplicable.   I wonder if it's really just the second one, i.e., if you disabled the first one that works would the second one then start to work instead?

I don't know if you want to be a guinea pig and try the bc signer or even the the simplified configuration approach; the one that bypasses gpg completely?

I'll test that on a

[2022-11-25 08:58] akurtakov commented on #1728
Just tell me how.

[2022-11-25 09:18] merks commented on #1728
Let me test that it works on a sample and then I will share the details...

[2022-11-25 09:21] akurtakov commented on #1728
I remembered smth that might be related - there could be second  revoked key https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/2282

[2022-11-25 09:26] laeubi commented on #1728
@merks I think you can just suggest a change to the Jenkinsfile as PR then @akurtakov can replay the build with the changed jenkins file (select the Job, then "Replay" then insert new Jenkinsfile content in the box).

[2022-11-25 09:28] merks commented on #1728
Yes, but i have a much smaller example that runs in 1 minute that will shorten the feedback loop...

[2022-11-25 10:08] merks commented on #1728
I see a failure like this trying the new approach:
[code]
So further work is required.  :-(

I think additional useful logging needs to be added...  I would expect not creating/finding a private key to throw an exception very early...

[2022-11-25 10:26] laeubi commented on #1728
Just keep in mind that in your example Jenkins snippet yesterday there was an error because you use PGP_PASSPHRASE two times, just in case you copied it from your live example ...

[2022-11-25 12:15] merks commented on #1728
FYI, I created a separate runnable jar with trimmed down BC signer jar that I could run on a real ci instance until I got it to work:
[code]
The tricky thing is the Foundation key has a subkey and only the subkey is a signing key so some additional logic is needed to find it.
[code]
I need to put that logic back into the Tycho class, but I have to go out for a while before I get to that.

It's pro

[2022-11-25 12:21] laeubi commented on #1728
@merks you might want to get some inspirations from: https://www.simplify4u.org/sign-maven-plugin/index.html as suggested by @kwin

[2022-11-25 14:29] LorenzoBettini opened #1732 "No documentation for tycho-p2-plugin"
I seem to understand that the goals and arguments of `tycho-p2-plugin` are not shown in https://tycho.eclipseprojects.io/doc/latest

For example, things like https://wiki.eclipse.org/Tycho/Release_Notes/1.3#download.stats_artifact_metadata_property

[2022-11-26 07:22] laeubi opened #1737 "PackageFeatureMojo uses UpdateSiteAssembler"
`PackageFeatureMojo` currently uses `UpdateSiteAssembler` to create a "deployable feature" this currently depends on the ArtifactDependencyWalker instead of P2 to package the feature, we should replace this with P2 to further cleanup the removal of the old update-site packaging removed in Tycho 3.

[2022-11-26 07:27] laeubi opened #1738 "BuildQualifierAggregatorMojo should use the Target Platform instead of the dependecy walker"
Currently `BuildQualifierAggregatorMojo` uses the dependency walker (that is connected to the old way of resolving target platfroms).

There is even a note about this in the code:

https://github.com/eclipse-tycho/tycho/blob/555a9054abc424db1fadf4a0f936157e39c36f94/tycho-packaging-plugin/src/main/java/org/eclipse/tycho/buildversion/BuildQualifierAggregatorMojo.java#L81-L83

Also this is one of the

[2022-11-27 12:20] dhendriks opened #1745 "NPE on getting execution environment"
I'm trying to migrate Eclipse ESCET from Tycho 2.7.1 to 3.0.0. Locally, the build succeeds. On Jenkins, it fails, with the following error:

[code]

I don't know what happens internally in Tycho, but an NPE sounds like a bug.

[2022-11-27 12:39] laeubi commented on #1745
What I see is this in the log:

`Using execution environment 'org.eclipse.justj.openjdk.hotspot.jre.full-17' configured in target-platform-configuration <executionEnvironment>`

and it seems this one can maybe not be mapped but thats hard to tell from the log snippet, there should be some more output regarding EE found.

To further debug this, you might want to compare if there are local "toolchai

[2022-11-27 14:49] dhendriks commented on #1482
I'm getting these kinds of warnings as well:

[code]

These concern bundles that are built during this build, from the Git repo that is being built, and put in the update site being created as part of this build. Also, `artifacts.xml` shows that the update site has checksums after the build:

[code]

[2022-11-27 16:03] #1745 closed

[2022-11-27 20:49] dhendriks commented on #1745
How can I try out a snapshot?

* https://github.com/eclipse-tycho/tycho/blob/master/CONTRIBUTING.md indicates to configure the snapshots repo, and configure the current snapshot version.
* https://github.com/eclipse-tycho/tycho/blob/master/pom.xml#L58 suggests `4.0.0-SNAPSHOT` is the current snapshot version.

Configuring this, I get:
[code]

Also, going to https://repo.eclipse.org/content/reposit

[2022-11-27 20:54] dhendriks commented on #1745
It seems `repo.eclipse.org` is down entirely. https://www.eclipsestatus.io/ lists a major outage.

[2022-11-28 05:15] laeubi commented on #1745
Yes the repo is sadly down, whe hope its getting fixed somewhere today.

[2022-11-29 15:54] #1607 closed

[2022-11-29 21:16] lppedd opened #1761 "Ignore non-existing composite repository"
I'm trying to set up a target platform (using a `.target` file) with the following repository.
https://public.dhe.ibm.com/ibmdl/export/pub/software/htp/zos/tools/aqua3.3/

However, I'm greeted by a fatal error.
[code]

[2022-11-29 21:18] lppedd commented on #1761
Maybe it doesn't like composite repositories?

[2022-11-29 22:04] lppedd commented on #1761
Found the issue. I'll check with the responsible team just to see if it's an oversight.
Btw @laeubi, can Equinox p2 ignore non-existing repos instead of throwing errors?

![image](https://user-images.githubusercontent.com/19871649/204658146-40620d21-b4c9-4196-a9db-cd5c70a2e4c9.png)

[2022-11-30 05:34] laeubi commented on #1761
I don't think so, but you can check with P2 here: https://github.com/eclipse-equinox/p2
It is also possible that there is a way but Tycho explicitly disable that feature so you don't get strange results, so best is to simply fix the wrong entry here... by the way the site is missing a `p2.index` file, this is optional but gives poor performance as P2 has to query all known "magic files" to find ou

[2022-11-30 06:49] merks opened #1765 "The 4.0.0-SNAPSHOT builds not working"
This build that worked the other day is no longer working:

https://ci.eclipse.org/oomph/job/jetty/job/jetty-mirror-4.0/

Fails like this:

`[ERROR] Failed to execute goal org.eclipse.tycho.extras:tycho-p2-extras-plugin:4.0.0-SNAPSHOT:mirror (default) on project org.eclipse.oomph.jetty.mirror: Execution default of goal org.eclipse.tycho.extras:tycho-p2-extras-plugin:4.0.0-SNAPSHOT:mirror failed: C

[2022-11-30 06:52] laeubi commented on #1765
Can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue in a smaller context?

[2022-11-30 07:22] merks commented on #1765
It took rather long to get by environment working again this morning.   It seems one now requires maven 3.8.6 but the build machine's maven latest is 3.8.5.
[code]
Could that cause such failures?

[2022-11-30 07:36] merks commented on #1765
I'm doubtful this can be reproduce with an integration test given that the failures are very fundamental such that the existing tests would fail when doing the same thing:
[code]
Something changed between the version that work yesterday evening about 5:30PM and about two hows later.  Both `org.eclipse.tycho.extras:tycho-p2-extras-plugin:4.0.0-SNAPSHOT:mirror` and  `tycho-eclipserun-plugin:4.0.0-SN

[2022-11-30 07:40] laeubi commented on #1765
Maven 3.8.6 is an official requirement a long time because 3.8.5 has a bug that *might* cause problems.

The most basic test is that the maven run completes without errors, so I don't see any issues here how early the build fails.

But there must be something missing then, each build is verified on three platforms + running the platform aggregator build on linux, so I think we are quite safe for c

[2022-11-30 08:07] merks commented on #1765
I can reproduce a problem locally **if** I use the actual 4.0.0-SNAPSHOT repository as the Tycho source rather than the locally-built-and-deployed versions:
[code]
In this case the failure is just trying to resolve the target platform:
[code]
So something appears broken but only in the https://repo.eclipse.org/content/repositories/snapshots version. So maybe a new Tycho build will just fix the pro

[2022-11-30 08:18] merks commented on #1765
When it's working locally with the local Tycho version, I can see the org.eclipse.equinox.internal.p2.repository.Activator is started like this:
[code]
But that start doesn't happen remote debugging the non-working version.

[2022-11-30 08:35] laeubi commented on #1765
If you have a small test-project can you upload it here (or any other place)?

Keep in mind that Tycho might be affected by other snapshot dependencies as well! And because of the open version ranges in platform up to the last release it might pull in unwanted stuff here.

If you pass `-X` you should see the full state of the embedded OSGi framework and some error conditions as well.

[2022-11-30 08:40] merks commented on #1765
I think it will happen with any project that does anything with p2.  Remote debugging the failure, here's what I see as the reason for the org.eclipse.equinox.p2.repository "module" not starting:
[code]
It seems these failures are not surfaced anywhere visible....

[2022-11-30 08:45] laeubi opened #1766 "Migrate P2ArtifactRepositoryLayout to the new resolver"
Currently `P2ArtifactRepositoryLayout` uses outdated stuff, we should migrate to the new resolver instead, as mentioned by
@cstamas in the ASF Slack:

- that class is history, if you look about it's hisyory, was made for maven2... am a bit dissapointed these were not cleared up better, but yes, Guillaume is right, for such things (like adding new layout) it is resolver you should go to, and leave

[2022-11-30 08:55] merks commented on #1765
Here is a more detailed error report on the resolution failure:
[code]
And when I compare the two lists these are diffference:
[code]
Note the missing `org.eclipse.equinox.common` and `org.eclipse.core.jobs` bundles.

[2022-11-30 08:56] merks commented on #1765
Note that the guard on org.eclipse.sisu.osgi.connect.PlexusConnectFramework.frameworkEvent(FrameworkEvent) prevents seeing what are the in the end catastrophic failures from being more visible:

[2022-11-30 09:04] laeubi commented on #1765
@merks the resolution error does not really matter as it is just a consequence of messed up dependencies. So the question is why are wrong items pulled in, so

https://github.com/laeubi/tycho/blob/ef6b3380ace72d2e6097af1f747b689999165a09/sisu-osgi/sisu-osgi-connect/src/main/java/org/eclipse/sisu/osgi/connect/PlexusModuleConnector.java#L155-L157

would be more interesting place to look at.

[2022-11-30 09:05] akurtakov commented on #1765
One thing I notice is bcpg 1.72.2 while platform is at 1.72 , it might be red herring but still worth checking out.

[2022-11-30 09:19] merks commented on #1765
@akurtakov  I think in the one case it's including two versions, but I doubt this causes failures.

@laeubi  Indeed they are being filtered out:

10:13:42 [DEBUG] [4c439da1-5624-4f5f-9827-fe1950e4d06e][extension>org.eclipse.tycho:tycho-maven-plugin:4.0.0-SNAPSHOT] Skip D:\Users\test19\.m2\repository\org\eclipse\tycho\tycho-maven-plugin\4.0.0-SNAPSHOT\tycho-maven-plugin-4.0.0-SNAPSHOT.jar as it is

[2022-11-30 09:30] laeubi commented on #1765
I think because of the "open ranges" maven pulls in here the snapshots and as these are potentially incompatible Tycho (now) filter them out :-\

I see two options:

1. Pin the versions (most likely required in `tycho-core` and `p2-maven-plugin`)
2. disable the code path for now, hope everything works and the next release with tighter version ranges works better in this regard ... then enable it a

[2022-11-30 09:50] merks commented on #1765
Are you saying this is happening because these two versions are wrong?

[code]

In these two places:

![image](https://user-images.githubusercontent.com/208716/204763334-0b608504-2ec7-482c-88a1-c9202dbd7628.png)

So we could fix these versions...   But then the problem will recur in the future as versions change?  And we won't notice that in the build itself but only when we actually use the resul

[2022-11-30 09:55] laeubi commented on #1765
No the versions are correct, but currently the build gets **3.17.0-SNAPSHOT** version I assume because of the open ranges of some of the dependencies.

[2022-11-30 10:02] lppedd commented on #1761
@laeubi thanks! I'll close this issue for now.

[2022-11-30 10:02] #1761 closed

[2022-11-30 10:08] laeubi commented on #1766
Also see https://github.com/OpenNTF/p2-layout-provider

[2022-11-30 10:22] merks commented on #1765
I really need something to do PGP signing for the SimRel build so we should at least for now something that will not filter out jars.  It seems dangerously error prone to filter a jar just because its version isn't exactly as expected, and even more so because mistakes cause problem not revealed by the build.  It would seem better, if we're to do filtering, to consider the specified version a lowe

[2022-11-30 10:36] laeubi commented on #1765
Why? It is the other way round, Tycho is build and tested with this versions and should use exactly those. Anything else is an error.

The problem is caused by the faulty version ranges of platform artifacts and now you see why I always said it is a bad idea to have those ;-)
A build can never capture those as you can add arbitrary items to your build as happening here. I'll see if I can enforce s

[2022-11-30 10:51] merks commented on #1765
If Tycho expects exactly a certain version of something, then it is indeed responsible to ensure exactly and only that version is resolved.

As for faulty version ranges, it's not clear exactly which artifact's version range is faulty nor what exactly that fault is.  Something somewhere should have excluded org.eclipse.equinox.common version 3.17.0 from its range?

[2022-11-30 10:55] laeubi commented on #1765
Tycho does, but transitive dependencies of platform artifacts just absorb "anything equal or higher", that's why the snapshots are pulled in here, where you most probably not want them to be used as part of the maven build...

See
- https://github.com/eclipse-platform/eclipse.platform.releng/issues/119

[2022-11-30 11:38] lppedd opened #1769 "Test plugin JAR generation creates invalid Bundle-SymbolicName"
Method call [`TychoIntegrationTestMojo#createTestPluginJar`](https://github.com/eclipse-tycho/tycho/blob/1e3c6cd22154bb3499528cf2b88d2aef1ed79b05/tycho-surefire/tycho-surefire-plugin/src/main/java/org/eclipse/tycho/surefire/TychoIntegrationTestMojo.java#L208).

![image](https://user-images.githubusercontent.com/19871649/204785975-c58b61cd-a925-4a54-b886-1e00356df218.png)

The resulting `Bundle-Sym

[2022-11-30 12:01] merks commented on #1765
It's never quite clear to me whether specifying just a version number is a range or not.  It seems the semantics is context dependent:

https://docs.oracle.com/middleware/1212/core/MAVEN/maven_version.htm#MAVEN402
https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html

Everything seems to suggest its really only a lower bound (mostly)...

[2022-11-30 12:06] laeubi commented on #1765
If you specify a version you say:

If you specify a range you say

So lets say you have a range of `[3,4)` and version 3.5 is deployed you will get this, now you add a repository that has version 3.8 you will get this one... or even 2.9-SNAPSHOT ... so using such a wide range, you should be quite sure that this will work with any other combination now and in the future.