[2022-05-19 12:17] akurtakov commented on #632
Changing SWT in that way would be very tough as it will not only require to handle the Java side but also the C headers/object files/etc.
@tsmaeder So having "conditional source folders" supported by JDT is not feasible?

[2022-05-19 12:51] tsmaeder commented on #632
@laeubi I think you took my analysis of the problem for an action plan there ;-) My analysis is: visiblity of Java names is a complicated problem and it depends on build system, etc. My action plan is: let's take those build-system(etc.)-specific parts out of JDT and make the build-system specific.

[2022-05-19 12:55] tsmaeder commented on #632
Of course it's feasible (it's software after all), but not trivial: for example, if platform filters are a PDE concept, we's have to introduce that concept into JDT (becuase of dependency order). However, in my opinion, it's a step in the wrong direction: we're adding more special case handling into JDT instead of reducing it.

[2022-05-19 13:30] laeubi commented on #632
Maybe @merks can tell more, but the "platform filtering" is actually a thing from the P2 world not from the PDE world I think as these filters are also applied when computing the provisioning plan.

[2022-05-19 14:44] laeubi commented on #632
Ed, this is not about packages or imports, swt has currently the following structure:

https://github.com/eclipse-platform/eclipse.platform.swt/tree/master/bundles/org.eclipse.swt/Eclipse%20SWT

you will see there are folders

1. common
2. emulated
3. gtk
4. win32
5. ...

these are all *source folders* and depending on the platform you develop SWT (that is your os) one needs for example copy https

[2022-05-19 15:16] merks commented on #632
@laeubi It's a long, long thread where mostly it seemed to be asking about catching mistakes.   And yes, I know about SWT's structure.  That's why there is this in SWT's setup task:

![image](https://user-images.githubusercontent.com/208716/169328886-9d514138-0feb-4b59-8b70-b2f7d14ed4c0.png)

But I'm not exactly sure how the question about catching errors early turned into a discussion about how t

[2022-05-19 15:39] laeubi commented on #632
To give some technical background here:

The problem @sratz is facing here, is that Tycho currently resolves each enabled platform into s set of bundles, so when you build products for three platforms you get the corresponding "natives" for this platform and end up with three "packages" (win, linux, mac), but at *compile time* Tycho currently just squash all platforms into one build-path because t

[2022-05-19 16:09] laeubi commented on #632
So maybe if your train is late and you don't want to choose another, do you remember where in P2 it evaluates if a given "platform filter" matches the current Eclipse install? :-)

[2022-05-19 17:02] merks commented on #632
I think finding the call hierarchy of org.eclipse.equinox.p2.metadata.expression.IMatchExpression.isMatch(T) will find such places.  E.g., Oomph has method like this for determine if a task's filter matches the current OS:
[code]

[2022-05-19 17:36] laeubi commented on #632
Thanks Ed I think something like that would be suitable her already!

[2022-05-20 11:43] sravanlakkimsetti commented on #966
Still there is a problem
Comparator differences from current build
	/home/jenkins/agent/workspace/I-build-4.24/eclipse.platform.releng.aggregator/eclipse.platform.releng.aggregator/cje-production/siteDir/eclipse/downloads/drops4/I20220520-0600
compared to reference repo at
	https://download.eclipse.org/eclipse/updates/4.24-I-builds

1.  eclipse.jdt.ui/org.eclipse.jdt.ui.tests
   no-classifier: dif

[2022-05-23 06:03] #966 closed

[2022-05-23 09:10] sravanlakkimsetti commented on #966
Still an issue
[code]

[2022-05-23 09:14] mickaelistria commented on #966
Bundle needs to be touched and get a new qualifier for newer build (without .gitignore) to be produced and published

[2022-05-23 09:21] akurtakov commented on #966
Right, commit https://github.com/eclipse-platform/eclipse.platform.ui/commit/d5b54bcef5c3cc34751b23f08fd73155c383042f caused the .gitignore to be added and not shown as comparator error. I'll touch the bundle.

[2022-05-24 20:03] andrew-tram opened #974 "Materializing a Linux RCP Application using zip loses executable attribute"
When trying to materialize a Linux RCP application as a `zip` instead of a `tar.gz`, the executable attribute gets lost.

[code]

A temporary work around would be to use `<artifactId>maven-antrun-plugin</artifactId>` and programmatically `chmod +x` executables. But I believe it's a bug with Tycho as the attributes remain intact when using tar.gz instead.

[2022-05-25 03:28] laeubi commented on #974
This is a limitation of the zip format, and thus `tar.gz` is recommended here.

[2022-05-25 03:28] #974 closed

[2022-05-26 04:50] laeubi opened #975 "Remove the org.osgi.framework.bootdelegation from profiles"
I noticed we define some `org.osgi.framework.bootdelegation` like this in profiles:

[code]

we should try to remove them from the profiles as with modular vms all packages should be imported instead of boot delegated.

[2022-05-26 04:57] laeubi commented on #958
I think we can at least improve tycho in a way that it generates missing profiles here for the running VM using the `JREAction` of P2.
@cushon do you think you can provide a minimal example with build instructions to reproduce the issue? Maybe even
provide it as an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? I could then propose

[2022-05-26 06:23] akurtakov commented on #975
I see this one after I commented on the patch. Do you have some links on the topic to educate myself?

[2022-05-26 06:37] laeubi commented on #975
I think https://wiki.eclipse.org/Equinox_Boot_Delegation might be a starting point.

[2022-05-26 06:44] akurtakov commented on #975
Thanks, I'm aware of that I was more looking about changes for/with modular VMs.

[2022-05-26 06:49] Bananeweizen commented on #676
@akurtakov I'm fine with removing it also. In fact, using only some non Tycho goal in a Tycho project happens so seldom that I myself also completely forget to add the magic property then. Therefore I've not really been using this in practice. Some automated detection instead of a property would surely work better for more users, since they don't have to know anything about the differences then.

[2022-05-27 08:24] #40 closed

[2022-05-27 09:10] tomaswolf commented on #947
1. With a shallow clone, the commit that last touched a particular file (or file in a directory) may not be present, so timestamps may be wrong.
2. JGit has no support yet for shallow cloning. There's a [pending change](https://git.eclipse.org/r/c/jgit/jgit/+/193329) that implements some part of it. Unshallow is not yet part of that change. Note that a clone may still have shallow commits even aft

[2022-05-27 09:12] laeubi commented on #975
There is no real "change" especially as profiles are Equinox specific. But Equinox offers the `osgi.compatibility.bootdelegation` what is default to true for eclipse and thus PDE do not "complain" if you do not import the packages in the manifest listed here.
That might be the reason why they are listed here. But given we use a modular vm, these packages are no longer provided by the vm so it is k

[2022-05-27 09:14] akurtakov commented on #975
OK. let's do that then.

[2022-05-27 09:16] laeubi commented on #947
@tomaswolf thanks for the insigh, tycho itself do not clone the repo but "Github Action" do it, so if the repository itself is shallow I assume it does not make a difference if I use `--depth=1` or "full" depth?

So effectivly one could check if that file exits and emmit a warning? Or could the file be present even if I do `git fetch --unshallow` and we need to parse its contents? Doe JGit maybe a

[2022-05-27 09:16] laeubi commented on #975
Yep, I think we should give it a try :-)

[2022-05-27 09:17] laeubi commented on #975
Done with https://github.com/eclipse/tycho/pull/976

[2022-05-27 09:17] #975 closed

[2022-05-27 09:32] tomaswolf commented on #947
You could specify `fetch-depth: 0` to make the Github checkout action do a full clone.

Yes, if the upstream repo already is shallow, the clone will be shallow, too.

I don't know what the correct way to deal with a shallow repo would be for tycho-buildtimestamp-jgit.

As mentioned above: if the upstream repo already has shallow commits, the clone may have shallow commits even if a full clone was

[2022-05-27 09:40] laeubi commented on #947
My current soloution would be to do check if the repo is shallow and then print a warning about that recommending to do a "full clone", as you said if the repo is already shallow it wont help, but at least the user is aware that timestamps are wrong then.

[2022-05-29 07:17] laeubi opened #978 "ProvisionException already exists in repository"
In a parallelized build I see the following exception
[code]

FYI @merks seems similar to what I recently encountered with Oomph

[2022-05-29 12:22] Bananeweizen commented on #978
Sounds a bit like #663, but you probably know better if there is any relation between them.

[2022-05-30 05:11] laeubi commented on #978
No this is sadly something different, this error is emitted by P2, while the other is emitted by the OS.

[2022-05-30 06:31] merks commented on #978
Yes, I very occasionally see this problem in Oomph as well.  But it's never possible to reproduce because if you try again, it succeeds.  I suppose one could manually reproduce it by placing the artifact that will be download at the location where it will end up.  Instead of failing though, p2 might handle it more gracefully and produce only a warning/log rather than fail the overall process; but

[2022-05-30 06:43] laeubi commented on #978
That's the question, I wonder what one would gain here to throw errors, at least at Tycho there is even code to first remove the descriptor and add it afterwards if it already exits, but still there is of course a window where a race could happen.
I *think* the initial idea was that there should be no intermediate state (e.g. A descriptor is visible to other threads but its contents is overwritten

[2022-05-30 07:26] mickaelistria commented on #978
I believe the fact that there is no clear answer what's best is the reason why an exception was the chosen behavior: at least one can't blame p2 for taking the wrong decision (ie installing an unexpected artifact, or corrupting an existing installation).

Isn't the issue that multiple thread try to download the exact same file at the same time? If so, I imagine we can protect the code against that

[2022-05-30 07:45] merks commented on #978
No, I don't think multiple threads are trying to download the same artifact.  In general, the set of artifact requests is collected and requests are distributed across threads, but that's a comment about how p2 (and Oomph) use a transaction to update a profile.  I don't know what Tycho is doing in this regard...

I like the idea of comparing the artifacts.  Obviously if they are equal such an issu

[2022-05-30 07:53] laeubi commented on #978
The problem is, to compare them one needs to download them, but as the download is rejected because the artifact already exits ...
Anyways I already added support to Tycho to use the sha1 + md5 to decide if an artifact needs to be downloaded again if the properties change.

Also, Tycho here only emulates P2 (the error is from pure Tycho code!) and already has a "download lock" so the problem is pr

[2022-05-31 05:26] akurtakov commented on #898
Will this one be fixed once we upgrade to p2 from 4.24 ? If not it will not make it to the 3.0 release.

[2022-05-31 05:48] laeubi commented on #898
Yes this requires the new P2 release first, then it could be implemented.

[2022-06-01 08:21] #713 closed

[2022-06-01 08:23] akurtakov commented on #917
I think we can close this one as no work is planned or even could be done on tycho side.

[2022-06-01 08:23] #917 closed

[2022-06-01 08:30] akurtakov commented on #750
Would you please ellaborate what should/could be done here?

[2022-06-01 08:32] akurtakov commented on #512
Is there anything to be done here?

[2022-06-01 08:39] akurtakov commented on #233
Is this one still relevant? Esp with @laeubi 's https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#enhanced-support-for-maven-ci-friendly-versions which sounds related to me .

[2022-06-01 09:25] laeubi commented on #233
These are different timestamps, and we most probably need to adjust the DefaultTimestampProvider to use this if given.

[2022-06-01 09:57] akurtakov opened #983 "Move to Java 17 as runtime JVM"
Java 17 is the latest LTS and new major version of Tycho is in the works. It's the perfect time to do this switch too.

[2022-06-01 10:01] #949 closed

[2022-06-01 10:06] laeubi commented on #750
We currently have for example here some component definitions, hand crafted:

https://github.com/eclipse/tycho/tree/master/tycho-bundles/org.eclipse.tycho.p2.resolver.impl/OSGI-INF

the in code then these methods are (sometimes) marked with `// for DS usage`.

On the other hand one can use DS Annotations with the following advantages:

1. Automatic validation and generation of the XML (e.g. missin

[2022-06-02 05:22] akurtakov commented on #983
Switch in Tycho will be delayed till 2022-06 release and happen right after that so we'll be taking this with priority after opening 4.25 stream. This would not affect produced artifacts as they are built compatible according to their BREE .

[2022-06-02 06:29] merks commented on #983
Your cross projects email and the referenced issue suggest this switch was necessary for some "latest fixes" and for "Java 19 to work".  I'm curious which latest fixes are needed and why Java 19 specifically won't work without requiring Java 17 in Tycho.

[2022-06-02 07:00] mickaelistria commented on #983
Building with BREE JavaSE-19 will be available in Tycho 3.0. Tycho 3.0 will soon require Java 17 to run.

[2022-06-02 07:04] akurtakov commented on #983
Tycho ships EE profile for Java versions. Java 19 profile will be added in Tycho 3.0. There is agreement among Tycho developers that we want to require Java 17 for our main version as we don't plan having new major release for Java 17 soon after 3.0.

[2022-06-02 07:12] akurtakov commented on #983
For the record https://github.com/eclipse/tycho/blob/master/CONTRIBUTING.md#increasing-versions clearly describes the cases which are considered breaking changes and Tycho should bump its major version.

[2022-06-02 07:16] merks commented on #983
Ah, I see.  So you expect to need/want Java 17 soon and switching to that would require a major version increment so you might as well do this as part of your 3.0 version switch.  Thanks for the details and background.

[2022-06-03 04:59] akurtakov commented on #619
So far calling org.eclipse.jdt.internal.compiler.batch.Main with ```[--add-exports, java.desktop/com.sun.imageio.plugins.gif=ALL-UNNAMED, --add-exports, java.desktop/com.sun.imageio.plugins.png=ALL-UNNAMED, -s, /home/akurtakov/git/tycho/tycho-its/projects/compiler.extraExports.java17.target11/target/generated-sources/annotations, -d, /home/akurtakov/git/tycho/tycho-its/projects/compiler.extraExpor

[2022-06-03 14:14] sratz commented on #676
I somehow missed this issue earlier-on and just noticed this after the removal got merged.

This would be causing considerable issues in our workflows.

We currently have ~800 artifacts in our build and the target platform consists of many `mvn:groupid:artifactid:version:zip` entries referring artifacts with significant size (several GB in total).

We have several workflows, in which we used `tych

[2022-06-03 14:20] akurtakov commented on #676
Can we have a deal here? I revert,  you help us by documenting it as you seem to be a person using it extensively.

[2022-06-03 14:25] akurtakov commented on #676
Reverted with https://github.com/eclipse/tycho/commit/96730112ff3612130f65dad9b416be8abda0ec07

[2022-06-03 15:20] akurtakov commented on #512
I'll take your word for that and close this one.

[2022-06-03 15:22] Bananeweizen commented on #494
can't say, still hanging on 2.5 due to other things blocking migration from 15 to 17. I'm fine with closing however, and eventually reopening in case I can reproduce after the migration.

[2022-06-03 15:22] #494 closed

[2022-06-03 15:27] sratz commented on #676
Thank you!

Sure. I will provide a pull-request.

[2022-06-06 19:11] Bananeweizen commented on #965
@iloveeclipse Did you raise a bug in surefire? I didn't find any that relates to your finding. Your mention of the removed line in StatelessXmlReporter.java looks reasonable to me.

[2022-06-06 19:12] iloveeclipse commented on #965
No, I haven't, no time. Feel free to open one.

[2022-06-07 08:03] vogella opened #997 "Adding classpath entries via tycho-packaging plugin does not work"
It seems that the classpath configuration is not passed to the Maven Archive plug-in.
I used the configuration as described here: https://maven.apache.org/shared/maven-archiver/
Other configuration is passed and considered.

Example:
https://github.com/vogellacompany/tycho-example/blob/master/com.vogella.tycho.fatjar/pom.xml#L50

Expected result: classpath is added to the MANIFEST.MF
Actual result

[2022-06-07 16:59] iloveeclipse commented on #965
But that is a different issue (about OOM). Here we leak file descriptors. Or the issue needs an update and extra point about not only leaking memory but **also** file resources.

[2022-06-07 20:02] mickaelistria commented on #965
OK.

[2022-06-07 20:11] #155 closed

[2022-06-07 20:11] #276 closed

[2022-06-07 20:11] #655 closed

[2022-06-07 20:11] #958 closed

[2022-06-07 22:22] mickaelistria opened #998 "Wrong compiler target level used if using older BREE that's not available in toolchains"
This seems to be a major regression from recent https://github.com/eclipse/tycho/commit/7d59f3320cf3096956442d5d7ad4e054f07ac0b6 ; and luckily it is visible at the moment with an error in some cases while it is very likely to be silently failing in many other cases.
If trying to build a bundle with an older BREE that the one currently used to run Tycho and that target version is not in toolchains,

[2022-06-07 22:27] mickaelistria commented on #998
I'm reverting https://github.com/eclipse/tycho/commit/7d59f3320cf3096956442d5d7ad4e054f07ac0b6 before it critically impacts Platform or other projects that would suddenly produce invalid bundles

[2022-06-07 22:42] mickaelistria commented on #998
I'm really astonished that there is no test case that covers that story; it is critical that we implement one before re-working on the topic of profiles/EEs.

[2022-06-08 03:25] laeubi commented on #998
Platform has almost all java versions in the tool-chains so its quite unlikely that there are any issues.

So if there is no test case this was a hidden feature :-) I'll try to enhance the testcase to reveal this issue, it just would have been easier without reverting this change so I will include it in reverting the revert so hopefully we can merge a fixed version soon including the test-case as

[2022-06-08 08:02] mickaelistria commented on #998
Yes, but a feature that is widely used!

Thanks. Do you think it would be possible to get a test case working against the current code that we could include in a preliminary commit? I can try to write one if you cannot do it right now.

Yes, but the risk of having false-positive output in downstream project was too big to take the risk. This problem would have become a problem factory and over the

[2022-06-08 08:06] laeubi commented on #998
I have created a build here that only enhances the test-case: https://github.com/laeubi/tycho/commit/51ede810278c1e61bcd3b215df38abad627070e5 and fails if you apply my patch.

With current code-base, as described above it is hard to accomplish, because Tycho simply do not support this, e.g. whatever JVM you use it always uses the settings from the hard-coded profiles, so the previous test already

[2022-06-08 09:56] laeubi commented on #998
This should be fixed now as well or do you see any issues with that fixed version? The problem was that before it used the foll profile not just the packages. So you could try out my branch and of course we can add more test afterwards, but the described issue should be fixed.

[2022-06-08 09:57] mickaelistria commented on #998
I'll give it a try right now.

[2022-06-08 10:03] mickaelistria commented on #998
I tried the PR #1002 and it seems file. Should I also try your branch or is the PR good enough?

[2022-06-08 10:26] #998 closed

[2022-06-08 15:47] akurtakov opened #1003 "Failures related to EE profile changes"
As can be seen at https://github.com/eclipse-platform/eclipse.platform.swt/runs/6796883085?check_suite_focus=true there is the following error during SWT build:
[code]

[2022-06-08 15:53] akurtakov commented on #1003
And another one from equinox :
 [ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:3.0.0-SNAPSHOT:compile (default-compile) on project org.eclipse.osgi: useJDK = BREE configured, but no toolchain of type 'jdk' with id 'JavaSE/compact1-1.8' found. See https://maven.apache.org/guides/mini/guide-using-toolchains.html -> [Help 1]

Can be seen at https://ci.eclipse.org/equinox/job/r

[2022-06-08 17:11] laeubi commented on #1003
@akurtakov I'll take a look but wont be able to provide a fix as of today, for the equinox stuff please keep in mind that we don't want to support JDK < 9 anymore with the Tycho 3.0 so one option would to upgrade equinox to use at least BREE-11.

Currently it requires

[2022-06-08 20:19] iloveeclipse commented on #965
I see @Bananeweizen opened https://issues.apache.org/jira/browse/SUREFIRE-2094. Thanks.
Interestingly, it was already reported, I've linked to the duplicate.

[2022-06-08 22:51] joeshannon commented on #198
Tycho 3.0.0-SNAPSHOT does now have a version of Surefire that supports this however passing the required configuration looks like it might be non-trivial.

The configuration for tycho-surefire (`TestPluginMojo`/`AbstractTestMojo`) is written into a `PropertiesWrapper` and stored in a file which is then passed into the new Surefire OSGi booter process via an argument. The properties are a `Map<Stri

[2022-06-09 04:09] laeubi commented on #198
Your best option would be to fetch the code and try out some of your suggestions, if your happy with them open a PR so we can discuss it.

[2022-06-09 11:58] laeubi commented on #1003
@akurtakov the SWT PR actually fails with:

now, so was this probably already fixed?

[2022-06-09 11:59] akurtakov commented on #1003
Still waiting for the build. One failed with network issue https://ci.eclipse.org/tycho/job/tycho-github/job/master/420/console . Hopefully this one succeeds

[2022-06-09 12:21] akurtakov opened #1006 "Enable Issue697Test"
Redoing the test based on artifact hopefully at https://repo.eclipse.org or another more available repository as  https://nexus.se.rwth-aachen.de/repository/ doesn't seem to be such. It's not the first time connection fails.

[2022-06-09 12:23] akurtakov commented on #1006
Renaming the test to descritptive name would be nice. The codebase still has ancient Issue numbers in comments,tests, etc. that point to the old codehaus tycho home before it become eclipse project, which are no longer accessible anymore. That's why it's best if as much as possible of the information is in the code itself.

[2022-06-09 19:51] mickaelistria commented on #1003
I think this is now fixed. Please reopen if I miss something.

[2022-06-09 19:51] #1003 closed, assigned to nobody

[2022-06-09 22:45] joeshannon commented on #198
Have created a draft PR based on my previous comment.

[2022-06-10 13:43] sratz opened #1009 "tycho-eclipserun-plugin: Individual arguments inside <applicationsArgs> are incorrectly parsed again"
Consider

[code]

Expected command line arguments of the final process:

[code]

Actual command line arguments of the final process:
[code]

This is because https://github.com/eclipse/tycho/blob/dfb97c8103c5d59f2cc3ee7227ca27ffde9d83b9/tycho-extras/tycho-eclipserun-plugin/src/main/java/org/eclipse/tycho/extras/eclipserun/EclipseRunMojo.java#L407 performs `splitArgLine()` on the already individual

[2022-06-10 13:56] sratz commented on #1009
By the way: `<jvmArgs>` already works like that.

[2022-06-12 05:28] laeubi commented on #585
Just a minor issue: https://issues.apache.org/jira/browse/MNG-7496

[2022-06-12 12:17] #585 closed

[2022-06-12 15:58] laeubi opened #1014 "p2.inf is only considered if included in the binary build"
p2.inf is only considered if it is part of the binary build. As the p2.inf infos are only needed to generate the P2 data it should not be necessary to include it at all.

Reproduce:

1. create a feature project
2. create p2.inf inside and define a property
3. if not included in build.properties -> property is missing
4. if included in build.properties -> property is present

[2022-06-13 08:05] mickaelistria commented on #1014
That would be welcome. I guess anyone who creates a p2.inf is bitten by this issue of "why aren't the metadata here" and then 1 hour later "damn, I forgot the build.properties...".

The reason for this at the moment is that the p2 pubisher does look for p2.inf inside the artifact it's building and Tycho relies on its default behavior on that matter.
One possibility would be to have Tycho programat

[2022-06-13 08:22] laeubi commented on #1014
Guess how I found out :-D

Yep, something like that, I just wanted to open the ticket without looking at the details so it dont get lost :-)

[2022-06-13 09:11] pgaufillet opened #1016 "Support of Maven --projects --also-make"
Hi,

when trying to partially build a project, maven provides a few advanced options like --projects (comma separated list of modules to build) and --also-make (also build modules required for the list of projects) which are very handy. Are these options supported by Tycho? It seems that --also-make in particular doesn't have any effect (the build fails during dependencies resolution).

[2022-06-13 09:16] laeubi commented on #1016
Tycho support this from version 2.7.0, but you need to enable the build extension:
https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#tycho-pomless-will-become-a-tycho-core-extension
https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#tycho-specific-maven-graphbuilder-to-support---also-make--am-and---also-make-dependents--amd

[2022-06-13 13:45] #1009 closed

[2022-06-15 04:38] laeubi commented on #230
@akurtakov can you take a look or trigger any of the ECJ/JDT people to take a look?

[2022-06-15 16:50] opcoach commented on #626
I found another use case today with a multiple plaform build (linux, macOS, windows), with a code containing a FontData instance.

- On macOS, FontData is defined in the macosX fragment and contains a public String name and has a getName returning name
- On windows, FontData has only a getName method computing the name.

In my code, there is a line with an access to fd.name.

**Eclipse 2022-03, jd

[2022-06-15 16:53] laeubi commented on #626
@opcoach this depends on the order of fragment attachments an as it is only compiled once for all three platforms Tycho currently can't detect the issue.

[2022-06-15 17:06] laeubi opened #1034 "Create an automatic version bump plugin"
Currently versions are bumped manually, but actually this is waste of developer time and manual work is prone to errors.

Once we successfully have extracted the resolution into the maven build phase (and thanks to the new tycho-ci-friendly-versions it should finally be possible to fully automate the process with different levels:

1. I could just let it bump as required
2. I could forbid automati

[2022-06-15 17:16] mickaelistria commented on #1034
I once imagined that the Maven bot could generate files to then suggest edits as GitHub comments.
I think it's better to suggest an edit than automatically apply it as it leaves opportunity for developer to decide differently.

[2022-06-16 12:05] vogella opened #1035 "feature.xml unpack attribute should be honored"
Originally reported as https://bugs.eclipse.org/bugs/show_bug.cgi?id=409097

http://wiki.eclipse.org/Tycho/Packaging_Types#eclipse-feature
 documents this.

As Eclipse-BundleShape: directive is supported, I think it would
grat if unpack=true is also supported.

[2022-06-16 12:09] laeubi commented on #1035
Tycho is using P2 for building products and I'm not aware of anything else where "unpack" would be relevant so could you describe what exactly is the problem given that the original request is rather old?
Ideally provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue.

[2022-06-16 12:10] mickaelistria commented on #1035
And what if a feature includes the bundle with unpack=true, and another with unpack=false, as part of the same build, or even the same installation?
unpack attribute on feature is IMO better being deprecated fully as it's technically incorrect (eg case above), and I don't think adding support for something wrong in Tycho is what's best for the project and its users.

[2022-06-16 12:17] laeubi commented on #1035
Actually all these "attributes" in feature are more metadata to guide the P2 resolver, for example there is also a `fragment=true` and of course you cannot change the "fragment-nature" of bundle on demand...

[2022-06-16 12:20] vogella commented on #1035
+1 can you move this issue to PDE (I cannot as I'm not a Tycho committer).

[2022-06-16 12:33] vogella commented on #1035
One thing, which would be "nice" if Tycho could write a warnings if flag is present pointing to  Eclipse-BundleShape:dir als alternative.

[2022-06-16 14:54] rfolo9li opened #1036 "Demo projects not building"
Trying to build https://github.com/eclipse/tycho/tree/master/demo/itp01 with `mvn clean install` leads to the following error:

[code]

[2022-06-16 14:55] rfolo9li commented on #1036
Trying to build itp02 (https://github.com/eclipse/tycho/tree/master/demo/itp02) also produces an error:

[code]
I'm using Maven 3.6.3 with Java 11.0.13.

[2022-06-16 15:39] #1036 closed

[2022-06-16 15:40] akurtakov commented on #1036
Compilation is fixed.
@rfolo9li It would be nice if  you help us by spending some time to include compiling them as part of the main build so we are sure they are always working.

[2022-06-16 18:29] laeubi opened #1038 "Support bnd processing in pomless builds"
BND [can generate a lot of useful stuff](https://github.com/bndtools/bnd/blob/master/maven/bnd-maven-plugin/README.md#bnd-process-goal) for OSGi even if BND is not used to build the actual bundle content.

For this reason, the tycho-build extension (aka tycho-pomless) should detect bnd files and add a suitable execution of the `bnd-process` goal to the polyglot model.

[2022-06-16 18:32] laeubi commented on #1038
A next step then might be to enable the BND plugin to read an existing MANIFEST.MF file to enhance it (e.g. with additional imports, use clauses, DS header, ...)

[2022-06-17 06:54] #1038 closed

[2022-06-18 16:48] laeubi opened #1043 "Maven dependecy injector injects wrong data"
on the github action nightly build against tycho 3.0.0
we see this error tonight
[code]
https://github.com/itemis/xtext-reference-projects/runs/6855276729?check_suite_focus=true

what does tycho want to tell us.
when i run the build locally, tycho is perfectly fine
same when i run on jenkins

[code]

on interesting point is this in the log
[code]
is this a new feature? does it work properly with m

[2022-06-18 16:48] laeubi commented on #1043
FYI @cdietrich

[2022-06-18 17:17] cdietrich commented on #1043
As mentioned in the discussion the problem is there with maven 3.8.5 and 3.8.6 only

a reproducer can be found at https://github.com/cdietrich/tycho_discussions1015

[2022-06-19 06:36] #1043 closed

[2022-06-19 06:37] laeubi commented on #1043
@cdietrich the 3.0 SNAPSHOT should include this fix shortly, many thanks for reporting and providing an inital test-case!

[2022-06-19 18:26] #898 closed

[2022-06-20 04:31] cdietrich commented on #1043
thx @laeubi my reproducer and the original project are green again

[2022-06-20 09:53] fipro78 opened #1052 "[WARNING] Mirror tool: Problems resolving provisioning plan"
Hi,

I have a small PDE based project with a Tycho build that should show how to publish an OSGi service via JAX-RS Whiteboard (Aries implementation). As the Aries implementation is only available via Maven and not via a p2 update site, I use the Maven locations in the target definition. Inside the IDE everything works as expected, the target definition resolves, the product definition is correctl

[2022-06-20 09:58] laeubi commented on #1052
Yep this warning is quite annoying and confusing, sometimes it cause issues, sometimes not.  I'll take a look at it, can you tell if the issue also arise with 3.x snapshot?

[2022-06-20 10:03] laeubi commented on #1052
See try out the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) build.

[2022-06-20 10:12] fipro78 commented on #1052
Ah, I remember and had it prepared already from previous reports.

The same issue occurs with 3.0.0-SNAPSHOT

[2022-06-20 10:14] laeubi commented on #1052
Okay thanks, I'll try to take a look at it.

[2022-06-20 10:32] SarikaSinha opened #1053 "Tycho-p2-plugin is not honouring the ignore list"
https://ci.eclipse.org/jdt/job/eclipse.jdt.debug-github/job/PR-71/2/console

Comparator does not ignore changes in the files listed in filter.

https://github.com/eclipse-jdt/eclipse.jdt.debug/pull/71

[2022-06-20 10:34] mickaelistria commented on #1053
Are the missing signatures file ("in baseline only") expected/desired?

[2022-06-20 11:07] SarikaSinha commented on #1053
Ignored list mentioned in https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/blob/b86734cef0382a2f6fb04c56a1b692f92564298e/eclipse-platform-parent/pom.xml#L532

[2022-06-20 11:10] SarikaSinha commented on #1053
15:43:50  [ERROR]    META-INF/ECLIPSE_.RSA: present in baseline only
15:43:50  [ERROR]    META-INF/ECLIPSE_.SF: present in baseline only

These files should not be compared.
No changes in Beta branch for these.

[2022-06-20 11:52] lppedd opened #1054 "IntelliJ IDEA support"
Hi all!
I'm currently trying to understand why Tycho isn't working in IntelliJ IDEA, testing with https://www.eclipse.org/mat/.
(see also issue https://youtrack.jetbrains.com/issue/IDEA-186628)

I have managed to debug the IDEA Maven implementation, and this is the call stack just before a dependency is not found.

![image](https://user-images.githubusercontent.com/19871649/174595073-1293f874-e75d

[2022-06-20 12:10] laeubi commented on #1054
It heavily depends on you project setup, but given you have a multi-module project with a common parent/aggregator it should be called on these projects.

If you call it on a single one it must work to call mvn at exactly this folder stand alone. If not you can again use `mvn -pl -am` but you need the tycho-build extension then!

[2022-06-20 12:17] lppedd commented on #1054
Hi @laeubi, thanks for the quick answer.
So, I think we need to find an easier Tycho project to test with IDEA, MAT seems too complicated. Would https://github.com/eclipse/tycho/tree/master/demo/itp01 be ok?

But anyway

Are you referring to all the non-parent projects?

I think this should not be required so I'll leave this solution aside for now.

[2022-06-20 12:29] laeubi commented on #1054
Beside the demos, there are also a lot of [integration test](https://github.com/eclipse/tycho/tree/master/tycho-its/projects) that could be used as an executable example.

Then IntelliJ must be "smart enough" to compute the set of required projects itself :-)

In a very simplified fashion Tycho works this way:

1. read all reactor projects
2. resolve the target platform(s)
3. resolve any dependenc

[2022-06-20 12:50] lppedd commented on #1054
Ok I'll try to wrap my head around what you wrote, thanks 😄
Regarding PDE, IntellIJ supports PDE using the [eclipse-pde-partial](https://github.com/JaneWardSandy/eclipse-pde-partial-idea) plugin, but Tycho support is needed to support automatic dependency resolution.

[2022-06-20 12:53] laeubi commented on #1054
Automatic dependency resolution is what PDE does, so no Tycho there either (this is performed by [P2](https://github.com/eclipse-equinox/p2)).

Just let me know when anything is unclear.

[2022-06-20 13:02] laeubi commented on #1054
I don't know much about IntelliJ PDE support to guess if that works, but what I wanted to say is that any Plugin that claims to support PDE, should also support automatic dependency resolution based on a target platform and the manifest data. Otherwise it does not really supports PDE, but probably can read/write some of its meta-data :-)

[2022-06-20 15:15] lppedd commented on #1054
I'm doing some progress with debugging the demo project.
That projects points to `https://download.eclipse.org/releases/2022-06/`

[code]

And the P2 resolver uses some suffixes to look into the repository

![image](https://user-images.githubusercontent.com/19871649/174632868-ece5e8a4-74af-4658-a38b-ee940bd38bc7.png)

However it cannot resolve it. Any idea what I'm missing?

[2022-06-20 15:32] laeubi commented on #1054
Have you tried letting the code go on? Repositories are sadly queried on "best guess" sometimes and some failures are allowed, do you see the info print outs also in IntelliJ?

[2022-06-21 05:21] laeubi opened #1056 "Support autoIncludeRequirements="true/false" in products"
PDE has a new flag  `autoIncludeRequirements` Tycho should respect that flag when building products.

I think this requires probably updates in P2 or we have a [ProductFile2](https://github.com/eclipse/tycho/blob/master/tycho-bundles/org.eclipse.tycho.p2.resolver.impl/src/main/java/org/eclipse/tycho/p2/impl/publisher/model/ProductFile2.java) that might be used as an incubator.

@HannesWell do you

[2022-06-21 08:32] laeubi commented on #1056
Product could have (intentionally or by accident) "missing" requirements and you can have feature based products that do not fulfill the requirements of all bundles the include without a problem.

The flag controls if a product should include "what ever is required" or not by adding additional bundles to the product run/build.

[2022-06-21 08:46] HannesWell commented on #1056
To track required work on that I have already opened https://github.com/eclipse-equinox/p2/issues/76.

Exactly that's what P2/Tycho does. The option would allow to disable that.

At the moment that has only very low priority for me since I only need `autoIncludeRequirements=true` which is what's done already. I can provide an integration test later, but if somebody else wants to do it before it is

[2022-06-21 09:38] iloveeclipse commented on #1053
Can we just switch back to some version that doesn't have this issue?
Any chance that anyone can say which tycho version is supposed to work?

[2022-06-21 09:45] iloveeclipse commented on #1053
Yes, in gerrit builds we don't sign anything, in the baseline we do.

[2022-06-21 09:45] laeubi commented on #1053
By the way I can't find any evidence that `ignoredPatterns` is any valid configuration parameter for the `tycho-p2-plugin`...

[2022-06-21 09:47] laeubi commented on #1053
Should baseline check not be disabled in gerrit builds?

[2022-06-21 10:16] mickaelistria commented on #1053
I think that the parent pom for BETA_JAVA19 branch is not properly configured:
Build says
[code]
so it's building a bundles that wasn't changed for a long time.
But then
[code]
It cannot find a version in baseline (used for replacement). The expectation here would be that existing bundle is found and used.
So
[code]
It tells that the new bundle doesn't match the expected one.

The error is desired

[2022-06-21 10:16] #1053 closed

[2022-06-21 13:44] gr0l opened #1058 "Certificate issues during target platform resolution"
In my project I am using GitLab CI/CD to run the eclipse Tycho Build.
The Builds are all running inside container with a preinstalled maven version and also preinstalled Java Version.
In the project we host our bundles in our own P2 repos only available from our internal network or via VPN.

The build worked the whole time since I only tried to switch the maven version.
I switched from [3.8.2-adop

[2022-06-21 21:58] HannesWell commented on #1034
Alternatively PDE's API-tools could be enhanced to inform about necessary service-version bumps as well:
https://github.com/eclipse-pde/eclipse.pde/discussions/165

[2022-06-22 04:21] laeubi commented on #619
@akurtakov thanks for the finding, just to be clear: Do you think this is a user error or do tycho behaves wrong here?

[2022-06-22 04:26] iloveeclipse commented on #619
I don't know if tycho is adding the arguments automatically. The combination is bad (and if I understand Stephan right, very specific combination - exports on a **system** module during "release" compilation) , so whoever combined it makes a mistake. If user does it, would be good if tycho could give a hint. If tycho does it, would be good to fix it.

[2022-06-22 07:44] laeubi opened #1062 "remove eclipse-application from tests, examples and components.xml"
I noticed there are a few references to the `eclipse-application` packaging types in the examples and itests and it is also mentioned in the `components.xml` but as far as I know the packing type was removed. @akurtakov can you say if these are just left-overs?

[2022-06-22 07:47] laeubi opened #1063 "remove eclipse-update-site from examples, itests and components.xml"
same as #1062 it seems there are still some references  to `eclipse-update-site` @akurtakov ?

[2022-06-22 08:39] akurtakov commented on #1062
Yes, these are left overs .

[2022-06-22 08:40] laeubi commented on #1063
I just did search for `eclipse-application` in *.xml goot to kow that I can remove them if they cause issues :+1:

[2022-06-22 11:31] laeubi opened #1065 "DS generation fails with latest eclipse release for UI bundles"
As an example:

https://github.com/eclipse-m2e/m2e-core/pull/813

This seem to happen because Tycho already has `org.eclipse.osgi.services` on the classpath in a restricted way. If then the tycho-ds plugin puts the same without restrictions on this package it is ignored by the compiler.

[2022-06-22 13:30] joehni commented on #97
Fixed since Tycho 2.6.0.

[2022-06-22 14:28] joehni opened #1066 "REGRESSION: Tycho build with build (pomless) extension fails since 2.7.0 sometimes projects with own pom.xml requesting an artifact with classifier "library.jar""
We have a pomless Tycho build (currently using 2.6.0) with some plugins, features and products. Most projects do not use a pom. However all of our help plugins do use an additionally ZIP dependency from the repo containing the generated HTML pages used as resources in those plugins. The build extracts the files, therefore the separate pom.

Starting with Tycho 2.7.0 the build fails with more than

[2022-06-22 14:33] laeubi commented on #1066
This does not looks like a general Tycho issue, it is maven that complains here that it can't download the artifact, so it seems there is more involved than just Tycho here. Can you probably provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-06-22 14:48] joehni commented on #1066
It's the target-platform that cannot resolve the dependency. And look at the GAV: It is the same as the current project, just with the classifier _library.jar_. This is nowhere declared. On top, how could you define a dependency with a different classifier on yourself?

[2022-06-22 14:50] laeubi commented on #1066
The target platform only resolves stuff that is declared somewhere, thats why I asked for a runnable example as it is impossible to guess from just a log excerpt whats happening here.

[2022-06-22 16:16] kgibm opened #1068 "tycho-surefire-plugin test exclude doesn't work after upgrading"
I'm trying to upgrade from `org.eclipse.tycho:tycho-surefire-plugin:1.7.0` to `org.eclipse.tycho:tycho-surefire-plugin:2.7.3` (the only change made) and tests that used to be excluded are now running (and causing failures):

[code]

[code]

Did the syntax change? Not finding anything obvious at <https://www.eclipse.org/tycho/sitedocs/tycho-surefire-plugin/test-mojo.html#excludes>

[2022-06-22 16:26] joehni commented on #1066
OK, I found the culprit. For historical reasons these help plugins created an own _library.jar_ on-the-fly containing the activator class and this JAR was set as the plugin's classpath. See following diff for changes:

[code]

So Tycho was technically right with the dependency for its current project. However, before 2.7.0 there was no problem with this, while now the build fails with high probabi

[2022-06-22 16:27] akurtakov commented on #1068
*Tests (aka test suites) were not included in the past. So if this particular test is included in a suite which is now found that could be the reason.

[2022-06-22 16:31] kgibm commented on #1068
Ok, it does look like this test is included in a test suite. So I'll need to comment out the code or is there a better way?

[code]

[2022-06-22 16:33] akurtakov commented on #1068
Either that or exclude the test suite too.

[2022-06-23 10:20] #1065 closed

[2022-06-23 10:22] laeubi opened #1070 "Some features are considdered as plugins"
Hi laeubi! I have created a pull request including an example project to demonstrate the issue.

https://github.com/eclipse/tycho/pull/1057

BR, Mats

_Originally posted by @selundqma in https://github.com/eclipse/tycho/discussions/1055#discussioncomment-2992053_

[2022-06-23 10:42] laeubi opened #1071 "Problem compiling tycho with java 17"
If I use

to compile the tycho source I get the following error on compile:

[code]

@akurtakov can you take a look?

[2022-06-23 10:52] akurtakov commented on #1071
It works for me without any issue:
 openjdk 17.0.3 2022-04-19
OpenJDK Runtime Environment 21.9 (build 17.0.3+7)
OpenJDK 64-Bit Server VM 21.9 (build 17.0.3+7, mixed mode, sharing)

I don't know how to help you. Can you build any other project using Java 17?

[2022-06-23 10:55] laeubi commented on #1071
Yes other projects working fine.

[2022-06-23 10:58] akurtakov commented on #1071
Can it be some misalignement between PATH and JAVA_HOME ?

[2022-06-23 11:04] laeubi commented on #1071
I'm using the following command:

`mvn clean install -DskipTests -T1C -Dtycho.localArtifacts=ignore`

it seems to only fail if there is no JDK17 in `toolchains.xml` ... if I add the JVM as a toolchain it seem to succeed

[2022-06-23 11:05] akurtakov commented on #1071
Ah, you use toolchains.xml. I don't use one locally and it just works .

[2022-06-23 11:08] laeubi commented on #1071
The strange thing is its the other way round, no toolchains.xml -> fails, with tollchains and java in it -> works but still needs me to set java to java 17, with java 11 it works in all cases... but lets close it then if no one else encounters an issue...

[2022-06-23 11:08] #1071 closed

[2022-06-23 11:21] minemeraj opened #1073 "Not a valid jar file!"
Hi,

Until last week the log looks like this:

[code]

But the build didn't fail!

But now it looks like:
[code]

Which component has been changed since last week? No source code was changed just the log message changed and the build is failing. Any clue?

[2022-06-23 11:24] laeubi commented on #1073
Please provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) or example project to demonstrate the issue. It is quite impossible to guess from fragmented logoutput whats wrong here.

[2022-06-23 11:26] laeubi commented on #1073
Might be a duplicate of #1072

[2022-06-23 15:28] #1070 closed

[2022-06-24 07:37] lppedd commented on #1054
Got to the original error:

It seems there are two conflicting versions of SLF4J. Sad 😢

[2022-06-24 07:39] laeubi commented on #1054
This might indicate the IntelliJ do not properly isolate class realms for extensions here.

[2022-06-24 07:51] laeubi commented on #1054
Not really, maybe IntelliJ is missing the core-exports are missing here but that's hard to guess without deeper knowledge of that code. But I think you now have a good test-case for the IntelliJ people to investigate further on this issue.

[2022-06-24 08:11] bric3 commented on #1054
To be fair, IJ isn't doing anything improperly, it's not OSGi based. So different trade-offs. As far as I know they IJ is based on _pico container_ in regard of plugins.

[2022-06-24 08:14] laeubi commented on #1054
@bric3 that has nothing to do with OSGi or PicoContainer, the Tycho extension is starting an *embedded* OSGi framework (Maven itself do not use OSGi in any way...) and exports some stuff from its class realm into this framework, so if the classrealm is not setup property such issues can arise.

[2022-06-24 08:27] lppedd commented on #1054
@bric3 so there is a little difference here regarding how IntelliJ spawns the Maven server. It's not really a plugin, but it seems a new instance of the JVM is created.

https://github.com/JetBrains/intellij-community/blob/43bae47c6d4b65ded6969111034c172324dde329/plugins/maven/src/main/java/org/jetbrains/idea/maven/server/MavenServerManager.java#L474-L484

Also I see some code related to realms.
h

[2022-06-24 08:42] lppedd commented on #1054
![image](https://user-images.githubusercontent.com/19871649/175498009-4b22027e-94d6-4a74-9961-e2fcd91edc3b.png)

Then, a `DefaultPlexusContainer` spawned with that `AppClassLoader` is used to read lifecycle partecipants.

![image](https://user-images.githubusercontent.com/19871649/175498456-4410b8ee-a829-4b23-8606-96e34a8e0c2d.png)

[2022-06-24 08:52] lppedd commented on #1054
Yep, confirmed.

![image](https://user-images.githubusercontent.com/19871649/175500384-79ad3445-c982-4939-96a7-f21a0e007dfe.png)

[2022-06-26 18:33] Bananeweizen opened #1078 "Exception parsing OSGi MANIFEST"
The log attached to https://github.com/eclipse-platform/eclipse.platform.releng.buildtools/issues/5 has quite some of the following Tycho errors. It looks like Tycho wrongly parses *.jar.asc files.

[code]

[2022-06-26 18:34] laeubi commented on #1078
Please note that at `org.eclipse.cbi.mojo.AbstractPluginScannerMojo.execute (AbstractPluginScannerMojo.java:55)` is not part of tycho.

[2022-06-26 18:37] laeubi commented on #1078
I think this is more because
- https://github.com/eclipse/tycho/issues/872

and the mojo seem to be simply assume everything in the repository folder is a jar file

[2022-06-26 18:41] Bananeweizen commented on #1078
So I'll have to raise it again at https://github.com/eclipse-cbi/org.eclipse.cbi, since moving issues between organizations is impossible, right?

[2022-06-26 18:44] Bananeweizen commented on #1078
Moved to https://github.com/eclipse-cbi/org.eclipse.cbi/issues/158

[2022-06-26 18:44] #1078 closed

[2022-06-27 01:26] nitind opened #1079 "package-plugin fails with target/classes does not exist"
2.7.2 and 2.7.3 seem to fail when building some of my features and doc plug-ins, assuming that they should have compiled classes in a folder. Building with 2.7.1 succeeds.

Full trace on a doc plug-in (https://git.eclipse.org/c/servertools/webtools.servertools.git/tree/docs/org.eclipse.jst.server.ui.doc.user/pom.xml) failure, built with apache-maven-3.8.5, openjdk version "17.0.3" 2022-04-19, and

[2022-06-27 05:12] laeubi commented on #1079
@nitind can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue or example project?

[2022-06-27 14:32] #198 closed

[2022-06-27 15:12] mickaelistria commented on #1073
@minemeraj Can you please try latest `3.0.0-SNAPSHOT` (pass `-U` to your maven command to force snapshot updates)? If @laeubi is right, then the issue should be already fixed.

[2022-06-27 15:50] rgrunber commented on #916
As an update, @fbricon has a solution that would do what we need : https://gist.github.com/fbricon/3c718d03f55c3ceba5dea570af4af5f8 .

It still would  be nice if Tycho handled this, but I guess most projects host directly on Eclipse downloads so such a hack is not required yet.

[2022-06-27 18:04] laeubi commented on #916
Contributions are welcome :-)

[2022-06-27 18:20] fbricon commented on #916
documented hack at https://fbricon.github.io/posts/use-github-releases-as-p2-repo/

[2022-06-28 04:37] laeubi commented on #1052
@fipro78 it seems your example is missing some files:

I also added a `.mvn` folder with the tycho-build extension.

Maybe you can transform your example into an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-06-28 04:44] laeubi commented on #983
Just to mention that this is no longer a problem as tycho do no longer include any profiles.

[2022-06-28 04:45] laeubi commented on #948
@mickaelistria can you take a look here? I'd like to spin a service release next week (what will include a PGP fix as well) so it would be great if we could include a fix to this as well.

[2022-06-28 04:47] laeubi commented on #872
@mickaelistria @akurtakov should we take any actions here? As I'm currently preparing a service release with some PGP stuff in it, it would be good to include this fix as well if we plan to change anything.

[2022-06-28 04:58] laeubi commented on #1006
See also
- https://github.com/eclipse/tycho/issues/122

[2022-06-28 04:58] laeubi commented on #838
This is done now.

[2022-06-28 04:58] #838 closed

[2022-06-28 04:58] laeubi commented on #750
@akurtakov do you plan to further work on this?

[2022-06-28 05:01] laeubi commented on #607
What is "not so perfect" is that orbit seems to ship bad meta-data here. But thanks to the Workspace resolver, we *might* just use that info anyways and resolve it to a system-scoped one, if someone complains blame it to the orbit project so they produce good metadata instead?

[2022-06-28 05:07] laeubi commented on #140
This is implemented now see https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#improved-p2-transport-for-more-efficiently-http-cache-handling-and-improved-offline-mode

[2022-06-28 05:07] #140 closed

[2022-06-28 05:08] laeubi commented on #139
@mickaelistria is this still something you want to see in tycho?

[2022-06-28 05:09] laeubi commented on #135
@jhonnen can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? Is this still a problem on more recent tycho versions?

[2022-06-28 05:11] laeubi commented on #68
@mickaelistria @akurtakov  could you, as a project lead, initiate the process?

[2022-06-28 05:12] laeubi commented on #59
Tycho now support CI-Friendly versions see: https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#enhanced-support-for-maven-ci-friendly-versions
Please open specific issues if you still see problems.

[2022-06-28 05:12] #59 closed

[2022-06-28 05:13] laeubi commented on #46
@dhendriks can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-06-28 05:19] akurtakov commented on #750
I hope to find time for it before 3.0

[2022-06-28 05:20] laeubi commented on #750
Great let me know if you need any help.

[2022-06-28 05:30] akurtakov commented on #872
I see these asc files like pack.gz files they don't harm although not directly used. If there is contribution for that we can reconsider but right now it's very low priority for me.

[2022-06-28 05:52] laeubi commented on #872
I don't think this is much about implementation (as deleting them is a trivial fix), more should we do it or not.

[2022-06-28 05:57] jhonnen commented on #135
I've tried the reproducer with tycho 2.7.3 and the error is gone.

[2022-06-28 06:15] fipro78 commented on #1052
@laeubi sorry, this is an export issue on my side. I have updated the example with the corresponding .mvn folder and the parent pom.xml

[jaxrs_pde_example.zip](https://github.com/eclipse/tycho/files/8998158/jaxrs_pde_example.zip)

I will try to create an integration test based on this. Will see how far I can get here. But to show the error fast, I attached the complete example now.

[2022-06-28 06:18] laeubi commented on #135
Thanks for verification!

[2022-06-28 06:18] #135 closed

[2022-06-28 06:39] laeubi commented on #1052
Just some observations:

The org.osgi.service.jaxrs` has `Bundle-Version: 1.0.0.201802012106`, and mirror app complains about not finding

but the artifact itself has a maven version of `1.0.0` so maybe either Tycho or the MirrorApp is confused.

Another one might be that the product is based on plugins and most (if not all) our tests using feature based products, so again here, either Tycho or Mi

[2022-06-28 06:46] laeubi commented on #1052
Another possible issue is that we do not make the maven items correctly available to the mirrorapp... sadly the mirror app uses some strange handling of the artifacts.

[2022-06-28 07:16] fipro78 commented on #1052
Yes, the Bundle-Version and the Maven artifact version differ in the detail that the qualifier part is missing in the Maven artifact version. IIRC for publishing to Maven Central the .qualifier should be removed as this is an information that Maven does not use. Should Tycho in such a case not also avoid inspecting the qualifier information? Or at least have a fallback to search for the version wi

[2022-06-28 07:18] laeubi commented on #1052
Yes tycho should work with this, and yes tycho should support plugin based products, I just think these aspects are (not yet) very well covered :-)

[2022-06-28 07:25] mickaelistria commented on #607
Just driving people towards not using Orbit and using Maven artifacts in p2 builds with Tycho is the best path forward.

[2022-06-28 07:26] mickaelistria commented on #948
I don't think I'll have time to work on it soon. The time I can devote to coding (not much these days because of all other activity) is currently fully on m2e-wtp and Maven metadata generation for Eclipse Platform

[2022-06-28 07:39] akurtakov commented on #983
A (possible) blockers on JDT side seems to be https://github.com/eclipse-jdt/eclipse.jdt.core/issues/147 and https://github.com/eclipse-jdt/eclipse.jdt.core/issues/114 . This makes it risky to require Java 17 as JVM if there are so many bundles targetting Java 11 and thus risking to have wrong bytecode generated.

[2022-06-28 07:54] mickaelistria commented on #139
I still believe it would make a lot of sense to use the Maven model element to represent available depedencies in order to configure available dependencies, more than a target-platform-configuration plugin. However, we can currently leave without it; and I don't plan to work on it soon.

[2022-06-28 15:16] laeubi opened #1087 "Wildcards must be supported by the Service Component Header check"
See http://docs.osgi.org/specification/osgi.cmpn/7.0.0/service.component.html#d0e38069 the header supports wildcards, but currently tycho do not understand them, for example:

[2022-06-28 15:19] laeubi commented on #1087
@tjwatson the spec says:

Is there a method Tycho can re-use from the Equinox Framework to parse / match file names like in `Bundle.findEntries`?

[2022-06-28 15:23] akurtakov commented on #1087
@laeubi This is the breakage from https://ci.eclipse.org/releng/job/I-build-4.25/53/console , right? How did it happen to not have happened till now?

[2022-06-28 15:24] laeubi commented on #1087
This was added here: https://github.com/eclipse/tycho/commit/43f0716cae1dde52fe24ade650891b8d6b487be6

[2022-06-28 15:26] akurtakov commented on #1087
Ah, ok. If you can't fix it today would you please revert the patch till it's fixed so tonight's I-build works.

[2022-06-28 15:28] laeubi commented on #1087
if you need a solution **now** you can disable the strict binary include checks in the build, I think I'll simply skip the check if any wildcards are present for now.

[2022-06-28 15:32] akurtakov commented on #1087
No need for right now, but hopefully tonight's I-build works.

[2022-06-28 17:18] dhendriks commented on #46
I'm not sure. It would need two commits. One for adding the integration test, and another for a change in the license feature, but not the other feature. Then subsequent changes in the Tycho integration tests repo should not touch the other plugins, as the license feature must have changed last. Is that a problem?

Also, I assume you want an integration test that fails now that there is a bug in T

[2022-06-28 17:25] laeubi commented on #46
You could take a look at the tycho-buildtimestamp-jgit tests to get an idea how it is done there. Also one could call a build with forced qualifier somehow.

Yes this would be good.

[2022-06-28 17:46] dhendriks commented on #46
I've quickly looked at existing integration tests. I've found only:
* `tycho/tycho-its/projects/packaging.buildtimestamp/`
* `tycho/tycho-its/projects/ci-friendly/buildqualifier/`

Neither seems set up to fail like suggested. I have no clue how to do all this. This is beyond my Tycho knowledge.

Also, we have since moved away from using `tycho-buildtimestamp-jgit`, because of this issue, and vario

[2022-06-29 12:05] SatishChGit opened #1093 "org.eclipse.tycho:tycho-packaging-plugin:2.7.3:package-plugin issuing error <<pluginname>>/target/classes does not exist"
Hi Team,

We have a product depends on eclipse framework and building this with maven tycho plugin. We want to migrate to tycho plugin to 2.7.3 as we are upgrading to use eclipse 2022-03. But this version of tycho plugin is giving error for couple of plugins which doesn't have source code.

ERROR] Failed to execute goal org.eclipse.tycho:tycho-packaging-plugin:2.7.3:package-plugin (default-package

[2022-06-29 12:43] akurtakov commented on #1093
Would you please provide minimal reproducer we can look at? There are a number of bundles without classes in Eclipse Platform that build just fine (e.g. https://github.com/eclipse-platform/eclipse.platform.common/blob/master/bundles/org.eclipse.platform.doc.tips/pom.xml) so we need more details to be able to say what goes wrong for you.

[2022-06-29 12:54] laeubi commented on #1093
By the way, both build.properties also META-INF are showing error markers (**which Tycho might treat as errors**).

[2022-06-29 16:04] laeubi commented on #1087
@tjwatson thanks this leads me on the right track, I think one ultimately could reuse `Storage.listEntryPaths(..)` here and providing for example a `DirBundleFile`.

But on further investigate this i came across some other issue:

1. officially a `component.xml` *might* be provided by a fragment, so the question is if it is valid to give an error (even though we name it "strict include checks" if

[2022-06-30 16:26] #1063 closed

[2022-06-30 19:18] carstenartur opened #1097 "tycho-surefire-plugin does not find junit5 suite"
You can see what I mean looking at the pull request at
https://github.com/eclipse-jdt/eclipse.jdt.ui/pull/129
It contains a suite like this:

[code]

The pom file contains

[code]

Unfortunately tycho does not find the junit5 suite. As soon as I exchange the entry with the (single) junit5 test class VisitorTest it works fine.

[2022-06-30 20:08] laeubi commented on #1097
@carstenartur can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue?

[2022-06-30 22:46] HannesWell commented on #945
I plan to work on this issue in the next days and should have enough time on Saturday to finish it.
@laeubi is this quick enough to be considered for 2.7.4? I would really like to kick off the Tycho-Connector from some setups knowing that there is a real replacement.

[2022-07-01 04:23] laeubi commented on #945
Why not :-) I assume this would only be a xml file per plugin.

Regarding this, you can already do this, the tycho connector don't do anything useful and the latest m2e release only warns about missing connectors, so actually there is not much to gain here.

[2022-07-01 06:48] HannesWell commented on #945
Great. I assume the same, but also would like to test this. But if nothing unforeseen happens, this should be completed tomorrow.

I thought about that as well, nevertheless it would be better to have the mappings present to also fix the warnings. And getting rid of the Tycho connector increased my motivation to address this issue. :D

[2022-07-01 06:54] laeubi commented on #945
Once this is done we should also remove that from the official catalogue as well.

[2022-07-01 06:56] HannesWell commented on #945
Agree. With 2.0 one won't be able to install them any ways.

[2022-07-01 07:10] eNBeWe opened #1099 ""The type java.lang.Object cannot be resolved" when building multithreaded with OpenJDK17"
Not sure if this is a Tycho issue, a maven issue, a jdk issue or a "we" issue.
We have some project that we are currently building with OpenJDK 11, Maven 3.6.3 (probably) and Tycho 2.7.3.
It works fine on my local machine as well as our jenkins agent, using `-T1C` parameter for maven.

Now we want to update to Java 17 and switched the docker build container to OpenJDK 17 and Maven 3.8.4 (still on

[2022-07-01 07:18] laeubi commented on #1099
@akurtakov this sounds similar to the problem I encountered you mentioned some issues also here: https://github.com/eclipse/tycho/issues/983 is it possible that the multi-treading problem of EJC?

[2022-07-01 07:44] hd42 commented on #1099
I see this too in multithreaded builds with Tycho 3 and Java 17:
`[ERROR] Failed to execute goal org.eclipse.tycho:tycho-compiler-plugin:3.0.0-SNAPSHOT:compile (default-compile)`
...
`[ERROR] The type java.util.List cannot be resolved. It is indirectly referenced from required .class files`
or
`[ERROR] The type java.lang.String cannot be resolved. It is indirectly referenced from required .class f

[2022-07-01 07:54] akurtakov commented on #1099
Vacation. Please remind me in 2weeks.

[2022-07-01 12:48] eNBeWe commented on #1099
I tried setting the target and source level to 17 and for some reason it now worked (at least three times in a row). Still some more evaluation needed here, I think.

[2022-07-01 13:12] laeubi commented on #1099
Current reproducer:

- git clone https://github.com/eclipse/tycho.git
- cd tycho
- Make sure java -version shows 17
- mvn clean package -T16 -DskipTests

Using java 11 the build suceeds!

[2022-07-01 14:54] dhendriks opened #1100 "p2metadata/p2artifacts already attached, replace previous instance warnings"
In Eclipse ESCET, we're moving from Eclipse 2021-06 to Eclipse 2022-06. As part of that move, we now get new warnings in our Maven/Tycho build that we did not get before. Here is a snippet of the build output, with debug output enabled:

[code]

We already tried:
* Setting `baselineMode=disable`, but this did not help.
* Removing the `tycho-p2-plugin` configuration in our `pom.xml`. This got rid o

[2022-07-01 17:29] carstenartur commented on #1097
I just tried to setup eclipse for tycho development but just have ran into an error:
![image](https://user-images.githubusercontent.com/3164220/176941648-db677c4f-78e8-4745-b25e-49d3fe9530f3.png)
maybe there has been some github migration and it is not finished?
![image](https://user-images.githubusercontent.com/3164220/176941817-c7fbd4c1-062d-4192-a491-f0f031737484.png)
At least the oomph setup s

[2022-07-01 17:35] laeubi commented on #1097
@carstenartur you can setup an example project first, and import only the itest-project, you don't need a full IDE setup.

[2022-07-01 19:04] dhendriks commented on #1100
Eclipse 2021-06 has Maven 3.8.1 and 2022-06 has 3.8.4. Maven 3.8.2 includes https://issues.apache.org/jira/browse/MNG-5868 / https://github.com/apache/maven/commit/66a43813770cd7dee9eb1ed0372e3f784ba0c541. Is Tycho not compatible with Maven 3.8.2+?

[2022-07-01 22:19] sebthom opened #1103 "tycho-compiler-plugin validate-classpath fails if two plugin dependencies depend on different versions of gson themselves"
I am developing an eclipse plugin that has dependencies to Eclipse TM4E and Eclipse LSP4E. TM4E released a new version some days ago which now requires gson 2.9.0 instead of 2.8.9 as before. My tycho builds which worked fine for the last year now fail with:

[code]

Apparently LSP4E depends on LSP4J which basically pinned it's gson dependency version to 2.8.9.
Since OSGI supports plugins depending

[2022-07-01 22:19] sebthom commented on #1103
@martinlippert This issue might be interesting for you too.

[2022-07-02 07:22] carstenartur commented on #1097
Tbh currently I think it would be more useful in this concrete case to find out how I can run the tests in the jdt.ui pull request without tycho. So the question is how I can mix - everything else running through tycho and some new tests using surefire directly. It looks like this is much faster.
But I will try something to extract the issue into a sample project as soon as I find some time.
Thank

[2022-07-02 07:45] laeubi commented on #1097
No one forces you to run them with Tycho :-)

Simply use `eclipse-plugin` as packaging and configure maven-surefire as you like.

[2022-07-02 11:58] Bananeweizen commented on #1097
Might this be just a naming problem? Your Suite name does not match any of the default include patterns: https://www.eclipse.org/tycho/sitedocs/tycho-surefire-plugin/test-mojo.html#includes

[2022-07-02 12:17] carstenartur commented on #1097
You mean the explicit <include> directive does not help?
Hm, something to test. It looks like in the documentation you mentioned the construct used in jdt.ui is not described

[2022-07-02 12:24] Bananeweizen commented on #1100
Any chance you build source features? https://www.eclipse.org/lists/tycho-user/msg03572.html
According to your log, you call the p2-metadata goal twice per bundle, once via its default lifecycle phase binding, once explicitly. You probably want to disable one of the 2 invocations.

[2022-07-02 12:30] Bananeweizen commented on #1097
The include configuration takes Java source names, not class file names. But besides that I really recommend naming suites no different than other tests. I've run into the issue of non-execution because of not being named FooTest or TestFoo way too often in multiple tools already.

[2022-07-03 06:10] #945 closed

[2022-07-03 10:41] carstenartur commented on #1097
Here you see some documentation that claims default pattern is using ".class" ending.
I guess what is needed is an option to make the search patterns applied visible in the log.
It is just too intransparent what is going on otherwise.
https://www.eclipse.org/tycho/sitedocs/tycho-surefire-plugin/plugin-info.html
However, it could easily be that I'm completely wrong. I did not check the sourcecode.

[2022-07-03 12:11] dhendriks commented on #1100
This solves the issue. Thanks!

[2022-07-03 12:11] #1100 closed

[2022-07-06 07:12] LorenzoBettini opened #1112 "Release notes for 2.7.4"
Hi

Tycho 2.7.4 was released a few days ago, but I don't see anything about this release in the release notes.

[2022-07-06 07:16] laeubi commented on #1112
The releases release notes are here: https://github.com/eclipse/tycho/blob/tycho-2.7.4/RELEASE_NOTES.md#274 and will be integrated soon in the master branch as well: https://github.com/eclipse/tycho/pull/1109

[2022-07-06 07:49] laeubi commented on #983
This is a blocker for Tycho: https://github.com/eclipse-jdt/eclipse.jdt.core/issues/183

[2022-07-06 10:11] #1112 closed, assigned to nobody

[2022-07-08 17:47] sebthom commented on #1103
@mickaelistria any thoughts on this?

[2022-07-08 17:55] laeubi commented on #1103
I can only suggest to not "require-bundle" your dependencies, this normally relaxes the choices for the resolver a lot.

Nerveless I wonder if it is really required to have such a narrow version range here.

[2022-07-08 18:02] laeubi commented on #1103
By the way I think the problem here is that P2 only choose *one* of the gsons (and not two) so either of those is missing. SO if you install this into eclipse, and install them separately, both bundles will be installed and there is no problem, but here one tries to install all at once and that fails.

[2022-07-08 18:15] sebthom commented on #1103
Both update sites declared in the target definitions provide the required gson versions:
TM4E: https://download.eclipse.org/tm4e/releases/latest/plugins/com.google.gson_2.9.0.jar
LSP4E: https://download.eclipse.org/lsp4e/releases/latest/plugins/com.google.gson_2.8.9.v20220111-1409.jar
Is there a way to see why the 2.8.9 version is not found by P2?

[2022-07-08 20:31] mickaelistria commented on #1103
You may try to just add a requirement to com.google.gson 2.9.0 in your bundle pom. This may force inclusion of this newer version and let the compiler find it.

[2022-07-08 20:36] sebthom commented on #1103
My bundle does not require gson at all, only depends on LSP4E and TM4E. Anyways, I tried your suggestion to add a requirement for gson 2.90 to my bundle and also tried to set a requirement for gson 2.8.9. Makes no difference, the build fails with the same error complaining LSP4E->LSP4J->GSON 2.8.9 unresolved requirement.

[2022-07-09 04:12] laeubi commented on #1103
I don't say it is not found by P2 but P2 might only choose one of booth. Still the question remains why lsp4x has such a narrow version requirement to gson that makes it incompatible with even minor version changes.

[2022-07-09 09:32] mickaelistria commented on #1103
p2 is not to blame here. p2 does include both version of gson in the target-platform resolution for this bundle. Both `mvn dependency:list` and a breakpoint in `OsgiBundleProject.resolveClassPath` looking into `dependencyArtifacts` show that they are available.
The issue happens really in OSGi resolution; as the issue doesn't exist in usual IDE, I suspect there can be a bug in how the OSGi depende

[2022-07-09 10:01] laeubi commented on #1103
If it is really the case that one required `com.google.gson; version="[2.8.9,2.9.0)"` and the other require `com.google.gson; version="[2.9.0,3.0.0)"` then this is just not resolvable.... so I suspect that either the problem description is incomplete or in the IDE other providers are choosen.
What about not using require-bundle but import packages, as these allow more freedom to the resolver...

[2022-07-09 10:12] laeubi commented on #1103
By the way this might be a rare case where uses clauses be relevant so `-Dtycho.equinox.resolver.uses=true` could be tried, but be aware that this increases resolvetime considerable and might fail in some cases as P2 do not understand use-contraints.

[2022-07-09 10:53] sebthom commented on #1103
My understanding of how dependency resolution works in OSGI etc. is very limited. Are you saying that when one bundle depends on two other bundles (TM4E,LSP4E) which themselves have transitive dependencies to mutually exclusive version ranges of the same bundle (gson) than this is an unresolvable situation? My understanding was the whole idea of OSGI's usage of isolated classloaders was that bundl

[2022-07-09 11:11] laeubi commented on #1103
Emphasis by me, OSGi needs to build a consistent classspace for each bundle, so **different** bundles can depend on **different** versions, but one bundle can't depend on multiple versions at the same time, with require-bundle you essentially force one class-space as the intersection of all dependencies. So if the version ranges are really that narrow, you ask for a class-space for your bundle tha

[2022-07-09 11:39] sebthom commented on #1103
@laeubi thanks for the explanation! So I now tried to replace `Require-Bundle` with `Import-Package`, but unfortunately the build still fails:

Old:
[code]
New:
[code]

Error:
[code]

For comparison here are the reproducers:
[test-import-package.zip](https://github.com/eclipse/tycho/files/9076404/test-import-package.zip)
[test-require-bundle.zip](https://github.com/eclipse/tycho/files/9076405/test

[2022-07-09 11:46] laeubi commented on #1103
Has you checked that both are included in the created resolver state?

[2022-07-09 13:00] mickaelistria commented on #1103
It's not the case here. AFAIK, TM4E doesn't re-export the GSon 2.9.0 packages, so the dependency is non-transitive and it should be legal for a bundle that consumes TM4E to Import-Package totally independently of what TM4E is using.

Yes. They are both included in the state.

[2022-07-09 17:55] laeubi commented on #1103
It depends, this is only valid if TM4E uses GSon completely internally and do not export any of its API e.g as a return value or parameter or annotations I haven't checked yet TM4Es code if that might be the case somewhere.

The import-package example runs successful for me using:

`mvn clean install -Dtycho.equinox.resolver.uses=true`

[2022-07-10 06:03] laeubi commented on #1073
Duplicate of #1072

[2022-07-10 06:03] #1073 closed

[2022-07-10 06:23] laeubi opened #1119 "remove org.eclipse.tycho.packaging.ProductAssembler"
org.eclipse.tycho.packaging.ProductAssembler seem to be not used anymore, maybe as part of the removal of old packaging types,

[2022-07-10 06:41] laeubi commented on #926
@HannesWell @merks I'm currently investigating on this, can anyone provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) or example to demonstrate the issue in a smaller context?

[2022-07-10 07:00] merks commented on #926
Does Tycho have an existing test for how generating a source feature with tycho-source-feature-plugin's source-feature goal works?  It could be extended to add an additional bundle which is imported instead of included.  Or the test could be copied and modified to use import instead of include.

[2022-07-10 09:04] laeubi commented on #926
@merks We have
https://github.com/eclipse/tycho/tree/master/tycho-its/projects/automaticSourceGeneration
https://github.com/eclipse/tycho/blob/master/tycho-its/src/test/java/org/eclipse/tycho/test/sourceBundle/AutoGenerateSourceArtifactsTest.java

I think what @HannesWell has in wind is that the source must not be mentioned in any feature at all to be included in the update site, that would also c

[2022-07-10 11:16] HannesWell commented on #926
Exactly.
Basically it is about a switch to simply include the sources for every bundle and every feature that is included into the p2-repo, regardless of if that source artifact is included explicitly (either by including it into a feature or by mentioning it explicitly in the category.xml).

It should not depend on how a bundle/feature is included into the repo (mentioned explicitly or included t

[2022-07-10 11:37] HannesWell commented on #39
Isn't https://github.com/eclipse/tycho/issues/926 effectively a duplicate of this issue?
At least I think that the solution you proposed with https://github.com/eclipse/tycho/pull/1120 adds the option you mentioned above?

[2022-07-10 11:44] merks commented on #926
Note that this is what I see now which is driving the generation/inclusion of sources:

![image](https://user-images.githubusercontent.com/208716/178143352-1574ad9a-af7d-4726-8061-57be76e7daed.png)

[2022-07-10 11:54] HannesWell commented on #926
Exactly, this is because at the moment we have `includeAllDependencies=true` and `includeAllSources=false` for the Eclipse-Platform repo. But if we switch to `includeAllSources=true` that should not be necessary anymore.

I have described it more lengthy in https://github.com/eclipse/tycho/pull/1120#issuecomment-1179711047 how I think/expect this option to work. Basically for each bundle/feature i

[2022-07-10 12:40] laeubi commented on #39
This is more like the bundle/feature source generated for a category.xml, so sources will be visible while the other ticket the source will be included but not visible in the update-site.

[2022-07-10 12:48] merks commented on #926
That would address the issue of what's in the p2 repository, which is great.  I wonder though, by which mechanism is a source bundle installed and available in the Eclipse SDK itself?  I expect that happens only by virtue of inclusion in a feature that is transitively included in the product.  But that's an assumption...

[2022-07-10 12:58] laeubi commented on #926
Maybe we are talking about different things, but why should I install the source itself? Or do you mean if I include the SDK in the target platform? Then PDE automatically search in the target for source bundles.

[2022-07-10 13:19] merks commented on #926
I did already explain that yesterday:

https://github.com/eclipse-equinox/p2/pull/107#issuecomment-1179660741

The sources are in the SDK currently:

![image](https://user-images.githubusercontent.com/208716/178146490-99082e8a-fde5-4c09-b1b2-592221d62db5.png)

This is not a accident.  It's because, as I mentioned yesterday and previously, people commonly use the running IDE as the target platform.

[2022-07-10 13:53] laeubi commented on #926
Is the SDK build by Tycho or by Oompf or ...?

[2022-07-10 17:05] merks commented on #926
I showed you a picture of the features that define the Eclipse SDK and specifically how they include source features.  Wouldn't you expect that **anything** building something so defined, e.g., an Export Product action from within the IDE, would contain bundle sources given that's exactly what the definition specifies?

Then I showed a picture of the Eclipse project's Eclipse SDK download, which c

[2022-07-10 19:58] mickaelistria commented on #39
I like the general idea a lot, but I don't think it should be a plugin, but instead an `includeSources` flag on assemble-repository.

[2022-07-10 20:00] mickaelistria commented on #39
I just noticed https://github.com/eclipse/tycho/pull/1120 , which seems to cover this story better than initially described,

[2022-07-11 05:45] laeubi commented on #39
I think it could be more a Mojo in the exiting tycho-source plugin.

As described above, https://github.com/eclipse/tycho/pull/1120 is about the assemble-repository including the sources in the repository so they are, for example available for target platform resolution, while this is to enhance an update-site so one could install the source feature.

[2022-07-11 11:06] mickaelistria opened #1124 "Cycle now detected in SDK build"
The eclipse.platform.releng.aggregator build is now failing with
[code]
I think it's a consequence of recent changes in the lifecycle.
The error seems actually correct. So we should first investigate whether this can be solved on Platform side.

[2022-07-11 11:07] mickaelistria commented on #1124
See https://ci.eclipse.org/platform/job/eclipse.platform.releng.aggregator/job/PR-390/2/ for a full build showing the error.

[2022-07-11 11:14] laeubi commented on #1124
Yes, if you think this is wrong, it would be great to have a minimal example to investigate on this, while development I saw similar problems with the existing integration-tests when fragments involved, but I think the itest only cover one fragment and one host, so maybe we have here a case with multiple fragments but different hosts?

Can the aggregator job be run locally as well? It seem requiri

[2022-07-11 11:28] laeubi commented on #1124
Just from the code, I think this might be because `org.eclipse.e4:org.eclipse.e4.ui.workbench.renderers.swt.cocoa` has

`Fragment-Host: org.eclipse.e4.ui.workbench.renderers.swt;bundle-version="[0.10.0,1.0.0)"`

and in the p2 inf additionally requires swt cocoa

[code]

but that is just a guess here.

[2022-07-11 11:36] mickaelistria commented on #1124
You can run the aggregator locally with a plain `mvn clean verify` against `eclipse.platform.releng.aggregator` but it requires to fetch all submodules. I believe we can reduce the case to a particular set of modules. I'll report if I find a reduced case.

[2022-07-11 11:38] laeubi commented on #1124
Alright, I think the issue really is that `org.eclipse.e4:org.eclipse.e4.ui.workbench.renderers.swt.cocoa` explicitly pulls in `org.eclipse.swt.cocoa.macosx.x86_64` (not sure for what this is good for as SWT itself should pull the fragment already).

[2022-07-11 11:58] mickaelistria commented on #1124
Another, maybe simpler, example is visible at https://ci.eclipse.org/platform/job/eclipse.platform.ui/job/master/97/console . It can be reproduced locally with `mvn clean verify -Pbuild-individual-bundles` on eclipse.platform.ui Git repo.

[2022-07-11 11:59] mickaelistria commented on #1124
Note that the error on https://ci.eclipse.org/platform/job/eclipse.platform.ui/job/master/97/console is actually more surprising and unexpected and looks like a bug at 1st glance. I didn't (yet?) find a reason why org.eclipse.e4.ui.css.swt would depend on org.eclipse.ui.monitoring.

[2022-07-11 12:08] mickaelistria commented on #1124
So the error is

11:54:09.885 [ERROR] The projects in the reactor contain a cyclic reference: Edge between 'Vertex{label='org.eclipse.ui:org.eclipse.ui.monitoring.tests:1.2.0-SNAPSHOT'}' and 'Vertex{label='eclipse.platform.ui:org.eclipse.e4.ui.css.swt:0.14.600-SNAPSHOT'}' introduces to cycle in the graph eclipse.platform.ui:org.eclipse.e4.ui.css.swt:0.14.600-SNAPSHOT --> org.eclipse.ui:org.eclipse

[2022-07-11 12:17] cdietrich commented on #1124
<img width="525" alt="Bildschirmfoto 2022-07-11 um 14 15 28" src="https://user-images.githubusercontent.com/238736/178262059-6222625b-09df-41c8-9b00-96e5d015cfb5.png">
this one also looks bogus.
would have expected this one to be used: https://github.com/eclipse/xtext-lib/blob/1ceac635a8f491ae62a17e5a6f17d400d54438be/org.eclipse.xtext.dev-bom/build.gradle#L64

[2022-07-11 12:26] mickaelistria commented on #1124
This error doesn't happen if the case is reduced to the only 2 involved modules. `mvn -U clean verify -Pbuild-individual-bundles -pl bundles/org.eclipse.e4.ui.css.swt,tests/org.eclipse.ui.monitoring.tests/` is successful.

[2022-07-11 12:26] laeubi commented on #1124
The tricky part is that if you just look at one bundle you will get a much more limited set of items (e.g. here you see everything is resolved to system or maven deps) while when you look at the reactor there is the situation that some are resolved to reactor projects witch can reference others as well.

The tricky part is, that e.g. a fragment must depend on its host, but if you require the host

[2022-07-11 13:42] laeubi commented on #1124
@cdietrich can you explain a bit more what is expected vs actual? I don't really get from the image what is undesired, as 3.8.0 is older than 3.10 and tycho always resolves to the highest version.

[2022-07-11 15:37] laeubi commented on #1124
I have not analyzed that in detail, but my current guess is that the Slicer is even to eager here and we would need something that I have planned  for supporting a nice dependency-tree, that is only collect the *direct* requirements of a project... as the transitives are accounted by maven already, and when we compute the target platform for the project.

[2022-07-11 15:48] mickaelistria commented on #1124
That would be a very good enhancement, but I don't think we need it here. I believe there is first a bug somewhere (in Tycho or Platform) as there really should be no reason for this dependency to be added, even with all the greediness we can think of.

[2022-07-11 15:54] laeubi commented on #1124
monitoring.tests pull in a lot of stuff, and is a fragment, so if it get into to greedy it transitively might pull in things that lead to a cycle and maven only complains about the shortest-path, so currently I think ui.monitoring is actually referenced somewhere (transitivly) and then everything explodes ... but still this is a bug of tycho then I think, it would just be good to find a reproducer

[2022-07-12 04:10] cdietrich commented on #1124
problem shows up in Xtext too
https://ci.eclipse.org/xtext/job/xtext-eclipse/job/cd_testTycho30/179/console

[2022-07-12 04:21] cdietrich opened #1127 "Tycho seems no longer to be able to resolve dependencies from same reactor"
https://ci.eclipse.org/mwe/job/mwe2/job/cd_tycho30/155/console

started to fail today

https://ci.eclipse.org/mwe/job/mwe2/job/cd_tycho30/155/console
[code]

but this is part of the reactor

side effect of https://github.com/eclipse/tycho/commit/c2757f6d35c4e5fb76d63c2ce71153702316af5c ?

can it also be this causes
https://github.com/itemis/xtext-reference-projects/runs/7295160649?check_suite_focu

[2022-07-12 04:56] laeubi commented on #1127
@cdietrich can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? That would help us detect such problems earlier.

[2022-07-12 04:57] cdietrich commented on #1127
it may take 1-2-3 weeks until i find the time.

[2022-07-12 05:01] laeubi commented on #1127
No problem, enhancing the test-suite is always welcome :+1:

[2022-07-12 05:03] cdietrich commented on #1127
@laeubi having an indication where to problem is would help to write a test.
this way i will need a lot of time doing intervalls and removals

[2022-07-12 05:11] laeubi commented on #1127
Its hard to tell, because it seems it is not a direct tycho failure, the only thing I can see is:

so maybe another component tries to resolve artifacts here but is not aware of the packaging types? or is mwe2.lib not a tycho project?

[2022-07-12 05:14] cdietrich commented on #1127
it is a tycho project?
https://github.com/eclipse/mwe/blob/aefda50f7b78a2a84db6642cfa6fb1e051cd42bb/plugins/org.eclipse.emf.mwe2.lib/pom.xml#L11
maybe the javadoc? maybe maven-gpg-plugin?

[2022-07-12 05:21] cdietrich commented on #1127
to reproduce the addjars mojo:

[code]

[2022-07-12 05:24] laeubi commented on #1127
At laest something not covered by any integration test yet :-)

[2022-07-12 05:24] cdietrich commented on #1127
the mwe i cannot reproduce locally cause i cannot sign and deploy locally.
so i also have no idea how to write an integ test for that

[2022-07-12 05:27] cdietrich commented on #1127
ok, mwe fails locally too, but much later

[code]

[2022-07-12 06:22] iloveeclipse commented on #1124
4.25 SDK nightly is now also failed: https://ci.eclipse.org/releng/job/I-build-4.25/79/console

[2022-07-12 07:54] sravanlakkimsetti opened #1129 "Tycho `tycho-surefire-plugin:3.0.0-SNAPSHOT:test` is unable to resolve dependencies from the same reactor"
https://ci.eclipse.org/jdt/job/eclipse.jdt.core-Github/job/PR-206/2/console stated failing today with

[code]

When we used tycho version 2.7.3 the build passed the failure point https://ci.eclipse.org/jdt/job/eclipse.jdt.core-Github/job/PR-206/5/console

I think recent changes to tycho might be causing this problem

Notifications: @jarthana

[2022-07-12 08:15] mickaelistria commented on #1124
I'm debugging `MavenProjectDependencyProcessor.computeProjectDependencies` and the slicer behaves as expected. What's to blame about the eclipse.platform.ui failure involving a very unrelated fragment are the following lines
[code]
I fail at understanding what's the goal of this code, it doesn't seem to check whether the fragment is even related to dependency resolution.
FWIW, fragments are not to

[2022-07-12 08:19] laeubi commented on #1124
@mickaelistria see comment here https://github.com/eclipse/tycho/pull/1128#issuecomment-1181446031 fragments *are* important for build-order (most prominent example is SWT) as they can contribute additional classes to the host.

[2022-07-12 08:26] mickaelistria commented on #1124
Current dependency graph is wrong because of this. Fragments do depend on their host, not the other way round. It's how p2 works, it's how Equinox works. SWT is a strange case here and that's why is has the ExtensibleAPI flag. Only for this strange case, fragments may be treated as dependencies of their host and not the other way round. But it's 1 corner case, here the general case is broken.

[2022-07-12 08:28] laeubi commented on #1124
Yes and that's how it currently is implemented. The problem is that if a third party (test-fragment in this case) depends on other stuff (as in contrast a swt fragment do not depend on anything than SWT)...

[2022-07-12 08:36] laeubi commented on #1124
Fragments of the host are removed, fragments of a **dependency** are added because that something that has to "happen before", but is something not good to be expressed in a maven-model.

[2022-07-12 08:40] laeubi commented on #1124
Nerveless I'm currently working on this and we have a test-case now for the "not-swt-case" so I think we will have a solution soon that satisfies both cases.

[2022-07-12 08:43] mickaelistria commented on #1124
It's not what happens for eclipse.platform.ui. org.eclipse.ui.monitoring is not a dependency of org.eclipse.e4.ui.css.swt. The code I pasted above doesn't seems to make a difference between whether the host is in the dependency set of not, and later rules to remove fragments do not apply.
I suggest you run `mvnDebug verify -DskipTests` on eclipse.platform.ui and see by yourself what's going on. Fr

[2022-07-12 08:48] laeubi commented on #1124
The above code computes the dependencies of one unit (the fragment) against all resolved project dependencies (the  collectionResult) and then checks if at least more than one (the unit itself) is a result, and thus something satisfies what this fragment requires and thus is a perquisite.

As mentioned before, this might be too much and as it includes transitive items as well, but omitting them is

[2022-07-12 09:14] mickaelistria commented on #1124
Any ETA when you think it can be fixed?

[2022-07-12 11:07] laeubi commented on #1124
I have now made some tests and at least for the P2-Solver the `Eclipse-ExtensibleAPI` is not anything that is considered (and I can't even find anything in the P2 meta-data), so for the `DependencyComputerTest.testFragments` test the result is always the same that jface bundle has a dependency to `swt`+`swt.gtk`...

[2022-07-12 11:39] mickaelistria commented on #1124
p2 entirely ignores Eclipse-ExtensibleAPI, p2 does not add fragments when adding a bundle. Fragments are usually added because they're required by a feature.

[2022-07-12 11:49] laeubi commented on #1124
The P2 Planner does it, see `DependencyComputerTest.testFragments` where JFace gets a requirement on swt and the swt fragment. P2 maybe do not do it when it _installs_ a bundle, but at the moment I get the feeling if the solver finds it can include the fragment it does, when it would introduce a cycle it "breaks" the cycle by excluding the fragment.

[2022-07-12 12:25] laeubi commented on #1124
The test do not use a P2 inf, it works with or without an p2.inf

I talk about install time

You can't really "compile" the code, but it calls all the code that is used to resolve and inject dependencies and I can see that it injects the swt-fragments into the jface bundle.

OSGI resolution is performed much later in the VerifyClassPath Mojo.

[2022-07-12 12:33] mickaelistria commented on #1124
Not so different. p2 director == p2 planner. p2 does not greedily adds fragments unless there is something that instructs it to do so.

With 2.7.3, I didn't see that: a `mvn dependency:tree verify -Dtycho-version=2.7.3` does not show the fragment in the dependencies of the jface bundle, and the compilation fails because .class file that do originate from that fragment are not accessible.

[2022-07-12 12:39] laeubi commented on #1124
The difference is that Tycho do not use the p2 director, but uses the Projector see `org.eclipse.tycho.p2.util.resolution.ProjectorResolutionStrategy.resolve(Map<String, String>, IProgressMonitor)`

[2022-07-12 12:52] laeubi commented on #1124
The testcase only executes `mvn validate -Dtycho-version=....` as far as I can see and this works, and the topologically sorted projects return it in the desired order and that order is affected by the Tycho code so I have no clue why it does not compile, nerveless it asserts that specific order. SO if you think the Test is actually wrong, we should remove it.

[2022-07-12 12:57] mickaelistria commented on #1124
I think the test is correct and test what it's expected to test correctly. But I think your interpretation of the test and what it implies for p2 and related expectations regarding fragment additions is wrong.

[2022-07-12 12:57] laeubi commented on #1124
But you are right running it from the command and running it from the tests yields different results, that's undesirable :-(

[2022-07-12 12:59] mickaelistria commented on #1124
This is a unit test, it's meant to give input to the (OSGi) DependencyResolver, it's not meant to be used or run by CLI.

[2022-07-12 14:23] cdietrich commented on #1127
i have minimized the mwe build to a minimal reproducer
it can be found here
https://github.com/cdietrich/tycho1127_mwe_issue/blob/main/build.sh

[2022-07-12 16:07] mickaelistria opened #1133 "Maven Target Location adds undesired artifact"
This change https://github.com/eclipse-platform/eclipse.platform.releng.aggregator/pull/392 had a strange effect that it forces addition of org.apiguardian.api 1.1.0 and fails because this artifact has no OSGi-friendly MANIFEST.MF. However the .target already contains a reference to newer org.apiguardian artifact and the org.apiguardian requirement for commons-io seem to be transitive from the `te

[2022-07-12 16:18] laeubi commented on #1133
The location seem to be configured to error on a missing manifest so I'm not sure what is the expectation?

Each location is resolved independently.

Can you maybe create an example target that shows the wrong behavior?

[2022-07-12 16:21] mickaelistria commented on #1133
The expectation would be that apiguardian, which is a transtive dependency of a test dependency wouldn't even be considered here.

I locally tried to add apiguardian 1.1.2 (OSGi-compliant) to this location and got the same result.

I'll try later. I believe just having commons-io:2.11.0 in the target is enough to get apiguardian erroneously attempted to be resolved.

[2022-07-12 16:29] laeubi commented on #1133
There might be a bug in Tycho not filtering correctly, maybe we can add a test to `org.eclipse.tycho.test.target.TargetPlatformLocationsTest`

[2022-07-12 17:35] laeubi commented on #1124
As the `DependecyComputerTest` is now fixed, we have one more `org.eclipse.tycho.core.test.TychoTest.testFragment()` that makes assumptions about build order because of fragments. What should be noted is, that this test uses the StubP2 resolver here and most probably do not reflect what actually happens in Tycho, so should we disable the test for now if we say that fragments should not be part of

[2022-07-13 05:49] laeubi opened #1135 "Clarify usage of different JDT/Equinox"
We have this section that talks about updating Equinox and JDT:

https://github.com/eclipse/tycho/blob/master/CONTRIBUTING.md#updating-the-equinox-and-jdt-dependencies-of-tycho

I think what is missing, **how** do one actually uses a different version (e.g. need this a rebuild of Tycho or just pom.xml changes?), and will it only work with stuff from central but also with a local build of JDT? @aku

[2022-07-13 05:57] laeubi commented on #1129
@sravanlakkimsetti thanks for your report, can you tell if `org.eclipse.jdt.core.tests.compiler` is doing something "special", e.g does it depend on additional requirements in the pom, build properties or something else not expressed in the manifest? Is there anything special with `org.eclipse.jdt.annotation` or is it a regular bundle build by Tycho in the same reactor?

[2022-07-13 06:10] sravanlakkimsetti commented on #1129
There are 2 `org.eclipse.jdt.annotation` bundles one with 1.x version and another with 2.x version. Both gets built in the same reactor. 1.x is used only for java 7 and below, so resolving with 2.x is good enough here.

`org.eclipse.jdt.core.tests.compiler` does not have any additional requirements. But `org.eclipse.jdt.annotation` is somewhat special with two bundles with different versions getti

[2022-07-13 06:14] laeubi commented on #1129
@sravanlakkimsetti do you think you can derive an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test)/example project to demonstrate the issue? With current tycho3.x you need to pass `-Dtycho.resolver.classic=false` to enable the new resolver that has shown this initially in jdt.

[2022-07-13 06:28] laeubi opened #1136 "Change the default value for requireJREPackageImports"
I just noticed here:

https://www.eclipse.org/tycho/sitedocs/tycho-compiler-plugin/compile-mojo.html#requireJREPackageImports

that the default for `requireJREPackageImports` is `false`. With modular VMs any "default jre packages" become meaningless and I think we should change this to `true` to give better guidance to the user (even if PDE still do not have good support for this).

[2022-07-13 06:54] mickaelistria commented on #1136
What does it mean exactly? If forcing usage of JRE packages at build-time make the dev-time less usable (more issues to tackle in PDE), then Tycho shouldn't do it as it overall wouldn't serve users.

[2022-07-13 07:07] laeubi commented on #1136
I can't find the PDE bug, but PDE currently assumes that `javax.*` (and probably some other packages) are "auto imported" by an Equinox specific feature called [osgi.compatibility.bootdelegation](https://wiki.eclipse.org/Equinox_Boot_Delegation#The_solution). This leads to hard to track and cryptic errors when using JVM >= 9 because you don't get the usual error/warnings about missing imports, the

[2022-07-13 07:16] mickaelistria commented on #1136
We do want to provide that kind of compatibility to users because we don't want to make their work harder.
Before switching it, we should try it on a few projects of choice (including Platform) to get a sense of what it would imply to users. If it brings tons of unexpected and not so useful new errors that are hard to troubleshoot, then it's probably not worth it. If it requires a couple of adjust

[2022-07-13 08:14] #45 closed

[2022-07-13 08:14] #54 closed

[2022-07-13 12:57] #1124 closed

[2022-07-13 12:57] #1127 closed

[2022-07-13 14:16] laeubi opened #1138 "Get rid of maven-compat"
We have a lots of `maven-compat` references and this is APi that will be gone with maven 4 so we should start migration see https://github.com/apache/maven/pull/765

[2022-07-13 15:06] laeubi commented on #1138
It seems I was too optimistic. Now the test execution failed, I tried to make maven-core test-scoped but then compilation failed ???

[2022-07-13 15:12] akurtakov commented on #1138
Yeah, I've been removing maven-compat bit by bit for the last few years. It's never that simple :). I could only recommend doing it in smaller chunks so you can have some progress at least.

[2022-07-13 16:09] laeubi opened #1140 "dependency:tree should output a real tree"
Currently `dependency:tree` only list a almost flat tree as all transitive dependencies are currently added by Tycho.

Instead, only direct dependencies should be added as well as proper model must be generated for p2-dependecies.

[2022-07-13 16:40] laeubi commented on #1135
I tried this now with a custom compiled jdt compiler but it seems it is not picked up :-\
I added just a system out installed the jar in local maven repo but nothing shows up....

I think most people don't know:

1. How to properly install a custom version
2. What dependecy for what plugin must be overridden
3. How to verify that the custom jdt is actually used

[2022-07-14 06:35] laeubi commented on #1129
Could it be a problem with PR/Baseline replace? We also see this problem without the new resolver...

[2022-07-14 11:53] iloveeclipse commented on #1129
Could we please have a hot fix or revert to original Tycho state? JDT PR's can't be confirmed anymore.
Ir to which Tycho version one could refer in JDT to get builds running again?

[2022-07-14 12:01] laeubi commented on #1129
2.7.3 should work according to @sravanlakkimsetti it would be good to know if 2.74 also works. Beside this, there seems no such integration test for tycho currently, so if one could derive a smaller example we can use as a reproducer it would help to fix and prevent such breakage in the future.

[2022-07-14 12:05] sravanlakkimsetti commented on #1129
I tested with 2.7.3 and it works. I added `-Dtycho.version=2.7.3` to the maven command in jenkinsfile. That worked for me.

[2022-07-14 12:06] cdietrich commented on #1127
@laeubi the
[ERROR] Exception parsing OSGi MANIFEST /Users/cdietrich/git/xtext-reference-projects/domainmodel/2.28.0/org.eclipse.xtext.example.domainmodel.ide/target/com.googlecode.addjars.mojo.AddJarsMojo/META-INF/MANIFEST.MF: Manifest file not found
problem is still there

[2022-07-14 12:06] iloveeclipse commented on #1129
@sravanlakkimsetti : would you push that to jdt please?

[2022-07-14 12:09] laeubi commented on #1127
Can you enable -X and post full stacktrace here? do the manifest file exits (or more: should it exits?)

[2022-07-14 12:12] sravanlakkimsetti commented on #1129
https://github.com/eclipse-jdt/eclipse.jdt.core/pull/219

[2022-07-14 12:14] cdietrich commented on #1127
no the problem is that the com.googlecode.addjars.mojo.AddJarsMojo copies the pom to target/com.googlecode.addjars.mojo.AddJarsMojo/ and then tyycho seems to read that pom and wants to search for a manifest

[2022-07-14 12:17] laeubi commented on #1127
As always can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? So the mojo generates a pom on the fly for...?

[2022-07-14 12:23] cdietrich commented on #1127
is it legit to use 3rd party plugins in integ tests?
no it looks like it copys the original pom 1:1

[2022-07-14 12:28] laeubi commented on #1127
I don't think we limit anything here, but with the delayed resolution the following happens:

1. Tycho computes all project relations and start the build
2. Each plugin is build and as part of the init it resolves the target dependencies

So what could happen is, that some plugin has build, produced some output and the tycho thinks there is something to analyze... or something previously there is

[2022-07-14 12:31] cdietrich commented on #1127
@laeubi as said before you can find a reproducer here https://github.com/cdietrich/tycho1127_addjars_issue

[2022-07-14 12:35] laeubi commented on #1127
Tycho does not look at the pom at all, I suspect the Mojo modifies the maven model object (e.g. base-dir) and thats what tycho probably looking at.

[2022-07-14 13:38] sravanlakkimsetti commented on #1129
@laeubi I could not extract a test case for this one but based on testing here are my observations:

org.eclipse.jdt.core.tests.compiler has both versions of jdt.annotation in the Require-bundle as optional bundles. See https://github.com/eclipse-jdt/eclipse.jdt.core/blob/a9cbab31b93daf02def76b4ea63922df61820b74/org.eclipse.jdt.core.tests.compiler/META-INF/MANIFEST.MF#L24
To succeed I have to remo

[2022-07-14 14:04] stephan-herrmann commented on #1129
If you look at the history of that MANIFEST.MF, you'll see that over the years JDT has tried just about every possibly permutation of wide range vs. specific versions, optional vs. non-optional. Apparently, there is no canonical way how tycho can be convinced to resolve both versions, as each variant seems to have caused failure with one specific version of tycho.

Why we need both? Because the an

[2022-07-14 14:23] laeubi commented on #1129
So actually you don't want that at the test, but on the build path? Because including both (from OSGi perspective) do not make much sense here and I just don't understand yet how JDT actually access those in the tests? Are they loaded by the jar? Reflection? Classes parsed directly?

Is it deployed to maven? Then you can consume it from there ...

[2022-07-14 14:25] laeubi commented on #1129
By the way, maybe extra-requirements are more what you are looking for?

https://www.eclipse.org/tycho/sitedocs/target-platform-configuration/target-platform-configuration-mojo.html#dependency-resolution

[2022-07-14 14:31] stephan-herrmann commented on #1129
No, that's not what I meant. I just wanted to say that optional dependency to this bundle is a common pattern.

Why not? OSGi has no problems with different versions of the same thing.

[code]

i.e., we get the resolved bundle right from OSGi/equinox. From there it's file access as we put the bundle on the classpath of a test project.

[2022-07-14 14:33] stephan-herrmann commented on #1129
If you ask me, tycho should be happy that our tests challenge this legal situation. As long as OSGi can handle the thing (as proven by successful test executions in the IDE), I don't see reasons to try the umptieth variant of expressing these dependencies just to please tycho.

[2022-07-14 14:42] laeubi commented on #1129
From the Tycho side, I think this is caused because Tycho now refuses to add the same dependency in different version, I'll prepare a patch. Beside this, I think this would also be possible to solve by adding an explicit maven dependency to the both other projects in different versions, but this construct remains fragile:

1. On the maven side, one dependency will shade the other and its is a matt

[2022-07-14 14:49] stephan-herrmann commented on #1129
I'm not sure he meant that tests succeed, or whether just launching the tests worked.

Years of successfully running these tests are not a hint that something must have been working, prior to recent changes in tycho?

[2022-07-14 14:59] laeubi commented on #1129
Beside that, if that behavior is important to you (or JDT) the best thing is to provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the use-case, anything not covered by an integration test is just best effort given the current tycho-dev team size.

[2022-07-14 15:17] laeubi commented on #1129
Just some notes about the code:

[code]

1. PackageAdmin is **deprecated** you should simply iterate the Bundles via the `BundleContext.getBundles()` and select those matching the (OSGi)Version range you desire.
2. `File bundleFile = FileLocator.getBundleFileLocation(bundles[0]).get();` requires a file-system and is Eclipse/Equinox specific, you can use `org.osgi.framework.Bundle.getEntry(String)`

[2022-07-14 15:59] laeubi commented on #1129
Just one more hint to not raise false expectations:
The limitations of PDE are not the limitations of Tycho ... requiring a bundle optionally to let it included in the test-runtime is a workaround for such limitations and are better addressed at PDE directly.

[2022-07-14 16:02] stephan-herrmann commented on #1129
I know. Back then I asked the expert, Tom Watson, about alternatives to PackageAdmin, who replied that not all of its functionality is available by other means, but I shouldn't worry, as PackageAdmin is destined to stay, despite the deprecation.

It doesn't affect the current problem, though, does it?

[2022-07-14 16:05] stephan-herrmann commented on #1129
Thanks, for productive code this might be useful, but for tests that are not intended for any other context than Eclipse, being Eclipse specific doesn't look like a problem :)

[2022-07-14 16:12] stephan-herrmann commented on #1129
What limitations of PDE are you referring to? In the IDE I don't see any tooling specific problem.

Or are you saying PDE shouldn't *allow* the current setup in the first place?

And/or is it Equinox that admits things it shouldn't?

We need a solution that all three, PDE, Equinox and tycho understand. Until recently we had such solution, that's why fingers are pointing to the component that chang

[2022-07-14 16:45] mickaelistria commented on #1129
I think this can be interpreted as a severe regression. Too bad this wasn't covered by a test to detect it earlier. Are you planning to add one together with your patch? If not, I may be able to spend some time on it tonight or tomorrow.

[2022-07-14 17:08] laeubi commented on #1129
Sorry this "use-case" is completely alien, I have never seen, nor require this and the result is complete wrecked.

No this is not anything that ever should be used and is a complete misuses of require bundle to tell PDE it should include something that is completely unrelated to the bundle under test.

What you actually want is telling PDE that it should include additional stuff in the executed t

[2022-07-14 17:09] #1129 closed

[2022-07-14 17:18] mickaelistria commented on #1129
Well maybe it is, but it's still an important story that needs to be supported. But if https://github.com/eclipse/tycho/pull/1142 fixes it, then it's all good.

Could you contribute to JDT a better solution? If not, as it's indeed a tricky case that we don't want to break without better solution, I'll add an integration test to avoid breaking JDT again in the future.

[2022-07-14 17:19] laeubi commented on #1103
Close, as it works as intended here, please let us know if there are any issue left.

[2022-07-14 17:25] laeubi commented on #1129
You maybe over estimate the importance, this is nothing Tycho should really support, as it is completely wrecked. I even wonder that Maven do not complains about this case (maybe because we inject the dependencies after the model validation).

I'm a bit to busy at the moment with some real problems (e.g. ECJ compiler concurrency issue) so don't expect much here, basically https://github.com/eclips

[2022-07-14 17:33] stephan-herrmann commented on #1129
thanks

[2022-07-15 05:34] sravanlakkimsetti commented on #1129
Thanks @mickaelistria for the testcase

[2022-07-15 15:45] laeubi commented on #1140
Example `org.eclipse.m2e.jdt.ui$ mvn dependency:tree` shows:

[code]

[2022-07-15 15:48] laeubi commented on #1140
PDE shows this:

![grafik](https://user-images.githubusercontent.com/1331477/179259498-2e168104-0bf8-4809-822e-2279b3bd264c.png)

[2022-07-16 05:45] laeubi opened #1147 "Embedd P2 metadata into the resulting artifact"
Maven has the concept of embedding the pom in `META-INF/maven/groupId/artifactId/pom.(xml/properties)` this has the advantage, that one is able to recover the POM information from the archive without the need to contact a server and/or do any computations.

It would be useful to have something similar for p2 e.g.`META-INF/p2/p2artifacts.xml` and `p2content.xml` because not always all information c

[2022-07-16 05:53] laeubi commented on #1147
This is related to
- https://github.com/eclipse/tycho/issues/1140
- https://github.com/eclipse/tycho/issues/590

[2022-07-16 06:13] laeubi opened #1148 "Migrate to maven 3.9.x"
Maven 3.8.x will no longer receive any updates and we should therefore move on to maven 3.9.x

[2022-07-17 15:29] HannesWell opened #1149 "Filter target-environments not matching Eclipse-PlatformFilter"
In a build with multi-environment target-platform-configuration Plug-ins that specify a `Eclipse-PlatformFilter`, which does not match all specified environments, fail to resolve their dependencies by default and therefore use a project-specific configuration that only lists the matching target environment.

One example is the `org.eclipse.e4.ui.swt.win32` fragment, that has `Eclipse-PlatformFilte

[2022-07-17 16:03] laeubi commented on #1149
Well that's exactly what happening here... so I don't really understand what the issue is?

[2022-07-17 19:14] laeubi commented on #1136
@akurtakov as you are dedicated to enforcing modern java support, WDYT?

[2022-07-17 19:45] HannesWell commented on #1149
It is that one has to specify only matching environments in a project-specific pom.xml, for example like it is done in [org.eclipse.e4.ui.swt.win32/pom.xml](https://github.com/eclipse-platform/eclipse.platform.ui/blob/e8af3fef3cb9a80cfe2cb9ebbd07ad417915faba/bundles/org.eclipse.e4.ui.swt.win32/pom.xml#L41)

Otherwise there are compilation failures. But I have not yet investigated why exactly.
And

[2022-07-18 04:46] akurtakov commented on #1136
I think we can change the default value and clearly document how to flip it back for projects that can't handle these changes right now.
Platform would most probably do that as I don't see how the ~500 bundles will be handled in timely manner.
Even when it's not required we should spit warnings in bundles that disable it but use such imports so things can be cleaned up in chunks.

[2022-07-18 04:47] laeubi commented on #1149
This is not true in general as your log output shows, Tycho simply skip non matching environments if a Platform-Filter is given.

It might be that the plugin requires something special, I can see it enables this:

https://github.com/eclipse-platform/eclipse.platform.ui/blob/e8af3fef3cb9a80cfe2cb9ebbd07ad417915faba/bundles/org.eclipse.e4.ui.swt.win32/pom.xml#L38

but no idea if it makes a differenc

[2022-07-18 04:48] akurtakov commented on #1136
Thinking more about it - before flipping the default, the warnings should be implementd and visible for some period.

[2022-07-18 05:04] laeubi commented on #1136
As explained it might be that nothing has to be changed as already this do not work anymore, I'll try to run some build and see if it actually harm anything.

I'm not sure if that's possible to determine easily, maybe the compiler will complain, I think we could do it in the following steps:

1. change the default and see if any integration test fails, we can probably better decide then
2. build s

[2022-07-18 05:21] akurtakov commented on #1136
If building platform.releng.aggregator works without many extra changes I think nothing else will demand bigger changes.

[2022-07-19 06:28] cdietrich opened #1159 "3.0: new resolver and com.googlecode.addjars.mojo.AddJarsMojo dont like each other"
this is a spin off from #1127

[code]

steps to reproduce

[code]

integ test: https://github.com/eclipse/tycho/pull/1145

[2022-07-19 09:40] laeubi opened #1160 "Refactor sisu-equinox into more generic sisu-osgi modules"
As the name suggest `sisu-equinox` is dedicated to equinox, but in fact many of its API is not really specific to equinox, one might even argue that as launching and behavior of OSGi Frameworks is well defined it should be possible to completely abstract that Equinox is used.

I therefore like to suggest to rename `sisu-equinox` to `sisu-osgi` and as part of this move all generic api to one module

[2022-07-19 17:15] #1136 closed

[2022-07-19 17:26] laeubi opened #1163 "Support automatic retrival of JustJ for building with a given VM"
We have https://www.eclipse.org/justj/ that offers some pre-build java-packages and we already distribute it as part of the Eclipse-Packages.

What cam into my mind is, why not have something in Tycho that enables to automatically download a JustJ as an alternative for that cases where a suitable JVM is not available as either build or toolchains... this will completely remove the need to install

[2022-07-19 17:34] rcspirent opened #1164 "Tycho 2.4.0 Junit classpathcontainer requires Junit 4.13"
In Tycho 2.4.0 special handling for Junit classpath containers was added.
When using this feature some implicit requirement for Junit 4.13 seems to be added.

`[ERROR] Cannot resolve project dependencies:
[ERROR]   You requested to install 'org.eclipse.equinox.p2.iu; org.junit [4.13.0,5.0.0)' but it could not be found`

Reproducable with the following mavvn invocation `mvn package -Dtarget-platfor

[2022-07-19 18:22] laeubi opened #1165 "Adjust the JUnit Classpath Container"
With commit https://github.com/eclipse-jdt/eclipse.jdt.ui/commit/dc19a3bca7474410f9bb86adbb8b262eaa30d77b JDT changed how the JUnit container behaves. We need to adjust this for Tycho, at best in a way that is backward compatible to older releases.

[2022-07-19 18:35] #1160 closed

[2022-07-20 09:22] mickaelistria commented on #1133
https://github.com/eclipse/tycho/pull/1171 is an ITest that reproduces this issue.
More info about this example case
[code]
and
[code]

[2022-07-20 11:59] laeubi commented on #1164
Yes I think that would be okay, do you like to propose a PR?

[2022-07-21 05:34] laeubi commented on #1159
@cdietrich the problem is [here](https://github.com/kahing/addjars-maven-plugin/blob/df8464b532463036d6358935810360bac7c562ce/src/main/java/com/googlecode/addjars/mojo/AddJarsMojo.java#L122):
where the `AddJarsMojo` set the pom file to be in the target directory what in turn adjusts the base-dir.

For this specific case I might be able to adjust the code that it do not fails at this stage (as the

[2022-07-21 16:17] #1159 closed

[2022-07-21 18:42] cdietrich commented on #1159
many thanks @laeubi

[2022-07-23 11:18] iloveeclipse opened #1181 "OsgiManifestParserException's during SDK build"
I've per occasion stumbled over following errors during SDK build:
https://ci.eclipse.org/platform/job/eclipse.platform.releng.aggregator/job/PR-417/2/consoleFull

[code]

[2022-07-23 11:21] iloveeclipse commented on #1181
Not sure if that is related to https://github.com/eclipse-platform/eclipse.platform.ua/issues/42 where fileupload bundle probably is missing in the test runtime, but **org.apache.commons.commons-fileupload** has also errors:

[code]

[2022-07-23 11:33] laeubi commented on #1181
This is:

see
- https://github.com/eclipse-cbi/org.eclipse.cbi/issues/158
- https://github.com/eclipse/tycho/issues/872

[2022-07-23 11:33] #1181 closed

[2022-07-24 07:27] laeubi opened #1184 "SUpport classpath addition of bundle annotations if present"
PDE now supports Bundle/Version annotations https://github.com/eclipse-pde/eclipse.pde/pull/209 Tycho should support this for the compile-stage as well.

[2022-07-25 07:32] jarthana opened #1188 "Create a Java19 SE profile in Tycho"
I assume we still need to do this in order to run JDT tests (and others) at compliance 19. If so, I will create a PR for this.

[2022-07-25 07:50] laeubi commented on #1188
Profiles are no longer need for Tycho 3.x, so one could only consider this fro a theoretical 2.7.5 version, if you like to trigger one you need to:

1. checkout the 2.7.x branch
2. Update the version mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=<NEXT_VERSION>-SNAPSHOT
3. add the profile and open a PR, best would be two have two commits, one for version update and one for ad

[2022-07-25 10:33] mfsoliveira opened #1190 "Tycho failed to resolve target definition file for zipped P2 repository if authentication is required"
I am trying to use a zipped P2 repository, which was uploaded into a private NEXUS server inside a RAW repository.
I am getting the following error:

` Failed to resolve target definition file:/D:/path/to/target/file.target: Failed to load p2 metadata repository from location jar:https://server.url/repository/raw-p2-private-repository/plugin_dependency/latest/plugin_dependency.zip!/: Unable to rea

[2022-07-25 10:36] cdietrich commented on #1190
i did some remote debugging and saw the the RemoteRepositoryLoadingHelper.certainlyNoRemoteURL may return true as the uri will be opaque

[code]
so the code that sets up auth may not be called at all

[2022-07-25 10:39] laeubi commented on #1190
1. What version of Tycho are you using?
2. Please note that your current approach will download the file **multiple times**, P2 do not support zipped P2 sites nor does PDE
3. You may better consume it as a regular maven dependecy with `mvn:<groupid>:<artifactid>:<version>:zip` instead

[2022-07-25 10:40] #1190 closed, assigned to nobody

[2022-07-25 15:35] howlger commented on #1093
I faced the same, at least in my case misleading, error message caused by a missing `,` in `build.properties`, e.g.

[code]
instead of
[code]
Correcting `build.properties` fixed it for me.

[2022-07-25 16:12] howlger commented on #1093
When `bin.includes` contains a file that does not exist, Maven log says `.../target/classes does not exist` (tested with a sample plugin not containing Java code):
[code]

[2022-07-25 16:17] laeubi commented on #1093
@howlger can you provide an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue? I assume this happens when there is not a single class file compiled.

[2022-07-26 06:58] howlger commented on #1093
See https://github.com/eclipse/tycho/pull/1196

[2022-07-26 07:13] jarthana commented on #1188
OK, thanks. Looks like JDT is already on Tycho 3.x. So, we will not need to do this. Tomorrow I will enable tests for Java 19 (after JDk 19 is installed on jenkins instances) and close this issue after making sure everything is working for us.

[2022-07-26 08:48] mickaelistria commented on #1103
I'm reopening as this does not work as intended. It's intended that Tycho works just like OSGi and doesn't fail in cases where Equinox succeeds.

I just checked and believe it's not the case.

So it `tycho.equinox.resolver.uses=true` makes Tycho just work normally just like Equinox, shouldn't this be the default?

[2022-07-26 08:53] laeubi commented on #1103
This works as intended ...

Tycho succeeds here if you enable full use-clause processing, what only is necessary because of obscure requirement configurations of closely related projects.

No as it is not necessary for most use-cases and is ultra slow in some not so cases or even can fail completely as Tycho is **not** requiring a consistent (runtime) class-space, it only needs to find out the exp

[2022-07-26 08:57] laeubi commented on #1103
Please also see where it causes issues at runtime:
- https://github.com/eclipse-equinox/equinox/issues/84#issuecomment-1191295997

[2022-07-26 08:58] mickaelistria commented on #1103
That's now how I intend Tycho to work. Tycho should not create at built-time issues that are not happening at runtime.

Yet, Equinox does work fine with those "obscure requirement configurations of closely related projects", Tycho should too.

Those cases are also slow in plain Equinox, aren't they? It makes sense to align default Tycho behavior with Equinox one here to not give the impression Tyc

[2022-07-26 09:01] mickaelistria commented on #1103
I believe that enabling `uses` + giving a 10seconds timeout would make this case work, and be more consistent with Equinox while hopefully not be harmful to the vast majority of other projects (would it?)

[2022-07-26 09:07] laeubi commented on #1103
Well this was **explicitly** added as a feature to prevent people from waiting **hours** to complete their builds. So one has always balance things.

It does not work "fine" it works fine for this singular case, in other cases it just runs "forever" (in terms of the user-time)

They are not necessarily that slow in a "real" runtime, because for example you not install that much and do not install

[2022-07-26 09:10] laeubi commented on #1103
I often build projects > 300 modules, and there where even reports for > 1000 modules so even ten seconds will increase build times considerably.

[2022-07-26 09:20] mickaelistria commented on #1103
Are all the 300 modules affected by the fact that `uses` would add 10+ extra second each?

[2022-07-26 09:41] laeubi commented on #1103
One could not know as it depends on how projects relate to each other, what is in the target and so on, there where some experiment to find "good defaults" and it was found that the current ones (disabling use-clause processing) are both fast and not to cause no issue for a broad audience.

So I'm really not convinced to start this discussion again for academic purpose just because LSP4x refuse to

[2022-07-26 09:46] #1184 closed

[2022-07-26 09:50] mickaelistria commented on #1103
Would it be do-able that in such case of a dependency resolution issue, then another attempt is made with the "normal" resolver behavior (eg `uses=true`) ?

[2022-07-26 10:03] laeubi commented on #1103
Sure why not, I just rember there where cases where it runs very long (several minutes) so one should at least writeout a log message like: "Initial resolving failed, trying harder now ... " so the user is aware of something heavy and possibly long running is going on...

[2022-07-26 13:32] laeubi opened #1197 "Non existing file passed to compiler"
[code]

[2022-07-26 15:21] laeubi commented on #1197
Not a Tycho issue see:

- https://github.com/eclipse-jdt/eclipse.jdt.core/issues/261

[2022-07-26 15:21] #1197 closed

[2022-07-26 15:36] laeubi opened #1198 "org.eclipse.tycho.compiler.AbstractOsgiCompilerMojo.getClasspathElements() returns duplicate entries"
WHile looking into a JDT issue I noticed that we are passing man duplicate entries in

org.eclipse.tycho.compiler.AbstractOsgiCompilerMojo.getClasspathElements()

more specifically one per target environment. We should really filter this here to not make the live harder, this also blow up the debug outputs. Beside that, it also seems we are passing non exiting directories what JDT complains about.

[2022-07-26 17:29] #1093 closed

[2022-07-26 17:29] laeubi commented on #1093
This will be fixed in the next snapshot build, thanks for the test-case!

[2022-07-26 20:37] howlger commented on #1093
Thanks @laeubi for the quick response and for improving the error message. It's great that you take your time to do things like this besides driving Tycho innovation. Nice to see you've become a committer on PDE as well.

[2022-07-26 21:50] mickaelistria commented on #1103
Submitted PR https://github.com/eclipse/tycho/pull/1201

[2022-07-27 06:01] laeubi commented on #1093
No problem, I think in this case deriving the test case was much more work as the fix :-)

[2022-07-27 07:44] #1133 closed

[2022-07-27 08:27] col-panic commented on #1099
I'm feeling free to do the reminding :)

[2022-07-27 08:29] laeubi commented on #1099
The issue is fixed in JDT but not released yet so tycho can not include it see

- https://github.com/eclipse-jdt/eclipse.jdt.core/issues/241
- https://github.com/eclipse-jdt/eclipse.jdt.core/issues/209

[2022-07-27 08:32] col-panic commented on #1099
@laeubi thank you - how do I vote? can't seem to find the resp. eclipse bug ids?!

[2022-07-27 11:48] mickaelistria commented on #1099
FWIW, given that release process is owned by a very few people who do not have extra resources to spend on build stuff, I'm skeptical any form of voting can change the current capability of Eclipse JDT to release on demand. Such flexibility requires more investment, so basically, more contributors.
However, we recently changed things in Platform so that SNAPSHOTs can be produced on demand. If rece

[2022-07-27 12:02] laeubi commented on #1099
At least it can show that there are more people interested and thus is is valuable to spend the extra time to perform a simple

`mvn deploy:deploy-file -Dfile=<..>/org.eclipse.jdt.core-3.30.100-SNAPSHOT-batch-compiler.jar -DgroupId=org.eclipse.jdt -DartifactId=ecj -Dversion=3.30.100-RC1 -Dpackaging=jar`

... no one asked for a full release deployment ...

[2022-07-27 12:13] #1103 closed

[2022-07-28 02:07] jarthana commented on #1188
We seem to be able to run tests at 19 without explicitly creating the tycho profile. Perfect!

[2022-07-28 02:07] #1188 closed

[2022-07-28 07:59] vaclavHala opened #1208 "Resolving nested Target reference fails in partial reactor build"
Hello,
we want to be able to run tests both with locally built bundles and with a materialized product.
To achieve this we have three target files:
* prod - contains bundles we ship in the product
* test - contains bundles used during testing such as junit
* all - contains reference to the two above targets via `<location type="Target" uri="file:${project_loc:prod.target}/prod.target"/>` and simil

[2022-07-28 08:38] laeubi commented on #1208
to use `-am` / `-pl` you need to enable the tycho build extension:

https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#tycho-pomless-will-become-a-tycho-core-extension

[2022-07-28 09:00] vaclavHala commented on #1208
I should have said that all the artifacts have proper pom.xml so I'm not using pomless feature at all

[2022-07-28 09:03] laeubi commented on #1208
As the realse note suggest, we do not differentiate here anymore, there is only a `tycho-build` extension that also supports pomless builds but `-am` / `-pl` as well ...

[2022-07-28 09:13] vaclavHala commented on #1208
Hm I tried adding it but it made no difference. Maybe I misunderstood how it should be done - the project looks something like this
[code]

[2022-07-28 09:32] laeubi commented on #1208
You need to put it in the "root" and call e.g. `mvn -pl tests/testsA -am`

[2022-07-28 10:38] vaclavHala commented on #1208
Turns out the `-p` didn't work for me because I was calling it with artifact IDs but it expects exact string as present in `<module>`.
So I was calling `mvn -pl testsA,prod.target,test.target,all.target` which didn't find the targets.
When called like this `mvn -pl testsA,../releng/prod.target,../releng/test.target,../releng/all.target` it works as expected.

I though it should be possible to use

[2022-07-28 10:38] #1208 closed

[2022-07-28 10:39] laeubi commented on #1208
If you want to use artifact ids, you need to use `-pl :artifactid` (note the collon `:` in front of it!)

[2022-07-29 08:38] col-panic commented on #1099
@laeubi Can I integrate this somehow for myself into my pom.xml? E.g. By directly using https://download.eclipse.org/releases/2022-09/202207151001/plugins/org.eclipse.jdt.core_3.30.100.v20220705-0752.jar somehow?

[2022-07-29 08:45] laeubi commented on #1099
Yes see https://github.com/eclipse-jdt/eclipse.jdt.core/issues/241#issuecomment-1187635534

[2022-07-29 08:46] laeubi commented on #1099
Beside that I hope that some minor issues are fixed at ECJ in the next day and will simply deploy a fixed version to central under the Tycho group-id then...

[2022-07-29 12:05] pzi-dsa opened #1212 "Unable to deploy artifacts in parallel"
When trying to deploy our artifacts in parallel, I get the following error:

A sequential deployment works just fine.

What I find weird is that I have set `maven.install.skip` to `true`, so there should be nothing to update the index with.

The update-local-index Mojo should support parallel builds, so there shouldn't be more than one thread modifying the index at a time.

We build on Windows 10

[2022-07-29 16:11] laeubi commented on #1212
If it is reprocuable, can you post a stacktrace with `-e` switch?

[2022-07-29 17:14] laeubi commented on #1212
Strange enough this code path IS already synchronized, so knowing where the exception exactly occurs would be useful!

[2022-07-29 17:28] laeubi commented on #1212
@pzi-dsa I think there are some inconsistencies in Tycho regarding the index, I prepared a patch for this particular case now, if this is reproducible for you it would be great when you can try out the patch.

[2022-07-29 17:48] #913 closed

[2022-07-30 03:42] #1212 closed

[2022-07-30 10:37] cdietrich opened #1216 "ClassCastException: InstallableUnit"
with the current nightly i am getting

[code]

[2022-07-30 11:20] laeubi commented on #1216
You mean snapshot?

Reproducer? Such issues often arise if tycho-mojos are used or tycho API inside other plugins, but the tycho-maven-plugin is not included in the build itself.

[2022-07-30 11:24] cdietrich commented on #1216
[code]

[2022-07-30 13:00] laeubi commented on #1216
The example seems to use the deprecated some older Tycho version somewhere, I can see that the error is triggered by `org.eclipse.tycho.extras.sourcefeature.SourceFeatureP2MetadataProvider` that is not part of Tycho 3.x anymore.

[2022-07-30 13:10] cdietrich commented on #1216
But where is is where ?

[2022-07-30 13:11] laeubi commented on #1216
No idea, maybe some xtend plugin is pulling in Tycho dependencies?

[2022-07-30 13:12] cdietrich commented on #1216
I don’t think so. Will try to remove Xtend and more

[2022-07-30 13:30] laeubi commented on #1216
Either a plugin is pulling it in or a project reference it somewhere (but actually Tycho should already warn/error in this case)

[2022-07-30 13:45] cdietrich commented on #1216
see cd_tycho_issue1216 branch

[2022-07-30 13:45] cdietrich commented on #1216
problem seams to be in the feature/sourcefeature area

[2022-07-30 15:32] laeubi commented on #1216
See https://github.com/eclipse/tycho/blob/master/RELEASE_NOTES.md#removal-of-tycho-source-featuresource-feature

[2022-07-30 18:23] cdietrich commented on #1216
if it was removed, can we also remove it from the snapshot repo.

[2022-08-01 08:00] pzi-dsa opened #1223 "[windows] Error initializing P2DependencyResolver: P2ResolverFactory service is missing"
Since today, I'm unable to launch our Tycho build due to the following error:

Error initializing: org.eclipse.tycho.p2.resolver.P2DependencyResolver@1ef7e4c7
java.lang.NullPointerException: P2ResolverFactory service is missing
    at java.util.Objects.requireNonNull (Objects.java:233)
    at org.eclipse.tycho.p2.resolver.P2DependencyResolver.initialize (P2DependencyResolver.java:498)
    at org.e

[2022-08-01 08:05] laeubi commented on #1223
Are you maybe using some deprecated mojos somewhere? See for example:
- https://github.com/eclipse/tycho/issues/1216

Or do you use any (custom) tycho-extensions?

[2022-08-01 09:06] pzi-dsa commented on #1223
I checked multiple projects, it but as far as I can tell, neither is the case. I'm not even able to execute some of the already existing integration tests.

Our build nodes also always start with a clean workspace, so there shouldn't be any artifacts in the local repository causing issues. They work, however, with 2.7.4, so it must be caused by a recent change.

Furthermore, it only seems to be a

[2022-08-01 09:09] laeubi commented on #1223
Okay that might make a difference here, currently we only verify/run on linux I'll add a windows verification step, lets see if this could be reproduced.

If you like you can try to run with `mvn -U` as we recently merged a change that should provide (hopefully) more useful output in case of errors

[2022-08-01 12:28] laeubi commented on #1223
This seems like a path issue (again) on windows:
https://github.com/eclipse/tycho/runs/7608133060

[2022-08-01 13:28] #350 closed, assigned to nobody

[2022-08-01 14:29] pzi-dsa commented on #1223
That looks more like a general pathing issue but I doubt that's the cause for this problem.
I've created a pull request that should fix it. Let's see if that'll get the build to the integration tests.

[2022-08-01 14:44] laeubi commented on #1223
No that's another problem, I think I know where this originates but ...

lets wait unless this is fixed now so we don't interfere to much here, so just let me know when you are done with that and I'll try to propose a fix.

[2022-08-01 15:11] pzi-dsa commented on #1223
Fixing the Unit tests is all I wanted to do for today. Which seems to now be the case. Otherwise I'm also just waiting for the integration tests to complete.

[2022-08-02 13:57] #1223 closed

[2022-08-02 15:24] laeubi commented on #1223
@pzi-dsa the general issue is fixed even though it seems some tests still have issues on windows with additional error print out, if anyone likes to take a look this would be welcome.

[2022-08-02 20:23] tolland opened #1235 "eclipse starts and exits from product produced by itp04-rcp "Product example.product could not be found.""
Currently on fedora with java-11 (did try with java 18 as well) trying to build the itp04-rcp project. The maven build succeeds, and tar.gz and product is produced in target directory, however eclipse fails with the following error:

[code]

Build platform is:

[code]

Workspace log file
[output.log](https://github.com/eclipse/tycho/files/9245369/output.log)

maven build log:
[maven.log](https://g

[2022-08-02 22:47] tolland commented on #1235
Ah, this seems to be on the master branch only. tycho-2.7.x works ok.

[2022-08-02 23:46] tolland commented on #1235
So on the tycho-2.7.x branch the itp04-rcp demo works with:
http://download.eclipse.org/releases/2018-09/

but not if you bump to
http://download.eclipse.org/releases/2018-12/

so presumably something changes relating to product ids, around then

[2022-08-03 04:59] akurtakov commented on #1235
We have to make it work in master too.

[2022-08-03 05:03] laeubi commented on #1235
@akurtakov I really wonder if these examples are of any use today given that we do not execute/check them regularly and they are getting out of date with never eclipse releases.

[2022-08-03 06:32] pzi-dsa commented on #1223
I started our builds again and everything is working as well. Thank you for looking into this!

[2022-08-03 06:34] pzi-dsa commented on #1212
With the latest snapshot, parallel deployment works without issues. Thanks again for looking into this!

[2022-08-03 21:02] tolland commented on #1235
According to this:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=543428

needs product configuration updating to use recommended plugins. So this is after doing that....
https://github.com/eclipse/tycho/pull/1238/files

That seems to allow it to start with release 2022-06
![2022-08-03_22-02](https://user-images.githubusercontent.com/91288/182711178-e3c28fa0-5c8e-4e9c-8bd7-268a097261a8.png)

[2022-08-04 14:54] sewe opened #1239 "Allow PGP signature verification to be disabled"
This may sometimes be necessary, e.g., when facing bugs in a repository manager like Nexus (cf. [NEXUS-34538](https://issues.sonatype.org/browse/NEXUS-34538).

Likely, [`target-platform-configuration`](https://www.eclipse.org/tycho/sitedocs/target-platform-configuration/target-platform-configuration-mojo.html) will need to learn a new option. (A global switch is probably enough.)

Unfortunately, i

[2022-08-04 14:59] laeubi commented on #1239
I can't read the bug report as it seems not public visible... I assume you mean that nexus mess up the xml.

I don't think Tycho will add special options to fix bugs of commercial sold products.

The problem here is that the XML is messed up, so disabling verification will likely not be a solution here.

[2022-08-04 15:18] laeubi opened #1240 "BaselineValidateAndReplaceTest fails on windows"
On windows the test fails with:
[code]

@mickaelistria as you are more familiar with the baseline stuff, any chance to look into this? This might be a problem of line-ending normalization required before comparing files?

[2022-08-04 15:19] laeubi opened #1241 "CustomSourceEncodingTest fails on windows"
It fails with

[code]

[2022-08-04 15:20] laeubi opened #1242 "MetaRequirementsTest fails on windows"
It currently fails with

[code]

[2022-08-04 15:35] laeubi opened #1243 "Replace Equinox Resolver by OSGi Resolver Service"
Currently we use Equinox internal directly, but OSGi provides an [Resolver Service](http://docs.osgi.org/specification/osgi.core/7.0.0/service.resolver.html) abstraction that might be better suited and would probably give better ways to Tycho to give feedback to the user.

[2022-08-04 15:41] sewe commented on #1239
Yes, seems to be a security precaution of Sonatype.

At any rate, here is a diffoscope diff, which is not top secret; just the good old [Eclipse 2022-06 update site](https://download.eclipse.org/releases/2022-06/202206151000/) mirrored by Nexus: https://try.diffoscope.org/daaheuvxhkxa.html

[2022-08-04 15:48] laeubi commented on #1239
Yep that's a known (nexus) issue as nexus seem not handling XML content property, literal new lines are not valid content in an attribute definition. No idea why this is a security incident...

[2022-08-04 16:58] akurtakov commented on #1216
tycho-source-feature is gone for quite some time now but snapshots repo maybe contain older builds.

[2022-08-04 18:11] cdietrich commented on #1216
Yes this is why I wonder if we can / should purge the snapshot repo for 3.0.0

[2022-08-04 18:13] akurtakov commented on #1216
At least I'm not aware of how can this be achieved.

[2022-08-04 18:41] cdietrich commented on #1216
I assume an admin could do a find . - name 3.0.0-SNAPSHOT- type d | xargs rm -r

as snapshots for older versions also seem to disappear there must be a purge script already in place

[2022-08-05 09:59] mickaelistria commented on #1240
Yes, it could be a problem of line ending. The comparison does compare files byte-to-byte, so any difference breaks the comparison. Retrieving the content of the generated feature.xml and diffing it with baseline would easily reveal the actual difference and hint about remediation.
However, I won't be able to dig deeper as I don't use Windows.

[2022-08-05 10:05] laeubi commented on #1240
We have a windows verification build, so if you like to add some debug or try to improve the comparator for known test-files (e.g. txt/xml/...) maybe @pzi-dsa can also help here as he is using windows...

[2022-08-05 10:50] michaelcompressconsult commented on #1079
same with 2.7.4, java 11.3.
12:12:07 [ERROR] Failed to execute goal org.eclipse.tycho:tycho-packaging-plugin:2.7.4:package-feature (default-package-feature) on project xxxx.feature: Execution default-package-feature of goal org.eclipse.tycho:tycho-packaging-plugin:2.7.4:package-feature failed: basedir /var/workspace/workspace/.../xxxx.feature/target/classes does not exist -> [Help 1]

this is a fe

[2022-08-05 10:53] laeubi commented on #1079
please note that `flatten-maven-plugin` != `tycho-packaging:update-consumer-pom`

[2022-08-05 10:54] michaelcompressconsult commented on #1079
read one line further - gust wanted to show i use the flatten plugin.
12:32:18 [INFO] --- tycho-packaging-plugin:2.7.4:update-consumer-pom (default-update-consumer-pom) @ xxxxx.feature ---

[2022-08-05 11:00] laeubi commented on #1079
The mojo is always executed but skipped if you ask for it see

https://github.com/eclipse/tycho/blob/e299728383fa4be6cfa5c62e49e7139df0b6315f/tycho-packaging-plugin/src/main/java/org/eclipse/tycho/packaging/UpdateConsumerPomMojo.java#L96-L98

[2022-08-05 11:24] michaelcompressconsult commented on #1079
reviewed code there, looks ok.

[2022-08-05 11:44] laeubi commented on #1079
That's why I asked for an [integration-test](https://github.com/eclipse/tycho/wiki#providing-an-integration-test) to demonstrate the issue, its usually easier to see whats going on then if one has a minimal example.

[2022-08-05 11:59] michaelcompressconsult commented on #1079
checked location.
https://github.com/eclipse/tycho/blob/f2b46160a4f7dd70641767778f41bcd35e024594/tycho-packaging-plugin/src/main/java/org/eclipse/tycho/packaging/PackagePluginMojo.java#L239:~:text=//%203.%20handle%20nested,%5B0%5D))%3B
problem is that my feature does not have any "nested jars and included resources" (basically just a feature.xml in the rootdir), so the directory the packaging miss

[2022-08-08 09:31] boglisGeorgiana opened #1250 "tycho version 2.7.4 dependency conflict when calling a custom p2 eclipse touchpoint action for eclipse 2022-06"
If we are dealing with custom p2 eclipse touchpoint action a dependency conflict will cause the build to fail. Using eclipse 2022-06.
See log bellow:

_The actions required to successfully install the requested software can not be installed.
	Cannot complete the install because of a conflicting dependency.
		Software being installed: org.eclipse.equinox.p2.engine.actions.root.DefaultProfile 1.0.0.

[2022-08-08 09:38] laeubi commented on #1250
Please try out the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) build if you need the latest eclipse version support.

[2022-08-08 18:07] #1240 closed

[2022-08-09 17:50] HannesWell opened #1260 "Move Tycho-Pomless documention from wiki to site"
At the moment a lot of documention about Tycho-Pomless resides at this repos wiki at:
https://github.com/eclipse-tycho/tycho/wiki/Tycho-Pomless

I think that documentation would be better placed at [Tycho's documentation site](https://www.eclipse.org/tycho/sitedocs/). That's the place where I would search for it first.
If I understand it correctly a corresponding `TychoPomless.md` markdown file ca

[2022-08-09 17:53] laeubi commented on #1260
Site documentation is only updated on release, I found it more useful to update some docs also between releases.

[2022-08-09 17:53] akurtakov commented on #1260
You'll have to reference it in https://github.com/eclipse-tycho/tycho/blob/master/src/site/site.xml AFAIU.
@laeubi site seems to not have been published last for 2.7.0. Can you publish the 2.7.4 ?

[2022-08-09 17:56] laeubi commented on #1260
If we want to use more "site" stuff I think publishing should be automated so they are simply published on every build of a tycho-x-branch.

[2022-08-09 18:00] laeubi commented on #1260
By the way currently this seem to require a gerrit (!) to be created, we maybe better publish it to the github-pages, especially now we have an won tycho org? See https://pages.github.com/ ... this should allow us to fully automate this.

[2022-08-09 18:01] laeubi commented on #1260
@LorenzoBettini as you have [described it here](https://www.lorenzobettini.it/2020/01/publishing-a-maven-site-to-github-pages/) do you think you can help us setting this up for tycho if we create the necessary repository?

[2022-08-09 18:11] HannesWell commented on #1260
That's a point.

Sounds very good to me. I also wondered if it would be useful to keep the site of previous releases. At least of some. Maybe only for minors or at least the last one of a major branch. I think those that don't want/can migrate to Tycho 3.0 once it is released would be happy to at least have the documentation available.
IIRC I have seen it that there is a drop-down menu next to the

[2022-08-09 18:13] laeubi commented on #1260
I think it should be something like:

- master/
- tycho-2.7.x
- tycho-3.0.x
- ... and so on

We can the use an index file that simply gives a link to the subfolder (unless someone likes to create a page for tycho itself...)

[2022-08-09 18:21] HannesWell commented on #1260
Sounds good, but I cannot help with the website stuff itself. Never done this.

[2022-08-09 18:24] laeubi commented on #1260
If @mickaelistria and @akurtakov are fine with that, I'll create a ticket with infra to setup the github pages repo tomorrow... that would be the first step.

[2022-08-09 18:30] akurtakov commented on #1260
Go :)

[2022-08-09 19:03] LorenzoBettini commented on #1260
@laeubi yes, with pleasure! But I'm on holiday, I can get back to you approx next week, ok?

[2022-08-10 04:27] laeubi commented on #1260
I don't think we are in hurry here, so no problem :-)

[2022-08-10 04:41] laeubi commented on #1260
Here we go https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1650

[2022-08-10 10:39] jukzi commented on #213
JFR and VisualVM both show many samples near ResolverImpl.checkPackageSpaceConsistency() lines: 1442-1448
![image](https://user-images.githubusercontent.com/51790620/183881604-e0be8ef5-2589-4af7-a8e8-48a62a7e7205.png)

Thats basically a hash join but iterating over allImportRequirePkgs which is  often >>10 times bigger then pkgs.m_usedPkgs.
Especially if pkgs.m_usedPkgs is empty (happens) the cons

[2022-08-10 10:43] laeubi commented on #213
@jukzi I think this is better placed here: https://github.com/eclipse-equinox/equinox/issues/93 tycho is jsut a consumer, and maybe even https://issues.apache.org/jira/browse/FELIX-5648 as Equinox is consuming this from Felix :-)

[2022-08-10 11:34] akurtakov commented on #1165
@laeubi Are you looking into this one?

[2022-08-10 11:47] laeubi commented on #1165
I played around a bit but not yet very satisfied, my current idea is to wait until the 2022-09 release when we upgrade or try to use an approach that search for packages instead of bundle names, but all has it pro and cons. The best might be to allows alternative names, but this is a bit hard with the current implementation.

So I'm not sure what is the best approach not breaking the usage of "old

[2022-08-10 15:00] Kummallinen opened #1261 "PGP signature incorrectly generated for feature if the ID & version also match a bundle"
When using tycho-gpg-plugin on a repository containing a feature with the same ID & version as a bundle, for example org.eclipse.rcp, a PGP signature for the bundle is attached to the feature. This results in the p2 repository being unusable as the signature check on the feature fails on installation.

Looks like the problematic code is here: https://github.com/eclipse-tycho/tycho/blob/d9efa1acf42

[2022-08-11 14:31] laeubi commented on #1260
@LorenzoBettini the page is setup now! So we are ready to accept a PR whenever you are ready :-)

- Web link: https://eclipse-tycho.github.io/
- Repository: https://github.com/eclipse-tycho/eclipse-tycho.github.io

I would suggest we start with the following:

1. There is a `doc` folder in the root
2. for each branch that starts with `tycho-` a sitedoc should be generated and placed inside `doc/<b

[2022-08-15 17:22] LorenzoBettini commented on #1260
@laeubi, I'm not sure I understand how you want to proceed. My blog post is about publishing a Maven site to GitHub pages, together with plugin documentation. So the actual source repository should be this one.

[2022-08-15 17:24] laeubi commented on #1260
@LorenzoBettini you can simply push it to https://github.com/eclipse-tycho/eclipse-tycho.github.io master branch instead of the Tycho repository itself.

You can take a look at https://github.com/eclipse-tycho/tycho/blob/master/.github/workflows/verify-platform.yml how to checkout different repositories side-by-side.

[2022-08-16 06:22] laeubi commented on #1260
@LorenzoBettini if you still think its easier to push it to the same repo, we can still do this and link from the main site to the tycho-project site, so I would laeve the descission to you what is more suitable.

[2022-08-17 07:28] boglisGeorgiana commented on #1250
This indeed fixes the issue, any estimation on when will tycho 3.0 be released ?
Thank you for your support!

[2022-08-17 13:04] laeubi commented on #1250
Thanks for confirmation, see https://github.com/eclipse-tycho/tycho/milestone/5

[2022-08-17 13:04] #1250 closed

[2022-08-18 10:15] gerking opened #1274 "Failure to read classpath from dev.properties file if project path contains whitespace"
In an `eclipse-test-plugin` built on a Windows system, the classpath of the test plugin fails to be read from the dev.properties file if the project path contains whitespace. The problem can be easily reproduced by moving a project from a Windows path like `C:\Users\` to `C:\Users\Firstname Lastname\` and running a Surefire test that resolves the plugin classpath (using JDT/PDE). After moving, the

[2022-08-18 10:25] gerking commented on #1274
Test project for demonstration: [dev-properties-test.zip](https://github.com/eclipse-tycho/tycho/files/9372621/dev-properties-test.zip) (move project to a path containing whitespace and watch the included Surefire test fail)

[2022-08-18 13:35] rimuln opened #1275 "Support JUnit 5.9"
Mockito 4.7 depends not on JUnit 5.9.
During prepare update of our TP I need add Junit 5.9 too and later test fall on unknow junit provider version.

[2022-08-18 13:42] rimuln commented on #1275
PR #1276 created.

ECA I have signed. but the rest about IP I didn't fully understood. It is new for me since last contribution to this project. (It was in Gerrit and was about add support for JUnit 5.7 If remember correctly.

[2022-08-18 13:43] rimuln commented on #1275
@mickaelistria could you probably port it to 2.7.x too? now it is for 3.0.0-SNAPSHOT

[2022-08-18 14:05] akurtakov commented on #1275
Looking at junit58 provider it was supposed to cover newer JUnit versions unless there is breaking change - https://github.com/eclipse-tycho/tycho/blob/98a248c5b7c0d0581404c616a526cab4d87b33dc/tycho-surefire/org.eclipse.tycho.surefire.junit58/bnd.bnd#L2 .
So what exactly went wrong for you when using 5.9.0?

[2022-08-18 14:13] rimuln commented on #1275
Hi,

it is same as was in past with when I add new provider to thi plugin too (5.6 or 5.7):

```[ERROR] Failed to execute goal org.eclipse.tycho:tycho-surefire-plugin:2.7.4:test (default-test) on project de.ids.acos.et.shared.tests: Could not determine test framework provider. Available providers: [junit3, junit4, junit5, junit57withvintage, testng, junit58withvintage, junit47, junit56, junit55, j

[2022-08-19 07:37] vaclavHala opened #1277 "Enable configuring custom EquinoxLauncher"
We have some SWTBot-based GUI tests. We often run these in [XVFB](https://www.x.org/releases/X11R7.6/doc/man/man1/Xvfb.1.xhtml), record video of the virtual screen and pipe all output to some log file for later analysis, however to do that we need an external launcher script around maven which does something like this:
[code]

This works fine, but I don't love not being able to just run everything

[2022-08-19 08:06] laeubi commented on #1277
The usual way for this is to bind anything you need to setup for your integration test to the `pre-integration-test` phase to maven and shut down everything in the `post-integration-test` phase.

[2022-08-19 08:25] vaclavHala commented on #1277
Yes I know that mechanism, but it is not trivial to properly set up the XVFB environment without using the wrapper script they provide. So I would prefer to use that rather than trying to re-implement it myself (or using someone else's unofficial re-implementation. I quickly scanned through the code of the xvfb plugin and can't see it doing some of the things the official wrapper does) in the pre-

[2022-08-19 08:27] laeubi commented on #1277
If you want to do any manual application run then https://www.eclipse.org/tycho/sitedocs/tycho-extras/tycho-eclipserun-plugin/eclipse-run-mojo.html would be more suitable.

[2022-08-19 08:37] vaclavHala commented on #1277
Hmm that is possible but then I would need to re-implement everything that I want from surefire which is also not ideal.
I really like all that tycho-surefire does really, I just need to change a small bit about how it launches the forked jvm so ideally I'd like the amount of custom code/configuration required to achieve this to be proportional.

Allowing custom launcher felt right as it is very s

[2022-08-20 16:40] mickaelistria commented on #1277
Can you please exmlain how adding the xvfb-maven-plugin does require to re-implement anything?

[2022-08-20 18:26] lppedd commented on #1054
I'm trying out again IDEA.
I'm receiving exceptions like this one:

[code]

The repository has been defined under `repositories`

[code]

Why is Equinox looking for a `site.xml`?

[2022-08-21 20:14] mickaelistria commented on #1260
IMO, best is to have "manual" documentation directly in the repo, together with the code (same branch, not in a wiki), in some "documentation" folder. Maintaining a website is more complicated and doesn't bring additional value.
As for the automated documentation, how is GitHub a better service than the current eclipse.org site? If there is no additional value to expect, it's probably not worth ch

[2022-08-22 04:43] laeubi commented on #1260
The suggestion was to maintain this as part of the site-doc, so we get a website generated automatically.

We can deploy automatically the site-docs by GH action, while currently it requires us to generate the site doc locally, commit to a gerrit repo (no idea what will happen to that in the future ...) open a review, and as far as I can remember only some people can then actually merge this.

[2022-08-22 07:15] lppedd opened #1278 "Allow resolution of workspace dependencies without install"
As far as I understood, Tycho works by reading the MANIFEST/feature files, and it tries to match the dependencies found with the Target Platform, which in turn is calculated through different strategies (e.g. p2 repositories).

After some difficulties, I was able to adapt IntelliJ IDEA to work with Tycho (see also #1054); however, when refreshing the project model, local dependencies cannot be fou

[2022-08-22 07:29] laeubi commented on #1278
There is no such thing as "workspace" in maven, but intellij should be able to provide a `WorkspaceReader` that is asked for workspace related artifacts but this requires using maven model.

So as explained intellij must either be able to compute the full project closure or support PDE directly.

[2022-08-22 07:32] laeubi commented on #1054
Nexus has a known bug with producing wrong P2 Metadata, so you probably ant to check with an official repository first.

[2022-08-22 07:35] vaclavHala commented on #1277
It does not, my reaction about re-implementing was to suggestion from @laeubi  to use eclipse-run-mojo. Maybe I misunderstood but I thought this would mean replacing tycho-surefire by eclipse-run-mojo which would allow me to have the launcher command exactly as I want it, but at the cost of having to re-implement the way surefire assembles the command (which I want to keep, just add something to i

[2022-08-22 07:37] lppedd commented on #1278
Yes, by workspace I meant the concept of multiple plugins/features developed in the same context.

So what I've described is actually possible, all I'd need to do is try to understand how to correctly provide the overall workspace artifacts to Tycho?
Probably what you're saying is the same as what the original author of [this issue](https://youtrack.jetbrains.com/issue/IDEA-186628/Tycho-support-is

[2022-08-22 07:43] mickaelistria commented on #1278
I'm not sure that would be enough: the resoluti step here and the error come from p2; and the WorkspaceReader is not used during p2 resolution. Idea already provides a WorkspaceReader ( https://github.com/JetBrains/intellij-community/search?q=WorkspaceReader ) so I don't think a new one is necessary. However, the WorkspaceReader can participate to Maven resolution, and if there is no Maven instruc

[2022-08-22 07:51] laeubi commented on #1278
As mentioned it would require to declare dependencies in the maven model as Tycho otherwise can't know what requirement matches an artifact. "automatic" discovery currently only work if the project is build in the same reactor.

If one want it more "dynamic" I think we require the help of a `BuildContext` but currently there is no way to list workspace projects (what is something that Tycho actual

[2022-08-22 07:55] lppedd commented on #1278
@mickaelistria there is a point where we can change what IntelliJ IDEA does tho.
In the screenshot you can see that the IntelliJ Maven integration is passing only a single project to the session, so that might contribute to this behavior indeed.

![image](https://user-images.githubusercontent.com/19871649/185868219-7645072c-cab6-4793-9490-49ee08b79989.png)

The other info that you both wrote after

[2022-08-22 08:00] laeubi commented on #1278
As mentioned above, technically IntelliJ should/could call the `GraphBuilder` with a project list of "project" and the `MAKE_DOWNSTREAM` behavior, but this would require it to support using core extensions as well.

[2022-08-22 08:12] laeubi commented on #1278
Because you want all projects your current project depends on.

If you can compute the "correct list" then you don't need this...

[2022-08-22 08:20] mickaelistria commented on #1277
You can then use something like [exec](https://www.mojohaus.org/exec-maven-plugin/exec-mojo.html) instead of the xvfb plugin to run a more custom command if you prefer.

You proposal 2 and 3 are IMO way too difficult to implement for such a simple problem. This will take some time before you reach a decent result, and that result may as well be fragile.
I would recommend you start witht he xvfb pl

[2022-08-22 08:26] laeubi commented on #1277
See https://junit.org/junit5/docs/current/user-guide/#extensions-lifecycle-callbacks for JUnit 5.

[2022-08-22 08:31] mickaelistria commented on #1260
I actually challenge even the fact that we need a website at all. The benefits you're pointing would apply to a documentation folder in the master branch as well.

[2022-08-22 08:55] laeubi commented on #1260
Do we really want to start defining what "a website" is? Is Github UI a "website"? Beside that, Eclipse projects really would benfit from having a "real" website, just take https://karaf.apache.org/ and then look at the "websites" of usual eclipse projects e.g. Tycho https://projects.eclipse.org/projects/technology.tycho I think yes we

1. could really need a website to better explain what tycho i

[2022-08-22 08:56] vaclavHala commented on #1277
No I can't, it seems you misunderstand the problem, or I explained it badly. The thing is the wrapper script I want to use needs to get the "thing to be run inside the xvfb environment" as parameter which it then runs itself. Think `sudo` but for running command with changed X env where sudo runs command with changed privileges. So this:
[code]
does not work. To run the wrapper script I need to ha

[2022-08-22 09:22] laeubi commented on #1260
The target audience are people that need to setup/configure a Tycho build. These might be developers, build managers or whatever, at least people that expect to have up to date documentation in a accessible way without having to ask and given a folder with loosely structured information.

That's why it should be all automated so we can commit code and the rest goes on. and then maybe even others c

[2022-08-22 09:34] wimjongman commented on #1260
Yes, we have the BIRT documentation automated. Just change some markup, PR, merge, and the site is rebuilt.

https://eclipse.org/birt

https://github.com/eclipse/birt-website

[2022-08-22 09:37] laeubi commented on #1260
@wimjongman that looks really nice! By the way you can:

1. get an own org for bird (actually recommended by eclipse infra)
2. get an nicer domain e.g. we have https://tycho.eclipseprojects.io/

just open a ticket in the EF gitlab tracker!

[2022-08-22 09:55] lppedd commented on #1278
`MAKE_DOWNSTREAM` does not seem to work.

You did mention:

And I suppose you're referring to this:

https://github.com/eclipse-tycho/tycho/blob/98289ada2ce0a177b9c4c5d4872b4658631d7a0b/tycho-core/src/main/java/org/eclipse/tycho/core/maven/TychoMavenLifecycleParticipant.java#L106-L114

So, `projects` are passed in via the `MavenSession`. And that means we're back at the IntelliJ `session.setProjec

[2022-08-22 10:18] laeubi commented on #1278
The it **seems** you are doing something wrong ;-)

There is nothing that forbids you to do so...

[2022-08-22 10:21] lppedd commented on #1278
Yeah most probably 😄 It's pretty intricated and me not being an expert in any of them (well, maybe a bit in IDEA) means I have to debug to find how everything work together. Might have missed a step.

In this case do I still have to keep `MAKE_DOWNSTREAM` or can I remove the `setMakeBehavior` call?

[2022-08-22 10:23] laeubi commented on #1278
Make behavior is only relevant for the `GraphBuilder` and **you need to enable the Tycho build extension** for it to work, the plain Tycho-Maven-Extension do not need nor can do anything with that..

[2022-08-22 11:08] wimjongman commented on #1260
Thanks, but we have settled on this. It would be disruptive again for the community.

[2022-08-22 11:09] laeubi commented on #1260
@wimjongman everything is redirected, so there should be no "disruption" but of course it is your choice :-)

[2022-08-22 11:22] mickaelistria commented on #1261
Thanks @Kummallinen !

[2022-08-22 11:22] #1261 closed

[2022-08-22 11:43] lppedd commented on #1278
Thanks for the tip. To enable the extension do I have to edit the `.mvn/extensions.xml` file in the workspace root?

Also, I have tried passing in all the projects at the same time (I have three parent multimodule projects, 45 projects in total) and dependency resolution works! The only problem is that it takes 10 minutes every time to re-import. Need to investigate why.

[2022-08-22 12:15] lppedd commented on #1054
@laeubi in the end it was still related to

What I'm doing now is use offline `p2` repositories only, so no HTTP client is used.

[2022-08-22 12:18] laeubi commented on #1054
Then something seems wrong with how intelij setup the classpath for the plugin.

[2022-08-22 12:21] lppedd commented on #1054
@laeubi yep! We had already discussed about this maybe a month ago. This time I wasn't immediately able to capture the internal Equinox classloader exception, so I thought it started working.

[2022-08-22 13:35] mickaelistria commented on #1235
We got at least 1 user who tried it and reported an issue.
Those itp things used to be of very high value for tutorials and I still believe they are very nice for newcomers as entry point, but they indeed are getting outdated. I don't know how we could ensure they remain of high enough quality though.

[2022-08-22 16:10] lppedd commented on #1278
I have tried using the `tycho-build` extension, but placing the Jar inside `%MAVEN_HOME%/lib/ext`.
However, I receive this exception when trying mvn initialize -X

[code]

Am I missing another Jar?

[2022-08-22 16:56] laeubi commented on #1278
this is not supported, you need to use `.mvn` folder, sharing a minimal example would help to give further assistance.

[2022-08-22 17:25] lppedd commented on #1278
I'll try to create a small example with a couple plugins.
What I can already tell you is that it seems the IntelliJ resolution process never invokes the `TychoGraphBuilder`. It is created (I've debugged it), but never called.

[2022-08-23 04:18] laeubi commented on #1278
As I previously said, InteliJ most likely needs to be enhanced to do so.

[2022-08-23 07:08] merks opened #1281 "Provide a way to opt out of the behavior introduced by issue 898, i.e., don't include imports in the p2 repository"
Please provide a configuration option to opt out of the new behavior that was introduced by this issue:

https://github.com/eclipse-tycho/tycho/issues/898

The new behavior has already broken EPP's repository assembly build:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=580592#c3

Note the comment in that bug: `I think I am going to stay on older Tycho for the foreseeable future.`

I tested 2.7.4

[2022-08-23 07:19] laeubi commented on #1281
This is a valid choice and that's what release are for: for people who don't like to change.

You don't need a configuration option, simply remove requirements from your feature that you actually don't like to require. So you already *ca* configure this.

I don't think this is a valid assumptions. People simply add things, press button as they think it *might* fix something. So as long as you can

[2022-08-23 07:31] merks commented on #1281
It's not a permanent solution though.  Eventually I will be forced to use a newer version because of something the platform does or provides...

As I mentioned they are there for a reason.

I do not make assumptions about my own project's code.  I'm stating a fact.  Those things are intentionally there and are not the result of pushing a button.  Same for EPP.  It's intentional to specify the addi

[2022-08-23 07:34] mickaelistria commented on #1281
Requirements are transtively resolved, so what do those extra requirements in feature add here? What is broken if those are removed?

[2022-08-23 08:07] merks commented on #1281
Specifically for EPP, this p2 metadata needed to generate the product catalog because otherwise nothing in the metadata specifies the `installMode="root"` requirements of the product.

[2022-08-23 08:09] lppedd commented on #1278
This is better done by a real IntelliJ developer, not by an amateur (me lol).
Let's say I'll go forward with passing in the required projects in the same reactor: as of now I'm always passing in **all** the projects, but obviously this takes a lot of time even for a small change (e.g. an added required bundle).
To quote you again

This means if `my.company.c` needs to be refreshed, and it depends

[2022-08-23 08:16] laeubi commented on #1281
No one forces you to use new features, but actually that's the way with everything in your dependency chain, CI system, Java versions, dependencies, build tools, even operating systems or hardware!

At least Tycho can't afford the burden of keeping 100% backward compatibility by switches for every feature / fix

![](https://imgs.xkcd.com/comics/workflow.png)
https://xkcd.com/1172/

And it is inten

[2022-08-23 08:19] LorenzoBettini commented on #898
Maybe I'm missing something or forgot something, but from what I remember, such requirements are meant for things that are needed at runtime (while, of course, transitive dependencies for compile are usually taken care of automatically since they are required somewhere in MANIFEST). So this might look like a breaking change.

For example, I deploy a feature that is meant to be used with JDT UI, bu

[2022-08-23 08:29] merks commented on #1281
I didn't realize that.  But it seems so obvious now.

I have a hard time affording being downstream from `everything gets broken`.

So it behaves as if includeAllRequirements is true even when that's false?  If not, how is the behavior different from includeAllRequirements?

But I need that to be the case!  Maybe you don't notice that problem when you are not now downstream from 5000 dependencies,

[2022-08-23 08:30] cdietrich commented on #898
we also see some additional unwanted stuff popping up here
https://ci.eclipse.org/xtext/job/xtext-umbrella/job/cd_tycho300test/lastSuccessfulBuild/artifact/build/p2-repository/plugins/

[2022-08-23 08:36] mickaelistria commented on #1281
Sorry, I don't understand.
Can you please share references to the .product and feature.xml file and emphasize what particularly becomes incorrect in metadata if removing requirement in feature.xml?

[2022-08-23 08:37] cdietrich commented on #1281
in the past we deliberate moved stuff form include to import to avoid packaging it to our repository.

[2022-08-23 08:47] LorenzoBettini commented on #1281
As I said here https://github.com/eclipse-tycho/tycho/issues/898#issuecomment-1223723316

Maybe I'm missing something or forgot something, but from what I remember, such requirements in features are meant for things that are needed at runtime (while, of course, transitive dependencies for compile are usually taken care of automatically since they are required somewhere in MANIFEST). So this might

[2022-08-23 08:53] merks commented on #1281
@mickaelistri

Here's such a product with such `installMode="root"` requirements:

https://git.eclipse.org/c/epp/org.eclipse.epp.packages.git/tree/packages/org.eclipse.epp.package.committers.product/epp.product#n209

Those requirements don't end up in the p2 metadata so a p2.inf is generated to express those, i.e., the ones with filter `(org.eclipse.epp.install.roots=true)`  here:

[code]

[2022-08-23 09:13] estepper commented on #1281
The old behavior was not a bug but just correct and in line with common expectation! The format and the semantics of feature.xml were not invented by Tycho. I can't understand why some Tycho people decide to re-interpret these established semantics and break all their consumers.

In feature.xml we can use two different elements, <include> and <import>, where the former installs an IU while the lat

[2022-08-23 09:15] laeubi commented on #1281
No. `includeAllRequirements` behaves as described. it includes requirements of requirements and then the requirement of those and so on...

As explained, not *all* requirements are included, only those of the features you declare to be included into your update-site. If you include in your updatesites features that require "everything" then of course this "everything" is included.

If you don't wa

[2022-08-23 09:20] cdietrich commented on #1281
how can i say: if you install this feature please also install this other feature without adding a dependency to all contents of that other feature and without including it on our update site then.

[2022-08-23 09:23] laeubi commented on #1281
Can you give any normative reference here please? I mean beside "we did it always like this" ....

Please take a look at the resulting P2 metadata, they **are** the same there is nothing like "more like" or "greedy", they are both represented exactly the same!

The only difference is, that if you give a "not a version" aka "0.0.0" the version for the first is resolved at build time, while the late

[2022-08-23 09:42] LorenzoBettini commented on #1281
@laeubi Here's a simple example

- mybundle
- myfeature

where myfeature looks like this

[code]

So, it INCLUDES the bundle "guava" and the feature "eclipse help", while it REQUIRES the bundle "google inject (guice)" and feature "JDT".

Now, from Eclipse, run "Export deployable feature to create the corresponding P2 site" and that's the layout

[code]

So you see that INCLUDED stuff is part of th

[2022-08-23 09:43] Kummallinen commented on #1281
By that argument shouldn't Tycho always be including all non-optional plug-in & package dependencies? Which it actually only does if "includeAllRequirments" is set

[2022-08-23 09:52] laeubi commented on #1281
Please see explanation above. `includeAllRequirments` transitivly includes requirements **even if they are not mentioned** in the feature!

There are many thing Tycho do differently than PDE. And as you can see PDE includes much more than declared in the `feature.xml` here (what Tycho won't do). So this is something one could hardly compare. Also you are not building an update-site (`category.xml`

[2022-08-23 09:53] LorenzoBettini commented on #1281
@laeubi here's from the "Plug-in Development Environment Guide":

...
When the site is built, the included features (along with all plug-ins part of those features) will be exported into an installable form. The exported plug-ins and features will be put into two folders "plug-ins" and "features". Two other files, "content.xml" and "artifacts.xml" will also be generated and contain metadata for th

[2022-08-23 10:14] Kummallinen commented on #1281
So feature requirements should be treated differently to plugin requirements? As if I add a plugin directly to a p2 repo, without using a feature, Tycho does not include off of its requiremments, unless  includeAllRequirments is true.

[2022-08-23 10:46] estepper commented on #1281
I'm not going to let you waste my time. Everything has been said, by others and myself. You keep arguing and arguing for something that nobody wants...

[2022-08-23 10:50] sratz commented on #1281
This change came as a huge surprise to us as well.

We meticulously take care of what features/plugins to `<include>` and what features to `<require>`, in order to control which parts we actually *ship* and which parts we expect to be *already there* during install time (or to be fetched from other update sites)!

Due to this change, this suddenly changes what we are shipping.

So this is a *highl

[2022-08-23 11:36] laeubi commented on #1281
`site.xml` is not supported for a long time by Tycho anymore and removed from Tycho 3.x onwards.

All requirements will be added if you choose `includeAllRequirments` Tycho do not really "knows" about bundles / features here and thus delegates to P2 to do the actual stuff.

Me neither, feel free to use another tool that better suits what "everybody" wants, maybe PDE build?

Fact is:

1. There is n

[2022-08-23 12:01] sratz commented on #1281
We've only just upgrade from 2.7.3 to 2.7.4, because there were no issues that affected us in 2.7.3. We do not use 3.0.0 yet, because we cannot use SNAPSHOT builds in our corporate *release* build environment.

Yes, in the end during installation it all boils down to P2 doing its thing.
However, Tycho is the means to produce a _shipment artifact_ --  typically an update site. Therefore, it's absol

[2022-08-23 12:03] LorenzoBettini commented on #1281
@laeubi (disclaimer: it's not my intention to be offensive and direct in this comment; if I sound so, it's only due to the fact I'm not a native speaker)

I think the integration test you wrote for fixing https://github.com/eclipse-tycho/tycho/issues/898 should be enough to verify this: the `com.google.guava` should NOT end up in the generated p2 site.

What I verify in my build is that the genera

[2022-08-23 12:22] jonahgraham commented on #1281
I am unsure that is enough - Using 2.7.4 for EPP pulls in seemingly every [feature](https://download.eclipse.org/technology/epp/packages/2022-09/202208041200/features/) (187 of them, should be 12) but only a handful of extra [bundles](https://download.eclipse.org/technology/epp/packages/2022-09/202208041200/plugins/) (seemingly the only extras are the platform dependent fragments?)

[2022-08-23 12:42] laeubi commented on #1281
Actually it should be included as per bug description, as explained above, whether or not it was included depend on the `version` attribute what is not what is desired that it only works "sometimes".

So I assume this still works as expected.

No that is the misunderstanding here, Tycho is not build some "Update Site", as Update Site is some old way how it was packed.
Tycho assembles a `Repository

[2022-08-23 13:13] cdietrich commented on #1281
i still have no clue how to do with the new way: when i want feature a to be installed i also want to have feature b installed. i dont want to repackage b cause it is a separate eclipse project.

[2022-08-23 13:21] laeubi commented on #1281
That's why I said we should add an integration test for *that* use case, because at the moment there is only an integration test that uses a **bundle requirement** but we (sadly) have none that has a **feature requirement**. So maybe a feature requirement leads to (undesired) effect that the feature is included and then the requirements of the feature that requires other feature and so on ... but

[2022-08-23 13:46] merks commented on #1281
I think it's questionable to talk about 'right' versus 'wrong', and 'consistent' versus 'inconsistent' while at the same time arguing that there is no normative definition of the behavior.  There is no right or wrong without a definition, there are just opinions about to the long-standing behavior of the last 5 years versus the new behavior you introduced (and I'm not sure anyone actually wants).

[2022-08-23 13:49] LorenzoBettini commented on #1281
@laeubi what do you mean by the way?

From Eclipse I can generate a p2 repository with a category.xml (by the way, Eclipse introduced repository references in category.xml and Tycho implemented that (correctly) only later on).

PDE includes LESS than Tycho now does: PDE includes ONLY included stuff, NOT the required one.

[2022-08-23 13:54] laeubi commented on #1281
I can't find the thread, but a while back in PDE it was discussed to remove the `site.xml` (and the corresponding wizard) because it was deprecated a long time (mostly because it requires more traffic as far as I remember) and `category.xml` seems a replacement (and Tycho from 3.x on will only support `category.xml`) but ti was argued that one can't easily export `category.xml` as a site but `site

[2022-08-23 14:04] LorenzoBettini commented on #1281
@laeubi

I haven't used any `site.xml`.

This is the `category.xml` (again related to my previous `feature.xml`, https://github.com/eclipse-tycho/tycho/issues/1281#issuecomment-1223823422, which, by the way, can be used as the test project, as also @merks noted):

[code]

This is the "Export" wizard and the corresponding entry for category:

![image](https://user-images.githubusercontent.com/12022

[2022-08-23 14:04] cdietrich commented on #1281
i am currently looking into a reproducer, unfortunately my internet is very very very slow so that i cannot really test locally https://github.com/eclipse-tycho/tycho/compare/master...cdietrich:tycho:cd_issue1281_test

[2022-08-23 14:10] cdietrich commented on #1281
ok i guess the reproducer is showing the problem now

[2022-08-23 14:15] merks commented on #1281
I recall that thread too! Let me see if I can find it...

[2022-08-23 14:18] cdietrich commented on #1281
Yes I just looked at the featurerequirement
In the old tycho versions guava would also be an assert false

[2022-08-23 17:17] laeubi commented on #1281
@cdietrich thanks a lot for providing the test-case, as mentioned in the PR we should slightly adjust it to cover the different cases but beside that I think its fine!

[2022-08-24 03:50] #926 closed

[2022-08-24 05:45] rimuln commented on #1275
PR #1276 is merged to master

[2022-08-24 05:45] #1275 closed

[2022-08-24 14:50] #1281 closed

[2022-08-25 12:12] lppedd commented on #874
Is this issue still valid for 2.7.4 @Phillipus?

[2022-08-25 12:16] Phillipus commented on #874
Yes, it is. But I don't believe it was intended to be changed in 2.7.x as per the comment above.

[2022-08-25 12:29] laeubi commented on #874
If anyone wants this for 2.7.5 we would need a PR against the 2.7.x branch.

[2022-08-25 14:17] lppedd commented on #874
Btw, are we really sure this has to be done on the Tycho side?
SLF4J documentation states:

[2022-08-25 14:53] cdietrich commented on #1281
can confirm the Xtext build behaves as expected again too. thx for fixing @laeubi

[2022-08-25 15:10] lppedd commented on #1278
Support is implemented.
There is an issue with logging tho. You can see what the issue is about [here](https://youtrack.jetbrains.com/issue/IDEA-186628/Tycho-support-is-broken#focus=Comments-27-6412160.0-0).
Any suggestion to get it working is much appreciated! 😄

[2022-08-25 16:24] LorenzoBettini commented on #1281
Thanks @laeubi ! Will it be ported to 2.7.5?

[2022-08-25 16:51] laeubi commented on #1281
It was reverted for 2.7.5-SNAPSHOT, build is running here: https://ci.eclipse.org/tycho/job/tycho-github/job/tycho-2.7.x/56/

[2022-08-26 14:16] laeubi opened #1288 "Copy bin icnluded files into the output folder instead of only consider them in the package phase"
Currently bin included files are packaged as part of the package phase into the resulting jar.

This has the drawback that certain tool assume that the `target/classes` folder is something that can be seen as the result of the build as an exploded jar (e.g. when using that in classpathes).

For this to work there should be a ne mojo e.g. bound to the `process-classes `phase that do the copy to the

[2022-08-26 15:35] laeubi opened #1290 "Reduce usage of P2ApplicationLauncher"
Currently Tycho uses `P2ApplicationLauncher` to launch a P2 Application from maven.

Now maven+OSGi can interact with each other, we should reduce those usages by using direct calls e.g.:

- CategoryP2MetadataMojo
- FeatureP2MetadataMojo
- UpdateSiteP2MetadataMojo (is this maybe obsolete @akurtakov ?)
- MavenP2SiteMojo
- PublishFeaturesAndBundlesMojo
- BundlesPublisher
- ProvisionedInstallationBui

[2022-08-26 15:42] laeubi commented on #1288
@mickaelistria @akurtakov what do you think? I have the feeling that if we do all the copy that happens in `PackagePluginMojo` e.g. in `prepare-package` what is described as

then we might can use the standard maven-jar plugin here?

[2022-08-26 15:49] mickaelistria commented on #1288
Moving to an earlier phase (eg `process-resources` or `prepare-package` would indeed be best. And indeed it would allow to rely more and standard Maven and thus to better interact with external tools with less customization on their end.
So far, I see only positive outcome if we change that as you suggested! I hope we're not missing some hidden important corner-case...

[2022-08-26 15:51] laeubi commented on #1288
Every change breaks someones workflow ;-)

![](https://imgs.xkcd.com/comics/workflow.png)
https://xkcd.com/1172/

[2022-08-26 15:55] mickaelistria commented on #1288
You're like a younger me. I used to quote this strip weekly on bugzilla not that many years ago ;) And I agree with it.
But still, things are not always breaking workflows (as in making them worse), actually they rarely do; and when they do, we have to deal with it at best. Compromise often works. Doing 3 steps ahead and being forced to make 1 step backward for some reason that are hard to mitigat

[2022-08-26 15:56] laeubi opened #1291 "pomless should make source folder aviable in the maven model"
It is usual to configure the source/output folder in eclipse as

- src
- bin

while maven uses

- main/java
- target/classes

that currently leads to the situation, that in a pomless build scenario there are two distinct output folders where classes resides (and e.g. eclipse uses the first while maven uses the later).

Because of this, Tycho pomless should configure the output folders accordingly.

[2022-08-26 15:57] laeubi commented on #1288
To summarize I think we will never know if we not try it out :-D

[2022-08-26 16:01] akurtakov commented on #1288
Let's do it in this case.

[2022-08-28 13:41] laeubi commented on #1290
P2ApplicationLauncher is no longer used.

[2022-08-28 13:41] #1290 closed

[2022-08-28 15:19] laeubi opened #1296 "Migrate CustomBundle Mojo invoker tests to plain tycho itest"
`CustomBundle` uses maven-invoker test that are hard to understand and debug...

It would be good to convert these to a regular integration test in the `tycho-its` module.

[2022-08-28 15:21] laeubi opened #1297 "CustomBundle is poorly documented"
`CustomBundle` only has a very short description:

https://github.com/eclipse-tycho/tycho/blob/master/tycho-extras/tycho-custom-bundle-plugin/src/main/java/org/eclipse/tycho/extras/custombundle/CustomBundleMojo.java#L44-L48

It would be good to better document this and as well have some integrationtests that show its usage, see also:
- #1296

[2022-08-28 15:23] nitind commented on #1079
I agree, however as I have no idea what's causing this regression, I don't know how to trigger it on purpose beyond "here's a large public repository we've been building for years where behavior is now broken."

[2022-08-28 15:29] laeubi commented on #1079
Usually one can take the large repo and try to reduce it e.g.:

1. do the problem also happen when only building one module
2. did it also happen if I remove certain content from that module
3. do it happen for all or only a specific module
4. can I create a bare empty example that works, and now adding more of my content
5. ...

[2022-08-28 15:32] laeubi commented on #1079
By the way there was a fix here that sounds similar: https://github.com/eclipse-tycho/tycho/commit/0eb720ef75edc7f125b55f4c6e6fcf92e5714c6c

So please try out the current [tycho snapshot](https://github.com/eclipse/tycho/wiki#getting-tycho-snapshots) build to check if the problem is fixed there.

[2022-08-29 12:11] lppedd opened #1301 "Emulate Eclipse Run Configuration"
In an effort to minimize the interactions with the Eclipse UI (and move away from it), I'm converting some manual procedures done through the Eclipse UI to Maven goals. An example is the generation of EMF models using the `eclipse-run` plugin.

Now, is it possible to do the same for the Run Configuration?
My environment is made up of multiple plugin bundles, which target Eclipse 4.23.

[2022-09-01 10:18] LorenzoBettini commented on #1281
@laeubi do you plan to release 2.7.5?
thanks in advance

[2022-09-01 10:59] laeubi commented on #1281
There is no real "plan", so if some people test the snapshot and there is no more things to fix/back port we can start the process any time.

[2022-09-01 14:06] LorenzoBettini commented on #1281
@laeubi I tested the 2.7.5-SNAPSHOT and for it me it works fine

[2022-09-07 11:50] fipro78 commented on #1052
@laeubi Any update on this? The test case is provided and actually fails as it shows the bug. :)

On setting up another project I ran into the same issue and remembered that I already reported this.

[2022-09-07 12:00] laeubi commented on #1052
@fipro78 sorry I was not yet able to look into this yet :-\

[2022-09-07 15:04] laeubi commented on #1052
I played around a bit with the example and it seems there is a specific problem with this artifact other maven items works fine and one can reproduce it with this simplified product:

[code]

Funny enough tycho seems to be able to resolve the version in the product processing part, so I fear this has to do with the "maven repository blackboard key" somehow (what remembers me we should really get r

[2022-09-07 15:07] laeubi commented on #1087
As it seems there is not much need in wildcard support, I'll close this for now and we can reopen if there is some more interest/real usecase.

[2022-09-07 15:07] #1087 closed

[2022-09-07 15:08] laeubi commented on #1216
I think we can close this for now. Fiddling around on the repo server directly seems a bit dangerous here...

[2022-09-07 15:11] laeubi commented on #1052
@mickaelistria I think this is also a good example for what we need to solve when we want to allow Manifest Version != pom.xml version story.

[2022-09-07 16:11] mickaelistria commented on #1052
I don't remember sorry. I'd need to investigate that and I'm currently more focused on other bits of code.
A very minimal reproducer would be welcome, if I find some time to dedicate to this issue.

[2022-09-09 13:28] iloveeclipse opened #1322 "Add regression test for memory leak caused by surefire"
See https://github.com/eclipse-tycho/tycho/issues/879 and https://github.com/eclipse-tycho/tycho/pull/1321.

It makes no sense to update to surefire as long as it still has this bug not fixed https://issues.apache.org/jira/browse/SUREFIRE-2072

[2022-09-09 13:49] mickaelistria commented on #1322
Contribuitons welcome!

[2022-09-10 17:22] HannesWell opened #1324 "Many classes are licensed under EPL v1.0"
I just noticed that many classes in Tycho have a License-header that states that they are licensed under EPL v1.0. When I search my Tycho workspace for `https://www.eclipse.org/legal/epl-v10.html` I get 441 hits in `*.java` files.

Until know I assumed Tycho is entirely licensed under EPL-2 and now wonder if this is intentional and relevant and if it should be changed?

[2022-09-11 07:23] laeubi commented on #87
As time has passed by, and we now have the very useful `TychoGraphBuilder` I think this could be handled there to enhance the reported set of projects. Given that we have relative small change sets but large build-graphs this might improve build times considerably,

[2022-09-11 15:46] nitind commented on #1079
The 2.7.5 release, which I think has this change, seems to no longer have the problem. I'm updating all of my build jobs to 2.7.5 to make sure.

[2022-09-11 15:55] laeubi commented on #1079
Yes the fix is part of Tycho 2.7.5

[2022-09-11 19:21] nitind commented on #1079
Confirmed, my jobs are all running properly with 2.7.5.

[2022-09-11 19:21] #1079 closed

[2022-09-12 08:11] mickaelistria commented on #1324
I think those are leftovers and can/should be changed to newer license header. The copyright owner and date must remain, so a search pattern should only find/replace the next lines.

[2022-09-12 08:46] boglisGeorgiana opened #1325 "Dependency conflict when calling a custom p2 eclipse touchpoint action for eclipse 2022-06 when using tycho 3.0.0-SNAPSHOT"
Build was successful using the 3.0.0-SNAPSHOT version, first noticed it failing on the 9th of September.
I have no reference to tycho version 2.7.5, but I see it mentioned in the log error:

See error log bellow:

_The actions required to successfully install the requested software can not be installed.
	Cannot complete the install because of a conflicting dependency.
		Software being installed: o

[2022-09-12 13:07] #1324 closed

[2022-09-15 14:21] laeubi opened #1345 "Resolve p2 dependencies against central to get the real GAV"
P2 dependencies are not very useful in plain maven and are often confusing. Because of this the update-consumer-pom should be enhanced to make this configurable and omit p2 dependencies by default.

FYI: @hd42

[2022-09-15 14:34] akurtakov commented on #983
All blockers coming from jdt.core are done now. I plan to move to Java 17 ASAP.

[2022-09-15 14:35] laeubi commented on #983
There are two Tycho issues related to Java 17 that should be fixed first:
- https://github.com/eclipse-tycho/tycho/pull/951
- https://github.com/eclipse-tycho/tycho/pull/809

[2022-09-15 14:48] hd42 commented on #1345
Even better would be to replace them with the corresponding Maven-Dependencies
<dependency>
      <groupId>p2.eclipse.plugin</groupId>
      <artifactId>org.eclipse.core.runtime</artifactId>
      <version>3.17.100.v20200203-0917</version>
      <type>eclipse-plugin</type>
      <scope>provided</scope>
      <optional>true</optional>
</dependency>

should become

<dependency>
      <groupId>org.ec

[2022-09-15 14:50] laeubi commented on #1345
Yes, but Tycho can't "search central" and guess what the right artifact is :-)

All artifacts that promote "correct" metadata are already replaced, platform sadly don't do this.

[2022-09-15 15:26] laeubi commented on #983
I must confess it feels still a bit risky for me to require Java 17 just because we can without an immediate need (e.g. a library is only available for java 17) given the major impact on all users + build systems...

[2022-09-15 15:35] akurtakov commented on #983
By risk you mean users sticking to 2.7 and not moving to 3.0 or actual technical issues ?

[2022-09-15 16:04] laeubi commented on #983
Both while the later I'm more concerned about as once we moved forward its hard to go back, and given that in the last release some serve Java 17 issues are discovered in JDT it might be better give it some more time, I assume more and more projects are moving forward and thus we will maybe discover more issues.  And if platform itself moves to java 17 we must move Tycho also anyways... So given t

[2022-09-15 16:10] akurtakov commented on #983
In the past Tycho was one of the driving force to Java 11 adoption rather than waiting for others. I hoped to keep that state. Let's have a vote on that. I'll start in on the mailing list.

[2022-09-15 17:52] laeubi commented on #1345
@mickaelistria are your enhancements regarding fixed group/artifact id already included in the 2022-09 release? If yes can you give an example of such an item?

[2022-09-15 19:12] mickaelistria commented on #1345
No, they're not, and this work is far from being complete anyway.

Why not? seach.maven.org allows to [search artifacts by checksum](https://central.sonatype.org/search/rest-api-guide/). It would be nice to use it.

[2022-09-15 19:24] HannesWell commented on #983
While I think it is good to move forward and push instead of being pulled I also agree that we should be relatively sure that there are no sever technical issues, especially since Java 17 has no absolutely required feature (as far as I know, nevertheless it has many benefits!)
On the other hand if we now release Tycho 3 at Java 11 we maybe have Tycho 4 with Java 17 not too far in the future (when

[2022-09-15 20:15] mickaelistria commented on #983
#951 seems to be invalid as per ECJ behavior requiring to run a Java 17 or newer in order to target Java 17 (to be confirmed on the issue)
#809 is not a related to adopting Java 17, the issue seems reproducible with Java 11.

[2022-09-15 23:16] DieterMai commented on #309
I've created an PR with integration tests (#1346)
I was not able to fix the issue since I'm not familiar with maven plugins, but the issue seems to be the code in ProjectMetadataReader#addBasedir()

[code]

"modelProcessor" is a "DefaultModelLocator" which will always return "pom.xml" as a file. This can not be correct since the name of a pom can be any valid file name.
Also the line `if (basedir.

[2022-09-16 05:03] laeubi commented on #1345
okay if there is no concern I can add such an option, but this then would only work for central not sure if we maybe can have similar for nexus or other ...